Repository zeta-chain/node, pull requests merged in 2023-09, with the labels that each got.

#1093 fix: hotfix v9.0.3
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  zetaclient/evm_client.go
  zetaclient/query.go
Labels: breaking:proto

#1062 feat(`crosschain`): increase pending cctx gas prices
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/cross_chain_tx.proto
  proto/crosschain/tx.proto
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks.go
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/sample/crosschain.go
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/keeper.go
  x/crosschain/keeper/keeper_cross_chain_tx_vote_outbound_tx.go
  x/crosschain/keeper/keeper_cross_chain_tx_vote_outbound_tx_test.go
  x/crosschain/keeper/keeper_utils.go
  x/crosschain/module.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/message_vote_on_observed_outbound_tx.go
  x/crosschain/types/message_vote_on_observed_outbound_tx_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/bitcoin_client.go
  zetaclient/evm_client.go
  zetaclient/evm_signer.go
  zetaclient/tx.go
Labels: breaking:proto, breaking:cli

#1096 feat(`fungible`): add message to pause/unpause zrc20
  app/app.go
  contrib/localnet/orchestrator/smoketest/contracts/vault/Vault.abi
  contrib/localnet/orchestrator/smoketest/contracts/vault/Vault.bin
  contrib/localnet/orchestrator/smoketest/contracts/vault/Vault.go
  contrib/localnet/orchestrator/smoketest/contracts/vault/Vault.json
  contrib/localnet/orchestrator/smoketest/contracts/vault/Vault.sol
  contrib/localnet/orchestrator/smoketest/contracts/vault/bindings.go
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/orchestrator/smoketest/smoketest.go
  contrib/localnet/orchestrator/smoketest/test_crosschain_swap.go
  contrib/localnet/orchestrator/smoketest/test_pause_zrc20.go
  contrib/localnet/orchestrator/smoketest/test_stress.go
  contrib/localnet/orchestrator/smoketest/utils.go
  contrib/localnet/orchestrator/smoketest/zeta_tx_server.go
  contrib/localnet/scripts/genesis.sh
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  proto/fungible/events.proto
  proto/fungible/foreign_coins.proto
  proto/fungible/tx.proto
  testutil/keeper/fungible.go
  testutil/keeper/keeper.go
  testutil/sample/fungible.go
  testutil/sample/sample.go
  testutil/sample/sample_test.go
  x/fungible/genesis_test.go
  x/fungible/keeper/evm_hooks.go
  x/fungible/keeper/evm_hooks_test.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/gas_stability_pool_test.go
  x/fungible/keeper/grpc_query_foreign_coins_test.go
  x/fungible/keeper/grpc_query_params_test.go
  x/fungible/keeper/msg_server_test.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status_test.go
  x/fungible/keeper/params_test.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/types/errors.go
  x/fungible/types/events.pb.go
  x/fungible/types/foreign_coins.pb.go
  x/fungible/types/message_update_zrc20_paused_status.go
  x/fungible/types/message_update_zrc20_paused_status_test.go
  x/fungible/types/tx.pb.go
  x/observer/types/params.go
Labels: breaking:proto

#1087 feat(`observer`): add core params list in genesis
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  proto/observer/genesis.proto
  testutil/sample/observer.go
  x/observer/genesis.go
  x/observer/genesis_test.go
  x/observer/types/genesis.pb.go
Labels: breaking:proto

#1102 ci: nosec detection
  .github/workflows/sast-linters.yml
Labels: CI/CD, nosec

#1130 refactor(`crosschain`): rename `ZetaMinted` into `ValueReceived` in `MsgVoteOnObservedOutboundTx`
  docs/spec/crosschain/messages.md
  proto/crosschain/events.proto
  proto/crosschain/tx.proto
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/client/integrationtests/outbound_voter_test.go
  x/crosschain/keeper/events.go
  x/crosschain/keeper/keeper_cross_chain_tx_vote_outbound_tx.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/message_vote_on_observed_outbound_tx.go
  x/crosschain/types/message_vote_on_observed_outbound_tx_test.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto, breaking:cli

#1145 refactor: generic `Header` and `Proof`
  common/common.pb.go
  common/headers.go
  common/proof.go
  common/proof_test.go
  contrib/localnet/orchestrator/smoketest/test_deposit_eth.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  docs/spec/observer/messages.md
  proto/common/common.proto
  proto/crosschain/tx.proto
  proto/observer/headers.proto
  proto/observer/query.proto
  proto/observer/tx.proto
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  x/crosschain/keeper/keeper_out_tx_tracker.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/message_add_to_out_tx_tracker.go
  x/crosschain/types/tx.pb.go
  x/observer/keeper/block_header.go
  x/observer/keeper/grpc_query_prove.go
  x/observer/keeper/msg_server_add_block_header.go
  x/observer/types/errors.go
  x/observer/types/headers.pb.go
  x/observer/types/messages_add_block_header.go
  x/observer/types/query.pb.go
  x/observer/types/tx.pb.go
  zetaclient/evm_client.go
  zetaclient/query.go
  zetaclient/tx.go
Labels: breaking:proto

#1148 remove zetachain from config
  cmd/zetaclientd/init.go
  common/default_chains_mainnet.go
  common/default_chains_mock_mainnet.go
  common/default_chains_privnet.go
  common/default_chains_testnet.go
  standalone-network/run-zetaclient.sh
  x/observer/types/core_params_mainnet.go
  x/observer/types/core_params_mock_mainnet.go
  x/observer/types/core_params_privnet.go
  x/observer/types/core_params_testnet.go
  zetaclient/config/config_mainnet.go
  zetaclient/config/config_mock_mainnet.go
  zetaclient/config/config_privnet.go
  zetaclient/config/config_testnet.go
  zetaclient/query.go
  zetaclient/zetabridge.go
Labels: breaking:cli

#1131 feat: add new query for pending nonces using chain id
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  x/crosschain/keeper/keeper_pending_nonces.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
Labels: breaking:proto

#995 feat(`fungible`): add message to update contract bytecode
  contrib/localnet/orchestrator/smoketest/contracts/testzrc20/TestZRC20.abi
  contrib/localnet/orchestrator/smoketest/contracts/testzrc20/TestZRC20.bin
  contrib/localnet/orchestrator/smoketest/contracts/testzrc20/TestZRC20.go
  contrib/localnet/orchestrator/smoketest/contracts/testzrc20/TestZRC20.json
  contrib/localnet/orchestrator/smoketest/contracts/testzrc20/TestZRC20.sol
  contrib/localnet/orchestrator/smoketest/contracts/testzrc20/bindings.go
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/orchestrator/smoketest/test_update_bytecode.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  proto/fungible/tx.proto
  testutil/keeper/mocks/fungible/evm.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_privnet.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/msg_server_update_contract_bytecode.go
  x/fungible/keeper/msg_server_update_contract_bytecode_test.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
  x/fungible/types/message_update_contract_bytecode.go
  x/fungible/types/message_update_contract_bytecode_test.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto

#1064 feat(`crosschain`): general improvements for gas payments and revert txs
  app/app.go
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/orchestrator/smoketest/test_crosschain_swap.go
  contrib/localnet/orchestrator/smoketest/test_deposit_eth.go
  contrib/localnet/orchestrator/smoketest/test_erc20_refund.go
  docs/spec/crosschain/messages.md
  go.mod
  go.sum
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/network/network_config.go
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/client/integrationtests/inbound_voter_test.go
  x/crosschain/client/integrationtests/outbound_voter_test.go
  x/crosschain/genesis_test.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/grpc_query_in_tx_hash_to_cctx_test.go
  x/crosschain/keeper/in_tx_hash_to_cctx_test.go
  x/crosschain/keeper/keeper_cross_chain_tx_vote_inbound_tx.go
  x/crosschain/keeper/keeper_cross_chain_tx_vote_outbound_tx.go
  x/crosschain/keeper/keeper_out_tx_tracker_test.go
  x/crosschain/keeper/keeper_tss_voter.go
  x/crosschain/keeper/keeper_utils.go
  x/crosschain/keeper/zeta_conversion_rate.go
  x/crosschain/module.go
  x/crosschain/types/cctx_utils.go
  x/crosschain/types/cctx_utils_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_privnet.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/foreign_coins.go
  x/fungible/keeper/foreign_coins_test.go
  x/fungible/keeper/system_contract.go
  x/observer/types/core_params_testnet.go
  zetaclient/evm_client.go
  zetaclient/tx.go
Labels: breaking:cli

#1128 test(`fungible`): increase keeper code coverage
  docs/openapi/openapi.swagger.yaml
  proto/fungible/tx.proto
  testutil/sample/sample.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_privnet.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/gas_price.go
  x/fungible/keeper/gas_price_test.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_remove_foreign_coin_test.go
  x/fungible/keeper/msg_server_test.go
  x/fungible/keeper/msg_server_update_system_contract_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/types/message_update_system_contract.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto

#1163 fix: tss metrics
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  zetaclient/query.go
  zetaclient/tss_signer.go
  zetaclient/tx.go
  zetaclient/zetabridge.go
Labels: breaking:cli

#1147 fix: improve Bitcoin keysign performance to target outbound TPM of 5
  contrib/localnet/orchestrator/smoketest/test_stress.go
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/keeper_cross_chain_tx.go
  x/crosschain/keeper/keeper_pending_nonces.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/observer/types/core_params_testnet.go
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
  zetaclient/btc_signer_test.go
  zetaclient/query.go
  zetaclient/types/sql_btc.go
  zetaclient/utils.go
  zetaclient/zetacore_observer.go
Labels: breaking:proto, nosec

#1168 fix: zetclient panic
  cmd/zetaclientd/start.go
Labels: breaking:cli

#1169 refactor(`observer`): create admin policy group 1 and group 2
  contrib/localnet/scripts/genesis.sh
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  docs/spec/observer/messages.md
  proto/observer/params.proto
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/keeper_out_tx_tracker.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/msg_tss_voter.go
  x/crosschain/keeper/test_privnet.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_privnet.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_remove_foreign_coin.go
  x/fungible/keeper/msg_server_remove_foreign_coin_test.go
  x/fungible/keeper/msg_server_update_contract_bytecode.go
  x/fungible/keeper/msg_server_update_contract_bytecode_test.go
  x/fungible/keeper/msg_server_update_system_contract.go
  x/fungible/keeper/msg_server_update_system_contract_test.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status_test.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee_test.go
  x/observer/keeper/migrator.go
  x/observer/keeper/msg_server_update_core_params.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/msg_server_update_keygen.go
  x/observer/keeper/observer_mapper.go
  x/observer/migrations/v3/migrate.go
  x/observer/migrations/v3/migrate_test.go
  x/observer/module.go
  x/observer/types/params.go
  x/observer/types/params.pb.go
Labels: breaking:proto
