Repository zeta-chain/node, pull requests merged in 2023-10, with the labels that each got.

#1218 ci: cross-compile release binaries and simplify PR testings
  .github/CODEOWNERS
  .github/actions/upgrade-testing/action.yml
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/upgrade_path_testing.yaml
  .goreleaser.yaml
  Makefile
Labels: ci

#1205 feat: allow setting liquidity cap for ZRC20
  .github/workflows/build.yml
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/orchestrator/smoketest/test_deposit_eth.go
  contrib/localnet/orchestrator/smoketest/test_erc20.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  proto/fungible/foreign_coins.proto
  proto/fungible/tx.proto
  testutil/nullify/nullify.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/gas_payment_test.go
  x/fungible/client/cli/tx.go
  x/fungible/client/cli/tx_update_zrc20_liquidity_cap.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap_test.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/foreign_coins.pb.go
  x/fungible/types/message_update_zrc20_liquidity_cap.go
  x/fungible/types/message_update_zrc20_liquidity_cap_test.go
  x/fungible/types/tx.pb.go
Labels: ci, breaking:proto, breaking:cli, nosec

#1238 refactor(`cmd`): change default mempool version in config
  cmd/zetacored/root.go
Labels: breaking:cli

#1245 fix(`MsgWhitelistERC20`): set unique index for generate cctx
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/tx.proto
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/crosschain/types/tx.pb.go
  x/fungible/types/errors.go
Labels: breaking:proto, nosec

#1260 feat(`fungible`): add ability to update gas limit
  docs/spec/fungible/messages.md
  proto/fungible/events.proto
  proto/fungible/tx.proto
  x/crosschain/keeper/gas_payment_test.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_privnet.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee_test.go
  x/fungible/types/events.pb.go
  x/fungible/types/message_update_zrc20_withdraw_fee.go
  x/fungible/types/message_update_zrc20_withdraw_fee_test.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto

#1264 fix: Blame index update
  cmd/zetaclientd/keygen_tss.go
  docs/openapi/openapi.swagger.yaml
  proto/observer/query.proto
  x/observer/client/cli/query.go
  x/observer/client/cli/query_blame.go
  x/observer/keeper/blame.go
  x/observer/keeper/blame_test.go
  x/observer/types/keys.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
  zetaclient/btc_signer.go
  zetaclient/btc_test.go
  zetaclient/evm_signer.go
  zetaclient/signer.go
  zetaclient/tss_signer.go
Labels: breaking:proto, breaking:cli

#1243 fix: feed sataoshi/B to zetacore and check actual outTx size
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
Labels: nosec

#1235 fix: cherry pick all hotfix from v10.0.x (zero-amount, precision, etc.)
  zetaclient/bitcoin_client.go
  zetaclient/evm_client.go
  zetaclient/zetacore_observer.go
Labels: nosec

#1257 fix: register emissions grpc server
  docs/openapi/openapi.swagger.yaml
  proto/emissions/query.proto
  x/emissions/client/cli/query_get_emmisons_factors.go
  x/emissions/client/tests/observer_rewards_test.go
  x/emissions/keeper/grpc_query_get_emmisons_factors.go
  x/emissions/module.go
  x/emissions/types/query.pb.go
  x/emissions/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli

#1263 feat: Bitcoin block header and merkle proof
  common/bitcoin/bitcoin.pb.go
  common/bitcoin/bitcoin_spv.go
  common/bitcoin/proof.go
  common/common.pb.go
  common/default_chains_mainnet.go
  common/default_chains_mock_mainnet.go
  common/default_chains_privnet.go
  common/default_chains_testnet.go
  common/headers.go
  common/headers_test.go
  common/proof.go
  common/proof_test.go
  common/test_data/test_blocks.json
  common/utils.go
  contrib/localnet/orchestrator/smoketest/test_bitcoin.go
  contrib/localnet/orchestrator/smoketest/test_deposit_eth.go
  docs/openapi/openapi.swagger.yaml
  proto/common/bitcoin/bitcoin.proto
  proto/common/common.proto
  proto/observer/query.proto
  x/crosschain/keeper/keeper_out_tx_tracker.go
  x/observer/keeper/grpc_query_prove.go
  x/observer/keeper/msg_server_add_block_header.go
  x/observer/types/errors.go
  x/observer/types/messages_add_block_header.go
  x/observer/types/query.pb.go
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
  zetaclient/btc_signer_test.go
  zetaclient/evm_client.go
  zetaclient/query.go
  zetaclient/tx.go
Labels: breaking:proto, nosec

#1277 fix: read gas limit from smart contract
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_privnet.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_testnet.go
  x/fungible/keeper/gas_coin_and_pool.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
Labels: nosec

#1252 fix(`fungible`): add CLI command to query system contract
  docs/openapi/openapi.swagger.yaml
  proto/fungible/query.proto
  x/fungible/client/cli/query.go
  x/fungible/client/cli/query_system_contract.go
  x/fungible/keeper/grpc_query_system_contract.go
  x/fungible/types/query.pb.go
Labels: breaking:proto, breaking:cli

#1285 fix(`cmd`): add notice when using `--ledger` with Ethereum HD path
  cmd/zetacored/main.go
  cmd/zetacored/root.go
Labels: breaking:cli

#1290 fix: gosec issues
  rpc/websockets.go
  x/emissions/client/tests/suite.go
  x/observer/module_simulation.go
Labels: nosec

#1302 ci: add mainnet builds to goreleaser
  .dockerignore
  .github/workflows/publish-release.yml
  .goreleaser.yaml
Labels: ci

#1247 feat(`fungible`): add query command to get all gas stability pool balances
  docs/openapi/openapi.swagger.yaml
  proto/fungible/query.proto
  x/fungible/client/cli/query.go
  x/fungible/client/cli/query_gas_stability_pool.go
  x/fungible/keeper/grpc_gas_stability_pool.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli

#1143 feat: tss funds migration
  app/app.go
  common/commands.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/query.proto
  proto/crosschain/tx.proto
  testutil/keeper/keeper.go
  testutil/simapp/simapp.go
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/cli/cli_chain_nonce.go
  x/crosschain/client/cli/cli_tss.go
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_get_tss_address.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/grpc_query_get_tss_address.go
  x/crosschain/keeper/msg_migrate_tss_funds.go
  x/crosschain/types/errors.go
  x/crosschain/types/messages_migrate_tss_funds.go
  x/crosschain/types/messages_migrate_tss_funds_test.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/crosschain/types/tx.pb.go
  x/emissions/client/cli/query.go
  x/emissions/client/cli/tx.go
  x/emissions/client/tests/observer_rewards_test.go
  x/emissions/keeper/grpc_query_show_available_emissions.go
  x/emissions/keeper/keeper.go
  x/emissions/module.go
  x/emissions/types/events.pb.go
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
  zetaclient/config/config_mainnet.go
  zetaclient/config/config_mock_mainnet.go
  zetaclient/config/config_privnet.go
  zetaclient/config/config_testnet.go
  zetaclient/evm_signer.go
Labels: breaking:proto, breaking:cli, nosec

#1265 chore: sync from mockmain
  cmd/zetaclientd/start.go
  contrib/localnet/orchestrator/smoketest/main.go
  x/fungible/keeper/begin_blocker_deploy_system_contracts_mock_mainnet.go
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
Labels: breaking:cli, nosec

#1319 ci: Remove A2 Workflows
  .github/workflows/chain-operations.yml
  .github/workflows/deploy.yml
Labels: ci

#1322 feat(`crosschain`): add gas price increase limit
  docs/openapi/openapi.swagger.yaml
  proto/observer/crosschain_flags.proto
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/types/cctx_utils.go
  x/crosschain/types/cctx_utils_test.go
  x/crosschain/types/messages_migrate_tss_funds_test.go
  x/observer/types/crosschain_flags.go
  x/observer/types/crosschain_flags.pb.go
Labels: breaking:proto, nosec

#1326 feat: Bitcoin utxo consolidation
  common/default_chains_mainnet.go
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
  zetaclient/btc_signer_test.go
Labels: nosec

#1191 refactor(`zetaclient`): use interfaces for used attributes
  cmd/zetaclientd/aux.go
  cmd/zetaclientd/start.go
  zetaclient/bitcoin_client.go
  zetaclient/block_height.go
  zetaclient/btc_signer.go
  zetaclient/btc_test.go
  zetaclient/chain_signer.go
  zetaclient/chainclient.go
  zetaclient/errors.go
  zetaclient/evm_client.go
  zetaclient/evm_signer.go
  zetaclient/interfaces.go
  zetaclient/query.go
  zetaclient/signer.go
  zetaclient/telemetry.go
  zetaclient/tss_signer.go
  zetaclient/tx.go
  zetaclient/utils.go
  zetaclient/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Labels: breaking:cli, nosec

#1282 fix(`rpc`): remove zetacore from some RPC REST path
  docs/openapi/openapi.swagger.yaml
  proto/emissions/query.proto
  proto/fungible/query.proto
  x/emissions/types/query.pb.go
  x/emissions/types/query.pb.gw.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
Labels: breaking:proto

#1341 fix: Update binary names upgrade path testing
  .github/workflows/rc-release.yml
  .github/workflows/upgrade_path_testing.yaml
Labels: ci

#1357 fix: Clean up Docker for Release, Modify Pipeline with Release Logic, Fix Binary Links / Version from recent Change.fix
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  Dockerfile-release
  readme.md
Labels: ci
