Repository zeta-chain/node, pull requests merged in 2023-11, with the labels that each got.

#1351 refactor: TSS lib patch
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/scripts/genesis.sh
  contrib/localnet/scripts/start-zetaclientd-genesis.sh
  go.mod
  go.sum
  x/observer/client/cli/tx_add_blame_vote.go
  x/observer/types/utils.go
  zetaclient/interfaces.go
  zetaclient/tss_signer.go
  zetaclient/tx.go
Labels: breaking:cli

#1323 refactor(`zetaclient`): use keyring backend file for hotkey
  .github/workflows/build.yml
  cmd/zetaclientd/aux.go
  cmd/zetaclientd/init.go
  cmd/zetacored/get_pubkey.go
  cmd/zetacored/root.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/scripts/genesis.sh
  contrib/localnet/scripts/os-info.sh
  contrib/localnet/scripts/start-zetaclientd-genesis.sh
  docs/cli/zetacored/zetacored.md
  docs/cli/zetacored/zetacored_get-pubkey.md
  x/crosschain/types/message_set_node_keys_test.go
  zetaclient/broadcast.go
  zetaclient/config/config.go
  zetaclient/config/types.go
  zetaclient/keys.go
  zetaclient/keys_test.go
  zetaclient/zetacore_bridge.go
Labels: breaking:cli, nosec

#1370 fix!: unconfirmed pending cctx should prevent further outbound tx signing
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/tx.proto
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/keeper_cross_chain_tx.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/evm_client.go
  zetaclient/zetacore_observer.go
Labels: breaking:proto, nosec

#1374 fix!: Reliable block header
  .github/workflows/build.yml
  common/headers_test.go
  common/test_data/eth_header_18495266.json
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/orchestrator/smoketest/test_bitcoin.go
  contrib/localnet/orchestrator/smoketest/test_block_headers.go
  docs/openapi/openapi.swagger.yaml
  proto/observer/block_header.proto
  proto/observer/query.proto
  testutil/sample/common.go
  typescript/observer/index.d.ts
  typescript/observer/query_pb.d.ts
  x/observer/keeper/block_header.go
  x/observer/keeper/keeper_block_header.go
  x/observer/keeper/msg_server_add_block_header.go
  x/observer/keeper/msg_server_add_block_header_test.go
  x/observer/types/block_header.pb.go
  x/observer/types/keys.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
  zetaclient/bitcoin_client.go
  zetaclient/evm_client.go
  zetaclient/interfaces.go
  zetaclient/query.go
Labels: ci, breaking:proto, nosec

#1358 feat: zeta supply checks
  changelog.md
  cmd/zetaclientd/start.go
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  typescript/crosschain/query_pb.d.ts
  x/crosschain/keeper/keeper_cross_chain_tx.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/emissions/abci.go
  zetaclient/evm_client.go
  zetaclient/query.go
  zetaclient/zeta_supply_checker.go
  zetaclient/zeta_supply_checker_test.go
Labels: breaking:proto, breaking:cli

#1372 fix(`crosschain`): use event index in inbound tx digest
  changelog.md
  contrib/localnet/orchestrator/smoketest/main.go
  contrib/localnet/orchestrator/smoketest/test_erc20.go
  contrib/localnet/orchestrator/smoketest/test_erc20_deposit.go
  contrib/localnet/orchestrator/smoketest/test_erc20_withdraw.go
  contrib/localnet/orchestrator/smoketest/test_setup.go
  contrib/localnet/orchestrator/smoketest/utils.go
  docs/cli/zetacored/zetacored_tx_crosschain_inbound-voter.md
  docs/spec/crosschain/messages.md
  proto/crosschain/tx.proto
  testutil/contracts/Depositor.abi
  testutil/contracts/Depositor.bin
  testutil/contracts/Depositor.go
  testutil/contracts/Depositor.json
  testutil/contracts/Depositor.sol
  testutil/contracts/Withdrawer.abi
  testutil/contracts/Withdrawer.bin
  testutil/contracts/Withdrawer.go
  testutil/contracts/Withdrawer.json
  testutil/contracts/Withdrawer.sol
  testutil/contracts/bindings.go
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/message_migrate_tss_funds.go
  x/crosschain/types/message_migrate_tss_funds_test.go
  x/crosschain/types/message_tss_voter.go
  x/crosschain/types/message_update_tss_address.go
  x/crosschain/types/message_vote_on_observed_inbound_tx.go
  x/crosschain/types/message_vote_on_observed_inbound_tx_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/bitcoin_client.go
  zetaclient/tx.go
  zetaclient/utils.go
Labels: breaking:proto, breaking:cli

#1367 fix: cherry pick v10.1.x hotfix (minRelayTxFee and bitcoin mainnet/testnet address format)
  changelog.md
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer.go
  zetaclient/evm_client.go
  zetaclient/interfaces.go
  zetaclient/utils.go
Labels: bug, nosec

#1384 feat: update observer
  app/app.go
  changelog.md
  cmd/zetaclientd/start.go
  docs/cli/zetacored/zetacored_query_observer_show-node-account.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_update-observer.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  proto/observer/observer.proto
  proto/observer/tx.proto
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  testutil/keeper/keeper.go
  testutil/keeper/observer.go
  testutil/sample/sample.go
  typescript/observer/block_header_pb.d.ts
  typescript/observer/observer_pb.d.ts
  typescript/observer/tx_pb.d.ts
  x/observer/client/cli/cli_node_account.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_update_observer.go
  x/observer/keeper/hooks.go
  x/observer/keeper/keeper.go
  x/observer/keeper/keeper_test.go
  x/observer/keeper/keeper_utils.go
  x/observer/keeper/keeper_utils_test.go
  x/observer/keeper/msg_server_add_block_header.go
  x/observer/keeper/msg_server_add_block_header_test.go
  x/observer/keeper/msg_server_add_observer.go
  x/observer/keeper/msg_server_update_observer.go
  x/observer/keeper/msg_server_update_observer_test.go
  x/observer/keeper/observer_mapper.go
  x/observer/types/codec.go
  x/observer/types/errors.go
  x/observer/types/expected_keepers.go
  x/observer/types/message_update_observer.go
  x/observer/types/message_update_observer_test.go
  x/observer/types/observer.pb.go
  x/observer/types/tx.pb.go
Labels: breaking:proto, breaking:cli, nosec

#1387 feat: Add HSM capability for zetaclient hot key - non production
  Makefile
  changelog.md
  cmd/zetaclientd/aux.go
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/hsm.go
  cmd/zetaclientd/init.go
  common/cosmos/cosmos.go
  go.mod
  go.sum
  zetaclient/broadcast.go
  zetaclient/config/types.go
  zetaclient/hsm/hsm_signer.go
  zetaclient/hsm/hsm_signer_test.go
  zetaclient/zetacore_bridge.go
Labels: breaking:cli

#1414 docs: code freeze note
  readme.md
Labels: no-changelog
