Repository zeta-chain/node, pull requests merged in 2024-04, with the labels that each got.

#1942 feat: support Bitcoin P2TR, P2WSH, P2SH, P2PKH address types
  .github/workflows/build.yml
  changelog.md
  cmd/zetae2e/local/local.go
  common/address.go
  common/address_test.go
  common/bitcoin/address_taproot.go
  common/bitcoin/address_taproot_test.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  e2e/runner/bitcoin.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/bitcoin/bitcoin_test.go
  zetaclient/bitcoin/fee.go
  zetaclient/bitcoin/fee_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/tx_script.go
  zetaclient/bitcoin/tx_script_test.go
  zetaclient/bitcoin/utils.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/compliance/compliance_test.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/outbound_transaction_data_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testdata/btc/block_trimmed_8332_831071.json
  zetaclient/testdata/btc/chain_8332_intx_raw_result_847139aa65aa4a5ee896375951cbf7417cfc8a4d6f277ec11f40cd87319f04aa.json
  zetaclient/testdata/btc/chain_8332_msgtx_211568441340fd5e10b1a8dcb211a18b9e853dbdf265ebb1c728f9b52813455a.json
  zetaclient/testdata/btc/chain_8332_msgtx_3618e869f9e87863c0f1cc46dbbaa8b767b4a5d6d60b143c2c50af52b257e867.json
  zetaclient/testdata/btc/chain_8332_msgtx_781fc8d41b476dbceca283ebff9573fda52c8fdbba5e78152aeb4432286836a7.json
  zetaclient/testdata/btc/chain_8332_msgtx_c5d224963832fc0b9a597251c2342a17b25e481a88cc9119008e8f8296652697.json
  zetaclient/testdata/btc/chain_8332_msgtx_d13de30b0cc53b5c4702b184ae0a0b0f318feaea283185c1cddb8b341c27c016.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2PKH_9c741de6e17382b7a9113fc811e3558981a35a360e3d1262a6675892c91322ca.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2SH_fd68c8b4478686ca6f5ae4c28eaab055490650dbdaa6c2c8e380a7e075958a21.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2TR_259fc21e63e138136c8f19270a0f7ca10039a66a474f91d23a17896f46e677a7.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2WPKH_5d09d232bfe41c7cb831bf53fc2e4029ab33a99087fd5328a2331b52ff2ebe5b.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2WSH_791bb9d16f7ab05f70a116d18eaf3552faf77b9d5688699a480261424b4f7e53.json
  zetaclient/testutils/stub/btc_rpc.go
  zetaclient/testutils/stub/tss_signer.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
Labels: ci, breaking:cli, nosec

#1973 ci: trigger changelog check on adding/removing a label
  .github/workflows/change-log-check.yml
Labels: ci, no-changelog

#1971 chore: remove @fadeev from codeowners
  .github/CODEOWNERS
Labels: ci, no-changelog

#1982 feat: support Bitcoin P2TR, P2WSH, P2SH, P2PKH address types
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  e2e/runner/bitcoin.go
  pkg/chains/address.go
  pkg/chains/address_taproot.go
  pkg/chains/address_taproot_test.go
  pkg/chains/address_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/types/validate.go
  x/crosschain/types/validate_test.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_live_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/bitcoin/bitcoin_test.go
  zetaclient/bitcoin/fee.go
  zetaclient/bitcoin/fee_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/tx_script.go
  zetaclient/bitcoin/tx_script_test.go
  zetaclient/bitcoin/utils.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/compliance/compliance_test.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/outbound_transaction_data_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testdata/btc/block_trimmed_8332_831071.json
  zetaclient/testdata/btc/chain_8332_intx_raw_result_847139aa65aa4a5ee896375951cbf7417cfc8a4d6f277ec11f40cd87319f04aa.json
  zetaclient/testdata/btc/chain_8332_msgtx_211568441340fd5e10b1a8dcb211a18b9e853dbdf265ebb1c728f9b52813455a.json
  zetaclient/testdata/btc/chain_8332_msgtx_3618e869f9e87863c0f1cc46dbbaa8b767b4a5d6d60b143c2c50af52b257e867.json
  zetaclient/testdata/btc/chain_8332_msgtx_781fc8d41b476dbceca283ebff9573fda52c8fdbba5e78152aeb4432286836a7.json
  zetaclient/testdata/btc/chain_8332_msgtx_c5d224963832fc0b9a597251c2342a17b25e481a88cc9119008e8f8296652697.json
  zetaclient/testdata/btc/chain_8332_msgtx_d13de30b0cc53b5c4702b184ae0a0b0f318feaea283185c1cddb8b341c27c016.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2PKH_9c741de6e17382b7a9113fc811e3558981a35a360e3d1262a6675892c91322ca.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2SH_fd68c8b4478686ca6f5ae4c28eaab055490650dbdaa6c2c8e380a7e075958a21.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2TR_259fc21e63e138136c8f19270a0f7ca10039a66a474f91d23a17896f46e677a7.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2WPKH_5d09d232bfe41c7cb831bf53fc2e4029ab33a99087fd5328a2331b52ff2ebe5b.json
  zetaclient/testdata/btc/chain_8332_tx_raw_result_P2WSH_791bb9d16f7ab05f70a116d18eaf3552faf77b9d5688699a480261424b4f7e53.json
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/stub/btc_rpc.go
  zetaclient/testutils/stub/tss_signer.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
Labels: breaking:cli, nosec

#1900 test(e2e): add testing for external chain migration
  Dockerfile-localnet
  changelog.md
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/stress.go
  contrib/localnet/anvil/Dockerfile
  contrib/localnet/docker-compose-admin.yml
  contrib/localnet/orchestrator/Dockerfile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/restart-zetaclientd-at-upgrade.sh
  contrib/localnet/orchestrator/restart-zetaclientd.sh
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  docs/spec/observer/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_zeta.go
  e2e/runner/zeta.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/zetacore.go
  proto/crosschain/events.proto
  typescript/crosschain/events_pb.d.ts
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/events.pb.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  zetaclient/config/config_chain.go
  zetaclient/evm/evm_signer.go
Labels: breaking:proto, breaking:cli, nosec

#1984 fix: check crosschain flags to stop inbound/outbound; get rid of outtx tracker iteration timeout
  changelog.md
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/inbounds.go
  zetaclient/zetacore_observer.go
Labels: nosec

#2004 refactor: remove fungible params
  app/app.go
  changelog.md
  docs/cli/zetacored/zetacored_query_fungible.md
  docs/cli/zetacored/zetacored_query_fungible_params.md
  docs/openapi/openapi.swagger.yaml
  proto/fungible/genesis.proto
  proto/fungible/params.proto
  proto/fungible/query.proto
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  typescript/fungible/genesis_pb.d.ts
  typescript/fungible/index.d.ts
  typescript/fungible/params_pb.d.ts
  typescript/fungible/query_pb.d.ts
  x/crosschain/keeper/keeper.go
  x/fungible/client/cli/query.go
  x/fungible/client/cli/query_params.go
  x/fungible/genesis.go
  x/fungible/genesis_test.go
  x/fungible/keeper/grpc_query_params.go
  x/fungible/keeper/grpc_query_params_test.go
  x/fungible/keeper/keeper.go
  x/fungible/keeper/params.go
  x/fungible/keeper/params_test.go
  x/fungible/module_simulation.go
  x/fungible/types/genesis.go
  x/fungible/types/genesis.pb.go
  x/fungible/types/params.go
  x/fungible/types/params.pb.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli

#2006 feat(`chains`): add Amoy testnet chain ID in static chain data
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/pkg/chains/chains.proto
  typescript/pkg/chains/chains_pb.d.ts
Labels: breaking:proto

#2013 refactor(`crosschain`): rename `GasPriceVoter` to `VoteGasPrice`
  app/ante/ante.go
  app/ante/ante_test.go
  changelog.md
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  docs/cli/zetacored/zetacored_tx_crosschain.md
  docs/cli/zetacored/zetacored_tx_crosschain_vote-gas-price.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/tx.proto
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/cli_gas_price.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/msg_server_vote_gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
  x/crosschain/types/authz.go
  x/crosschain/types/authz_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/message_vote_gas_price.go
  x/crosschain/types/message_vote_gas_price_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/zetabridge/tx.go
Labels: breaking:proto, breaking:cli, nosec

#2008 test(e2e): add connector bytecode update admin test
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.abi
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.bin
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.go
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.json
  e2e/contracts/testconnectorzevm/TestZetaConnectorZEVM.sol
  e2e/contracts/testconnectorzevm/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/e2etests/test_update_bytecode_zrc20.go
Labels: breaking:cli, nosec

#1989 refactor: simply the IsSendOutTxProcessed func
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/compliance/compliance_test.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/inbounds.go
  zetaclient/evm/inbounds_test.go
  zetaclient/evm/outbound_transaction_data.go
  zetaclient/evm/outbounds.go
  zetaclient/evm/outbounds_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testdata/cctx/all_cctxs.go
  zetaclient/testdata/cctx/cctx_1_6270.json
  zetaclient/testdata/cctx/cctx_1_7260.json
  zetaclient/testdata/cctx/cctx_1_intx_Gas_0x0210925c7dceeff563e6e240d6d650a5f0e8fca6f5b76044a6cf106d21f27098.json
  zetaclient/testdata/cctx/cctx_56_68270.json
  zetaclient/testdata/cctx/cctx_56_68270_invalidChainID.json
  zetaclient/testdata/cctx/cctx_8332_148.json
  zetaclient/testdata/cctx/cctx_intx_1_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.json
  zetaclient/testdata/cctx/cctx_intx_1_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.json
  zetaclient/testdata/cctx/cctx_intx_1_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.json
  zetaclient/testdata/cctx/chain_1337_cctx_14.go
  zetaclient/testdata/cctx/chain_1_cctx_6270.go
  zetaclient/testdata/cctx/chain_1_cctx_7260.go
  zetaclient/testdata/cctx/chain_1_cctx_8014.go
  zetaclient/testdata/cctx/chain_1_cctx_9718.go
  zetaclient/testdata/cctx/chain_1_cctx_intx_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.go
  zetaclient/testdata/cctx/chain_1_cctx_intx_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.go
  zetaclient/testdata/cctx/chain_1_cctx_intx_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.go
  zetaclient/testdata/cctx/chain_56_cctx_68270.go
  zetaclient/testdata/cctx/chain_8332_cctx_148.go
  zetaclient/testdata/evm/chain_1337_outtx_Zeta_0x1487e6a31dd430306667250b72bf15b8390b73108b69f3de5c1b2efe456036a7.json
  zetaclient/testdata/evm/chain_1337_outtx_receipt_Zeta_ZetaReverted_0x1487e6a31dd430306667250b72bf15b8390b73108b69f3de5c1b2efe456036a7.json
  zetaclient/testdata/evm/chain_1_outtx_ERC20_0xd2eba7ac3da1b62800165414ea4bcaf69a3b0fb9b13a0fc32f4be11bfef79146.json
  zetaclient/testdata/evm/chain_1_outtx_Zeta_0x81342051b8a85072d3e3771c1a57c7bdb5318e8caf37f5a687b7a91e50a7257f.json
  zetaclient/testdata/evm/chain_1_outtx_receipt_ERC20_Withdrawn_0xd2eba7ac3da1b62800165414ea4bcaf69a3b0fb9b13a0fc32f4be11bfef79146.json
  zetaclient/testdata/evm/chain_1_outtx_receipt_Zeta_ZetaReceived_0x81342051b8a85072d3e3771c1a57c7bdb5318e8caf37f5a687b7a91e50a7257f.json
  zetaclient/testutils/constant.go
  zetaclient/testutils/stub/chain_client.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
  zetaclient/zetabridge/tx.go
  zetaclient/zetabridge/tx_test.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Labels: breaking:cli, nosec

#2001 refactor: replace broadcast mode block with sync and remove fungible params
  app/app.go
  changelog.md
  cmd/zetacored/root.go
  docs/cli/zetacored/zetacored_query_fungible.md
  docs/cli/zetacored/zetacored_query_fungible_params.md
  docs/openapi/openapi.swagger.yaml
  e2e/txserver/zeta_tx_server.go
  proto/crosschain/genesis.proto
  proto/fungible/genesis.proto
  proto/fungible/params.proto
  proto/fungible/query.proto
  testutil/keeper/crosschain.go
  testutil/keeper/fungible.go
  typescript/crosschain/genesis_pb.d.ts
  typescript/fungible/genesis_pb.d.ts
  typescript/fungible/index.d.ts
  typescript/fungible/params_pb.d.ts
  typescript/fungible/query_pb.d.ts
  x/crosschain/keeper/keeper.go
  x/crosschain/types/genesis.pb.go
  x/fungible/client/cli/query.go
  x/fungible/client/cli/query_params.go
  x/fungible/genesis.go
  x/fungible/genesis_test.go
  x/fungible/keeper/grpc_query_params.go
  x/fungible/keeper/grpc_query_params_test.go
  x/fungible/keeper/keeper.go
  x/fungible/keeper/params.go
  x/fungible/keeper/params_test.go
  x/fungible/module_simulation.go
  x/fungible/types/genesis.go
  x/fungible/types/genesis.pb.go
  x/fungible/types/params.go
  x/fungible/types/params.pb.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli

#2043 fix(zetaclient): remove metrics server url prefix
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
Labels: no-changelog

#2036 chore(codecov.yml): add zetaclient testdata and testutils in codecov ignore
  codecov.yml
Labels: no-changelog

#2046 feat(`crosschain`): add rate limiter flags singleton state variable
  changelog.md
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_update_rate_limit_flags.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/genesis.proto
  proto/crosschain/query.proto
  proto/crosschain/rate_limiter_flags.proto
  proto/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/crosschain/genesis_pb.d.ts
  typescript/crosschain/index.d.ts
  typescript/crosschain/query_pb.d.ts
  typescript/crosschain/rate_limiter_flags_pb.d.ts
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_rate_limiter_flags.go
  x/crosschain/genesis.go
  x/crosschain/genesis_test.go
  x/crosschain/keeper/grpc_query_rate_limiter_flags.go
  x/crosschain/keeper/grpc_query_rate_limiter_flags_test.go
  x/crosschain/keeper/msg_server_update_rate_limiter_flags.go
  x/crosschain/keeper/msg_server_update_rate_limiter_flags_test.go
  x/crosschain/keeper/rate_limiter_flags.go
  x/crosschain/keeper/rate_limiter_flags_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/errors.go
  x/crosschain/types/genesis.go
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/genesis_test.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_update_rate_limiter_flags.go
  x/crosschain/types/message_update_rate_limiter_flags_test.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/crosschain/types/rate_limiter_flags.go
  x/crosschain/types/rate_limiter_flags.pb.go
  x/crosschain/types/rate_limiter_flags_test.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto, breaking:cli, nosec

#1979 feat: add command to modify genesis before import
  app/app.go
  app/init_genesis.go
  changelog.md
  cmd/zetacored/parse_genesis.go
  cmd/zetacored/parse_genesis_test.go
  cmd/zetacored/root.go
  docs/cli/zetacored/zetacored.md
  docs/cli/zetacored/zetacored_parse-genesis-file.md
  testutil/sample/observer.go
  testutil/sample/sample.go
Labels: breaking:cli

#2045 feat: outbound cctx scheduling with rate limiter
  changelog.md
  cmd/zetae2e/stress.go
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/sample/fungible.go
  typescript/crosschain/query_pb.d.ts
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/foreign_coins.go
  x/crosschain/keeper/foreign_coins_test.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  x/crosschain/keeper/msg_server_add_to_intx_tracker_test.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/crosschain/keeper/process_inbound_test.go
  x/crosschain/keeper/process_outbound_test.go
  x/crosschain/keeper/rate_limiter_flags.go
  x/crosschain/keeper/rate_limiter_flags_test.go
  x/crosschain/keeper/refund_test.go
  x/crosschain/keeper/utils_test.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/fungible/keeper/foreign_coins.go
  x/observer/keeper/chain_params.go
  zetaclient/evm/evm_signer.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetacore_observer.go
Labels: breaking:proto, breaking:cli, nosec

#2059 refactor: fix lint issues
  app/setup_handlers.go
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetacored/addr_converter.go
  cmd/zetacored/collect_observer_info.go
  docs/openapi/openapi.go
  rpc/websockets.go
  x/authority/client/cli/query_policies.go
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/cli/cli_gas_price.go
  x/crosschain/client/cli/cli_in_tx_tracker.go
  x/crosschain/client/cli/cli_last_block_height.go
  x/crosschain/client/cli/cli_out_tx_tracker.go
  x/crosschain/client/cli/cli_zeta_height.go
  x/crosschain/client/cli/query_in_tx_hash_to_cctx.go
  x/crosschain/client/cli/query_rate_limiter_flags.go
  x/crosschain/client/cli/query_zeta_accounting.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_gas_price.go
  x/crosschain/keeper/grpc_query_in_tx_hash_to_cctx.go
  x/crosschain/keeper/grpc_query_last_block_height.go
  x/crosschain/keeper/grpc_query_out_tx_tracker.go
  x/crosschain/keeper/in_tx_tracker.go
  x/emissions/client/cli/query_get_emmisons_factors.go
  x/emissions/client/cli/query_list_balances.go
  x/emissions/client/cli/query_params.go
  x/fungible/client/cli/query_foreign_coins.go
  x/fungible/client/cli/query_gas_stability_pool.go
  x/fungible/client/cli/query_system_contract.go
  x/fungible/client/cli/tx_deploy_system_contracts.go
  x/fungible/keeper/grpc_query_foreign_coins.go
  x/lightclient/client/cli/query_block_header.go
  x/lightclient/client/cli/query_chain_state.go
  x/lightclient/client/cli/query_verification_flags.go
  x/lightclient/keeper/grpc_query_block_header.go
  x/lightclient/keeper/grpc_query_chain_state.go
  x/observer/client/cli/query_blame.go
  x/observer/client/cli/query_chain_nonce.go
  x/observer/client/cli/query_chain_params.go
  x/observer/client/cli/query_keygen.go
  x/observer/client/cli/query_node_account.go
  x/observer/client/cli/query_observers.go
  x/observer/client/cli/query_params.go
  x/observer/client/cli/query_pending_nonces.go
  x/observer/client/cli/query_permission_flags.go
  x/observer/client/cli/query_show_observer_count.go
  x/observer/client/cli/query_supported_chains.go
  x/observer/client/cli/query_tss.go
  x/observer/client/cli/tx_add_blame_vote.go
  x/observer/keeper/blame.go
  x/observer/keeper/grpc_query_node_account.go
  x/observer/keeper/grpc_query_nonces.go
  x/observer/keeper/pending_nonces.go
  x/observer/keeper/tss.go
Labels: breaking:cli

#2064 test: run advanced tests nightly to detect breakages
  .github/workflows/execute_advanced_tests.yaml
Labels: ci, no-changelog

#2069 fix(e2e): adjust docker login conditional
  .github/workflows/build.yml
Labels: ci, no-changelog

#2068 test: ensure advanced tests fail if orchestrator fails
  .github/workflows/execute_advanced_tests.yaml
Labels: ci, no-changelog

#2076 refactor: allow zeta deposits to new zevm address
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zeta_deposit.go
  x/crosschain/keeper/process_outbound_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
Labels: breaking:cli

#2078 ci: add slack notifications nightly/develop failures
  .github/workflows/build.yml
  .github/workflows/execute_advanced_tests.yaml
Labels: ci, no-changelog

#2032 refactor(`zetaclient`): improve some general structure of the codebase
  changelog.md
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_db_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_test.go
  zetaclient/bitcoin/fee.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/tx_script.go
  zetaclient/common/logger.go
  zetaclient/compliance/compliance.go
  zetaclient/config/config.go
  zetaclient/config/config_chain.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/evm/constant.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/inbounds.go
  zetaclient/interfaces/interfaces.go
  zetaclient/interfaces/signer.go
  zetaclient/keys/keys.go
  zetaclient/keys/keys_test.go
  zetaclient/metrics/burn_rate.go
  zetaclient/metrics/telemetry.go
  zetaclient/supplychecker/logger.go
  zetaclient/supplychecker/validate.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/testdata.go
  zetaclient/tss/concurrent_keysigns_tracker.go
  zetaclient/tss/concurrent_keysigns_tracker_test.go
  zetaclient/tss/tss_signer.go
  zetaclient/tss/tss_signer_test.go
  zetaclient/types/account_resp.go
  zetaclient/types/ethish_test.go
  zetaclient/zetabridge/block_height.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Labels: nosec

#2051 test: disable header proof test in local upgrade test E2E test
  Dockerfile-upgrade
  app/setup_handlers.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/utils/zetacore.go
  zetaclient/zetabridge/zetacore_bridge.go
Labels: breaking:cli, no-changelog

#2063 test(e2e): add rate limiter admin E2E test
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_list_pending_cctx_within_rate_limit.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_rate_limiter.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/runner/evm.go
  e2e/runner/zeta.go
  e2e/utils/evm.go
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/observer/types/chain_params.go
Labels: breaking:cli, nosec, no-changelog

#2099 test(e2e): fix local e2e upgrade test
  Dockerfile-upgrade
  app/setup_handlers.go
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/utils/zetacore.go
  zetaclient/zetabridge/zetacore_bridge.go
Labels: breaking:cli

#2096 test: optimize upgrade test image build
  Dockerfile-upgrade
  Makefile
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog

#2081 docs: update release flow/docs
  readme.md
Labels: no-changelog
