Repository zeta-chain/node, pull requests merged in 2024-10, with the labels that each got.

#2945 chore: allow full zetaclient config overlay
  .gitignore
  contrib/localnet/scripts/start-zetaclientd.sh
Labels: no-changelog

#2932 test(e2e): add gateway upgrade in upgrade test
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/runner/v2_gateway.go
Labels: breaking:cli, UPGRADE_TESTS, UPGRADE_LIGHT_TESTS, UPGRADE_IMPORT_MAINNET_TESTS

#2928 chore: improve localnet build performance
  .dockerignore
  Dockerfile-localnet
  Makefile
  version.sh
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#2950 fix(zetaclient): tolerate priorityFee > gasFee
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
Labels: no-changelog

#2948 ci: ensure variables are set for cache build
  .github/workflows/reusable-e2e.yml
Labels: ci, no-changelog, UPGRADE_LIGHT_TESTS

#2934 chore: upgrade cometbft and cosmos-sdk
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  contrib/rpcimportable/test.sh
  go.mod
  go.sum
  scripts/gen-docs-zetacored.sh
  zetaclient/context/chain.go
Labels: ci, no-changelog, UPGRADE_TESTS, UPGRADE_IMPORT_MAINNET_TESTS, PERFORMANCE_TESTS

#2956 revert: upgrade cometbft and cosmos-sdk
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  contrib/rpcimportable/test.sh
  go.mod
  go.sum
  scripts/gen-docs-zetacored.sh
  zetaclient/context/chain.go
Labels: ci, no-changelog

#2962 fix: remove redundant error in parsing synthetic txs
  rpc/backend/blocks.go
  rpc/types/events.go
Labels: no-changelog

#2955 fix(zetaclient): tolerate priorityFee > gasFee
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
Labels: no-changelog

#2953 ci: 2598 artillery based stress testing is inaccurate due to misconfiguration
  .github/actions/performance-tests/art.yaml
Labels: ci, no-changelog

#2968 fix(`observer`): remove error return on staking hooks
  x/observer/keeper/hooks.go
  x/observer/keeper/hooks_test.go
  x/observer/keeper/voting.go
Labels: no-changelog

#2952 refactor: add error field in cctx
  changelog.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_refund.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/migrations/v5/migrate.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/keys.go
  x/crosschain/types/rate_limiter_flags_test.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Labels: breaking:proto

#2981 fix: ensure NODE_VERSION and NODE_COMMIT are set for upgrade builds
  Makefile
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#2983 fix(e2e): tolerate revert message in both error and status message
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_refund.go
Labels: no-changelog, UPGRADE_TESTS

#2989 chore: use prebuilt bitcoin-node-sidecar
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
Labels: no-changelog

#2980 chore: upgrade cosmos-sdk to v0.47.14
  go.mod
  go.sum
  zetaclient/context/chain.go
Labels: no-changelog, UPGRADE_TESTS, PERFORMANCE_TESTS

#2986 docs: move invalid v20 breaking changes
  docs/releases/v20_breaking_changes.md
  docs/releases/v21_breaking_changes.md
Labels: no-changelog

#2990 refactor: configure solana chain during e2e setup
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  x/observer/genesis.go
  x/observer/genesis_test.go
  x/observer/types/chain_params.go
  zetaclient/context/app_test.go
Labels: breaking:cli, no-changelog, SOLANA_TESTS

#2999 fix(emissions): add nil checks for reward distributions
  app/app.go
  testutil/keeper/keeper.go
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/keeper/params_test.go
  x/emissions/module.go
  x/emissions/types/keys.go
  x/emissions/types/message_update_params_test.go
  x/emissions/types/params.go
  x/emissions/types/params_test.go
Labels: no-changelog

#3001 refactor(precompile): do not execute write functions on staticcall
  precompiles/bank/bank.go
  precompiles/bank/method_test.go
  precompiles/staking/staking.go
  precompiles/types/errors.go
  precompiles/types/errors_test.go
Labels: no-changelog

#2909 fix: add legacy messages back to codec
  changelog.md
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/index.d.ts
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/types/codec.go
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto

#3011 docs: update readme with new protocol contract directories
  readme.md
Labels: no-changelog

#2987 feat: standard non-evm inbound memo
  changelog.md
  pkg/chains/conversion.go
  pkg/chains/utils_test.go
  pkg/math/bits/bits.go
  pkg/math/bits/bits_test.go
  pkg/memo/arg.go
  pkg/memo/arg_test.go
  pkg/memo/codec.go
  pkg/memo/codec_abi.go
  pkg/memo/codec_abi_test.go
  pkg/memo/codec_compact.go
  pkg/memo/codec_compact_test.go
  pkg/memo/codec_test.go
  pkg/memo/fields.go
  pkg/memo/fields_v0.go
  pkg/memo/fields_v0_test.go
  pkg/memo/header.go
  pkg/memo/header_test.go
  pkg/memo/memo.go
  pkg/memo/memo_test.go
  x/crosschain/keeper/evm_deposit.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/compliance/compliance.go
Labels: nosec

#3017 test(precompiles): add missing test in staking
  precompiles/staking/staking_test.go
Labels: no-changelog, stateful-precompile

#3010 chore(precompiles): disable stake, unstake and moveStake
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_staking.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
  precompiles/types/errors.go
Labels: breaking:cli, no-changelog, stateful-precompile

#3013 ci: remove v2 migration test from scheduled CI and release workflow
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2963 docs(rfc): non-evm chain memo design standard
  docs/rfc/001_standard_memo_format.md
  docs/rfc/images/001_layout.png
Labels: no-changelog

#3027 fix: bump go tss to remove dht
  go.mod
  go.sum
Labels: no-changelog

#2947 test: add simulation tests
  Makefile
  app/app.go
  app/encoding.go
  app/genesis.go
  app/init_genesis.go
  app/modules.go
  changelog.md
  docs/development/SIMULATION_TESTING.md
  e2e/runner/admin_evm.go
  e2e/runner/report.go
  readme.md
  tests/simulation/sim/sim_config.go
  tests/simulation/sim/sim_state.go
  tests/simulation/sim/sim_utils.go
  tests/simulation/sim_test.go
  testutil/simapp/default_constants.go
  testutil/simapp/simapp.go
Labels: UPGRADE_TESTS

#3032 fix: stop dht after 5min
  go.mod
  go.sum
Labels: no-changelog

#3030 fix: SetGatewayAddress might set invalid gateway address
  changelog.md
  tests/simulation/sim/sim_state.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
Labels: nosec

#3034 fix: Revert "fix: stop dht after 5min"
  go.mod
  go.sum
Labels: no-changelog

#3037 chore: always set explicit base compose file
  Makefile
  docs/development/LOCAL_TESTING.md
Labels: no-changelog

#3039 refactor: use upgraded btcd library to handle Taproot address
  changelog.md
  e2e/e2etests/test_bitcoin_withdraw_taproot.go
  pkg/chains/address.go
  pkg/chains/address_taproot.go
  pkg/chains/address_taproot_test.go
  pkg/chains/address_test.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_keysign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/bitcoin/tx_script.go
Labels: zetaclient, chain:bitcoin

#3042 test(e2e): update testdapp contract in deploy test
  e2e/e2etests/test_deploy_contract.go
Labels: no-changelog

#3054 chore: set v21 upgrade version
  app/setup_handlers.go
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#3048 refactor: disable precompiles
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_precompiles_bank.go
  precompiles/precompiles.go
Labels: breaking:cli, no-changelog

#2933 chore: update gosec
  .github/workflows/ci.yml
  .github/workflows/sast-linters.yml
  cmd/zetaclientd/p2p_diagnostics.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/runner/setup_solana.go
  pkg/contracts/ton/gateway.go
  pkg/crypto/aes256_gcm.go
  pkg/memo/codec_compact.go
  pkg/ticker/ticker.go
  precompiles/logs/logs.go
  precompiles/staking/staking.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/types/utils.go
  scripts/gosec.sh
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/types/dynamic_ticker.go
  zetaclient/zetacore/client_worker.go
Labels: ci, breaking:cli, nosec, no-changelog

#3038 fix: remove additional log line when exporting genesis
  app/app.go
  app/export.go
  cmd/zetacored/root.go
Labels: breaking:cli, no-changelog

#3060 fix(`e2e`): wrong evm client used for `TestDAppV2ZEVM`
  cmd/zetae2e/config/contracts.go
Labels: breaking:cli, no-changelog

#3045 chore: upgrade cometbft to v0.37.12
  Dockerfile-localnet
  Makefile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  go.mod
  go.sum
Labels: no-changelog, PERFORMANCE_TESTS

#3065 chore: revert cometbft upgrade
  go.mod
  go.sum
Labels: no-changelog

#3028 feat: whitelist connection gater
  changelog.md
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/tss/tss_signer.go
Labels: breaking:cli, UPGRADE_LIGHT_TESTS, TSS_MIGRATION_TESTS, PERFORMANCE_TESTS

#3019 feat: distribute ZRC20 rewards function
  changelog.md
  cmd/zetacored/config/prefixes.go
  cmd/zetae2e/local/local.go
  e2e/contracts/testdistribute/TestDistribute.abi
  e2e/contracts/testdistribute/TestDistribute.bin
  e2e/contracts/testdistribute/TestDistribute.go
  e2e/contracts/testdistribute/TestDistribute.json
  e2e/contracts/testdistribute/TestDistribute.sol
  e2e/contracts/testdistribute/bindings.go
  e2e/contracts/teststaking/TestStaking.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
  e2e/e2etests/test_precompiles_distribute.go
  e2e/e2etests/test_precompiles_distribute_through_contract.go
  e2e/runner/runner.go
  e2e/utils/require.go
  pkg/rpc/clients.go
  precompiles/bank/bank.go
  precompiles/bank/bank_test.go
  precompiles/bank/logs.go
  precompiles/bank/method_balance_of.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_test.go
  precompiles/bank/method_withdraw.go
  precompiles/precompiles.go
  precompiles/prototype/prototype.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.gen.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/const.go
  precompiles/staking/logs.go
  precompiles/staking/method_distribute.go
  precompiles/staking/method_distribute_test.go
  precompiles/staking/method_get_all_validators.go
  precompiles/staking/method_get_all_validators_test.go
  precompiles/staking/method_get_shares.go
  precompiles/staking/method_get_shares_test.go
  precompiles/staking/method_move_stake.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/method_stake.go
  precompiles/staking/method_stake_test.go
  precompiles/staking/method_unstake.go
  precompiles/staking/method_unstake_test.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
  precompiles/types/address.go
  precompiles/types/address_test.go
  precompiles/types/coin.go
  precompiles/types/coin_test.go
  x/fungible/keeper/zrc20_cosmos_coins_mapping.go
Labels: breaking:cli, nosec, stateful-precompile

#3063 chore: use v21 as upgrade base
  Makefile
  e2e/e2etests/test_eth_withdraw.go
Labels: no-changelog, UPGRADE_TESTS, UPGRADE_IMPORT_MAINNET_TESTS

#3067 chore: set lower tally params for localnet
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#3020 feat(zetaclient)!: add support for TON withdrawals
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/runner/setup_ton.go
  e2e/runner/ton.go
  e2e/runner/ton/accounts.go
  e2e/runner/ton/accounts_test.go
  e2e/runner/ton/deployer.go
  e2e/runner/ton/gateway.compiled.json
  pkg/chains/chain.go
  pkg/contracts/ton/coin.go
  pkg/contracts/ton/gateway.compiled.json
  pkg/contracts/ton/gateway.go
  pkg/contracts/ton/gateway_deploy.go
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_op.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_send.go
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/gateway_tx.go
  pkg/contracts/ton/testdata/00-donation.json
  pkg/contracts/ton/testdata/01-deposit.json
  pkg/contracts/ton/testdata/02-deposit-and-call.json
  pkg/contracts/ton/testdata/04-bounced-msg.json
  pkg/contracts/ton/testdata/06-withdrawal.json
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
  testutil/sample/ton.go
  testutil/sample/ton_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/config.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/mocks/chain_clients.go
  zetaclient/testutils/mocks/chain_signer.go
  zetaclient/testutils/mocks/ton_liteclient.go
  zetaclient/testutils/mocks/ton_signerliteclient.go
  zetaclient/testutils/mocks/tss_signer.go
Labels: breaking:cli, nosec, TON_TESTS

#3068 refactor(fungible): ZRC20 Lock/Unlock API should not depend on injected ABI
  precompiles/bank/bank.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/staking/method_distribute.go
  precompiles/staking/staking.go
  x/fungible/keeper/zrc20_cosmos_coin_mapping_test.go
  x/fungible/keeper/zrc20_cosmos_coins_mapping.go
  x/fungible/keeper/zrc20_methods.go
  x/fungible/keeper/zrc20_methods_test.go
Labels: m:fungible, no-changelog

#3061 test(`e2e`): improve E2E reliability for tests on live network
  cmd/zetae2e/run.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_v2_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call_through_contract.go
  e2e/runner/v2_zevm.go
Labels: breaking:cli, nosec, no-changelog, V2_TESTS

#3072 refactor: improve ZETA deposit check with max supply check
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
Labels: no-changelog

#3073 refactor: improve ZETA deposit check with max supply check (v21 backport)
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
Labels: no-changelog

#3071 feat(e2e): add latency report to withdrawal performance tests
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/utils/zetacore.go
  go.mod
  go.sum
Labels: no-changelog, PERFORMANCE_TESTS

#3074 refactor: improve ZETA deposit check with max supply check
  testutil/keeper/mocks/fungible/bank.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/zeta.go
  x/fungible/keeper/zeta_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
Labels: no-changelog
