Repository zeta-chain/node, pull requests merged in 2024-01, with the labels that each got.

#1443 fix: Code4rena: potentially miss intx (PR migration)
  changelog.md
  zetaclient/bitcoin_client.go
  zetaclient/evm_client.go
  zetaclient/inbound_tracker.go
  zetaclient/interfaces.go
  zetaclient/tx.go
Labels: nosec

#1446 fix: rename aux.go => utils.go to avoid go package resolver complaint
  changelog.md
  cmd/zetaclientd/utils.go
Labels: breaking:cli

#1519 docs: add authorization note to messages
  docs/spec/crosschain/messages.md
  docs/spec/fungible/messages.md
  docs/spec/observer/messages.md
  x/crosschain/keeper/msg_server_add_to_intx_tracker.go
  x/crosschain/keeper/msg_server_add_to_outtx_tracker.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_remove_out_tx_tracker.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_system_contract.go
  x/fungible/keeper/msg_server_remove_foreign_coin.go
  x/fungible/keeper/msg_server_udpate_zrc20_liquidity_cap.go
  x/fungible/keeper/msg_server_update_contract_bytecode.go
  x/fungible/keeper/msg_server_update_system_contract.go
  x/fungible/keeper/msg_server_update_zrc20_paused_status.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee.go
  x/observer/keeper/msg_server_add_observer.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/keeper/msg_server_update_keygen.go
  x/observer/keeper/msg_server_update_observer.go
Labels: no-changelog

#1521 refactor: dependency: use revised go-tss lib
  changelog.md
  cmd/zetaclientd/main.go
  go.mod
  go.sum
  zetaclient/tss_signer.go
Labels: breaking:cli

#1529 ci: fixing smoketest runners
  .github/actions/build-binaries/action.yml
  .github/actions/build-binaries/readme.md
  .github/actions/build-zetavisor/action.yml
  .github/actions/cosmovisor-upgrade/action.yml
  .github/actions/cosmovisor-upgrade/functions
  .github/actions/cosmovisor-upgrade/readme.md
  .github/actions/deploy-binaries/action.yml
  .github/actions/deploy-binaries/functions
  .github/actions/install-awscli/action.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/upload-to-s3/action.yml
  .github/actions/upload-to-s3/readme.md
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  changelog.md
Labels: ci

#1530 fix: additional checks for evm outbound tx and code enhancement to be defensive
  changelog.md
  zetaclient/bitcoin_client.go
  zetaclient/btc_signer_test.go
  zetaclient/evm_client.go
Labels: audit

#1539 fix: sanity check events of ZetaSent/ZetaReceived/ZetaReverted/Withdrawn/Deposited
  changelog.md
  zetaclient/evm_client.go
  zetaclient/inbound_tracker.go
  zetaclient/utils.go
  zetaclient/utils_test.go
Labels: bug

#1553 docs: Update the --ledger --hd-path hint for clarity
  changelog.md
  cmd/zetacored/main.go
Labels: breaking:cli

#1554 fix: screen out unconfirmed utxos that are not created by TSS itself
  changelog.md
  zetaclient/bitcoin_client.go
Labels: zetaclient, audit

#1536 fix: inbound index
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/cross_chain_tx.proto
  proto/crosschain/genesis.proto
  standalone-network/change-observer-params.sh
  standalone-network/proposal_feemarket.json
  testutil/sample/common.go
  testutil/sample/crosschain.go
  testutil/sample/observer.go
  testutil/sample/sample.go
  typescript/crosschain/cross_chain_tx_pb.d.ts
  typescript/crosschain/genesis_pb.d.ts
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/client/integrationtests/inbound_voter_test.go
  x/crosschain/client/integrationtests/outbound_voter_test.go
  x/crosschain/genesis.go
  x/crosschain/keeper/finalized_inbounds.go
  x/crosschain/keeper/finalized_inbounds_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/keys.go
  x/observer/keeper/chain_nonces.go
Labels: breaking:proto, nosec

#1567 fix: add chain id to get tss address rpc
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/observer/query.proto
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Labels: breaking:proto

#1546 fix: pending nonces genesis import
  changelog.md
  testutil/network/genesis_state.go
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/client/integrationtests/inbound_voter_test.go
  x/crosschain/keeper/msg_server_tss_voter.go
  x/fungible/client/cli/tx_update_update_system_contract.go
  x/observer/genesis.go
  x/observer/keeper/pending_nonces.go
Labels: breaking:cli

#1549 fix: resolve migration script for v12
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/smoketest/cmd/smoketest/local/bitcoin.go
  contrib/localnet/orchestrator/smoketest/cmd/smoketest/local/ethereum.go
  contrib/localnet/orchestrator/smoketest/runner/accounting.go
  contrib/localnet/orchestrator/smoketest/runner/setup_bitcoin.go
  contrib/localnet/orchestrator/smoketest/runner/setup_zeta.go
  contrib/localnet/orchestrator/start-upgrade.sh
  contrib/localnet/scripts/genesis-stateful.sh
  contrib/localnet/scripts/genesis.sh
  x/crosschain/keeper/migrator.go
  x/crosschain/migrations/v4/migrate.go
  x/crosschain/migrations/v4/migrate_test.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v4/migrate.go
  x/observer/migrations/v4/migrate_test.go
  x/observer/migrations/v5/migrate.go
  x/observer/migrations/v5/migrate_test.go
  zetaclient/bitcoin_client.go
  zetaclient/broadcast.go
  zetaclient/tx.go
Labels: breaking:cli, nosec

#1570 fix: avoid voting on wrong ballots due to false blockNumber in EVM tx receipt
  changelog.md
  zetaclient/evm_client.go
Labels: nosec

#1601 refactor(`hotfix`): support retrying sending inbound vote with higher gas limit
  changelog.md
  contrib/localnet/scripts/start-zetaclientd-genesis.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  zetaclient/bitcoin_client.go
  zetaclient/broadcast.go
  zetaclient/evm_client.go
  zetaclient/inbound_tracker.go
  zetaclient/interfaces.go
  zetaclient/tx.go
  zetaclient/tx_vote_inbound.go
  zetaclient/tx_vote_outbound.go
  zetaclient/voter_test.go
  zetaclient/zetacore_bridge.go
  zetaclient/zetacore_observer_test.go
Labels: nosec

#1577 test(`e2e`): add chain header tests back and fix admin tests
  changelog.md
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/smoketest/smoketests/test_pause_zrc20.go
Labels: breaking:cli

#1580 ci: fix the cleanup step in the rc-release and publish-release pipelines
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  changelog.md
Labels: ci

#1589 fix: get tss address cli
  changelog.md
  docs/cli/zetacored/zetacored_query_observer_get-historical-tss-address.md
  docs/cli/zetacored/zetacored_query_observer_get-tss-address.md
  x/observer/client/cli/query_get_tss_address.go
Labels: breaking:cli

#1501 fix: Stress test refactor
  changelog.md
  cmd/zetae2e/init.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/utils.go
  cmd/zetae2e/root.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/smoketest/cmd/smoketest/local/local.go
  contrib/localnet/orchestrator/smoketest/cmd/smoketest/local/utils.go
  contrib/localnet/orchestrator/smoketest/cmd/smoketest/stress.go
Labels: breaking:cli, nosec

#1625 fix: skip keygen loop
  changelog.md
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
Labels: breaking:cli

#1631 fix: cherry-pick ZetaClient fixes from `12.0.4`
  changelog.md
  cmd/zetae2e/local/erc20.go
  contrib/localnet/scripts/start-zetaclientd-genesis.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  zetaclient/bitcoin_client.go
  zetaclient/broadcast.go
  zetaclient/btc_signer.go
  zetaclient/evm_client.go
  zetaclient/inbound_tracker.go
  zetaclient/interfaces.go
  zetaclient/telemetry.go
  zetaclient/tx.go
  zetaclient/tx_vote_inbound.go
  zetaclient/tx_vote_outbound.go
  zetaclient/utils.go
  zetaclient/voter_test.go
  zetaclient/zetacore_observer_test.go
Labels: breaking:cli, nosec

#1635 feat(`crosschain`): `MsgAbortStuckCCTX` message
  docs/cli/zetacored/zetacored_tx_crosschain.md
  docs/cli/zetacored/zetacored_tx_crosschain_abort-stuck-cctx.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/tx.proto
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/cli_cctx.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/message_abort_stuck_cctx.go
  x/crosschain/types/message_abort_stuck_cctx_test.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto, breaking:cli

#1619 refactor: add evm amount calculation for tss migration
  changelog.md
  common/gas_limits.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/keys.go
  zetaclient/evm_signer.go
Labels: nosec

#1658 fix: modify emissions to follow fixed rewards per block
  changelog.md
  common/coin.go
  common/coin_test.go
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/client/tests/observer_rewards_test.go
  x/emissions/keeper/block_rewards_components.go
  x/emissions/keeper/block_rewards_components_test.go
  x/emissions/types/keys.go
Labels: nosec

#1664 fix: schedule bitcoin keysign with intervals to avoid keysign failures (took hours)
  changelog.md
  zetaclient/btc_signer.go
  zetaclient/zetacore_observer.go
Labels: nosec

#1669 fix: fix SegWit tx size estimation (in vByte) and gas fee calculation
  changelog.md
  zetaclient/btc_signer.go
  zetaclient/btc_signer_test.go
  zetaclient/utils.go
Labels: nosec

#1665 fix: skip Goerli BlobTxType transaction and Mumbai empty block
  changelog.md
  go.mod
  go.sum
  zetaclient/evm_client.go
  zetaclient/tss_signer.go
  zetaclient/utils.go
Labels: nosec

#1639 fix: Trailofbits - make sure block number always increases
  changelog.md
  zetaclient/bitcoin_client.go
  zetaclient/evm_client.go
Labels: nosec
