Repository zeta-chain/node, pull requests merged in 2024-08, with the labels that each got.

#2568 refactor(zetaclient)!: improve AppContext
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start.go
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/local/zeta.go
  cmd/zetae2e/local/zevm_mp.go
  cmd/zetae2e/stress.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/runner/bitcoin.go
  e2e/runner/evm.go
  go.mod
  go.sum
  x/observer/types/chain_params.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/config/types.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/context/chain.go
  zetaclient/context/chain_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/supplychecker/logger.go
  zetaclient/supplychecker/validate.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/supplychecker/zeta_supply_checker_test.go
  zetaclient/testutils/mocks/chain_params.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/client_worker.go
  zetaclient/zetacore/tx_test.go
Labels: zetaclient, refactor, breaking:cli

#2632 fix(crosschain): set sender for ERC20 whitelist admin CCTX inbound (v19 backport)
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
Labels: breaking:cli, no-changelog, ADMIN_TESTS

#2629 feat: backport solana withdraw
  changelog.md
  cmd/zetaclientd/init.go
  cmd/zetaclientd/solana_test_key.go
  cmd/zetaclientd/utils.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_withdraw.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  e2e/txserver/zeta_tx_server.go
  pkg/contract/solana/types.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/gateway_message.go
  pkg/contracts/solana/gateway_message_test.go
  pkg/contracts/solana/idl.go
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/instruction_test.go
  pkg/contracts/solana/pda.go
  x/observer/types/chain_params.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_gas.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/common/constant.go
  zetaclient/config/types.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testdata/solana/chain_901_outbound_tx_result_5iBYjBYCphzjHKfmPwddMWpV2RNssmzk9Z8NNmV9Rei71pZKBTEVdkmUeyXfn7eWbV8932uSsPfBxgA7UgERNTvq.json
  zetaclient/testdata/solana/chain_901_outbound_tx_result_5nFUQgNSdqTd4aPS4a1xNcbehj19hDzuQLfBqFRj8g7BJdESVY6hFuTFPWFuV6aWAfzEMfVfCdNu9DfzVp5FsHg5.json
  zetaclient/testutils/mocks/chain_clients.go
  zetaclient/testutils/mocks/chain_signer.go
  zetaclient/testutils/mocks/solana_rpc.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:cli, nosec, UPGRADE_TESTS, SOLANA_TESTS

#2631 fix(`crosschain`): set sender for ERC20 whitelist admin CCTX inbound
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
Labels: breaking:cli, no-changelog, ADMIN_TESTS

#2636 ci: Added goreleaser check
  .github/workflows/publish-release.yml
Labels: ci, no-changelog

#2616 feat: implement gas token deposit with protocol contract v2
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  docs/cli/zetacored/zetacored_tx_crosschain_vote-inbound.md
  docs/cli/zetacored/zetacored_tx_fungible_update-gateway-contract.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/runner/logger.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/chains/evm/constant.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/validation.go
  zetaclient/zetacore/tx.go
Labels: ci, breaking:proto, breaking:cli, V2_TESTS

#2640 fix(ci): Update golang cross compile to 1.22.4 (#2635)
  Makefile
Labels: no-changelog

#2617 feat(pkg): add `ticker` package
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
  zetaclient/chains/evm/observer/inbound.go
Labels: no-changelog, code-quality

#2634 feat(zetaclient)!: Add support for EIP-1559 gas fees
  changelog.md
  e2e/e2etests/test_eth_withdraw.go
  e2e/runner/runner.go
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
Labels: zetaclient, UPGRADE_TESTS, ADMIN_TESTS

#2538 feat: background worker routines to shutdown client for migration
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/start.go
  contrib/localnet/docker-compose.yml
  pkg/bg/bg.go
  pkg/bg/bg_test.go
  pkg/retry/retry.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/maintenance/tss_listener.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_test.go
Labels: breaking:cli, TSS_MIGRATION_TESTS

#2615 refactor: delete all trackers when finalizing CCTX
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/trackers.go
  testutil/keeper/crosschain.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/observer/keeper/pending_nonces_test.go
Labels: breaking:cli, TSS_MIGRATION_TESTS

#2645 chore: fix docker build warnings
  Dockerfile-localnet
  contrib/localnet/orchestrator/Dockerfile.fastbuild
Labels: no-changelog

#2642 fix(zetaclient): use name in pending tx metric
  zetaclient/context/chain.go
  zetaclient/orchestrator/orchestrator.go
Labels: zetaclient, no-changelog

#2646 fix(ci): use FullCommit and align version.sh logic
  .goreleaser.yaml
  version.sh
Labels: no-changelog

#2647 fix(ci): use FullCommit and align version logic
  .goreleaser.yaml
  app/setup_handlers.go
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  version.sh
Labels: no-changelog, UPGRADE_TESTS

#2612 fix(e2e): update chain params if deployer account changes
  contrib/localnet/scripts/start-zetacored.sh
  e2e/runner/setup_evm.go
Labels: no-changelog, ADMIN_TESTS

#2639 feat: integrate Smart Contract V2 `depositAndCall` for ETH and ERC20
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/stress.go
  e2e/config/config.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_whitelist_erc20.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/logger.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/runner/testdapp.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/runner/v2_zevm.go
  e2e/txserver/zeta_tx_server.go
  go.mod
  go.sum
  pkg/constant/constant.go
  pkg/contracts/erc1967proxy/ERC1967Proxy.abi
  pkg/contracts/erc1967proxy/ERC1967Proxy.bin
  pkg/contracts/erc1967proxy/ERC1967Proxy.go
  pkg/contracts/erc1967proxy/bindings.go
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  pkg/contracts/testdappv2/bindings.go
  pkg/crypto/address.go
  pkg/crypto/address_test.go
  testutil/keeper/fungible.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/crosschain/keeper/utils_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/gas_coin_and_pool.go
  x/fungible/keeper/msg_server_update_system_contract.go
  x/fungible/keeper/msg_server_update_system_contract_test.go
  x/fungible/keeper/msg_server_update_zrc20_withdraw_fee_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
  x/fungible/keeper/v2_evm.go
  x/fungible/types/errors.go
  x/observer/types/chain_params.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/testutils/mocks/chain_params.go
Labels: breaking:cli

#2686 fix(e2e): ensure zetaclientd restarts on upgrade
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
Labels: breaking:cli, no-changelog, UPGRADE_LIGHT_TESTS

#2687 ci: update e2e parameters
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2691 fix(ci): correct e2e nightly syntax
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2688 fix(e2e): skip tracker check in upgrade tests
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Labels: breaking:cli, no-changelog, UPGRADE_TESTS

#2644 feat: add created_timestamp to cctx status
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Labels: breaking:proto, UPGRADE_TESTS, UPGRADE_IMPORT_MAINNET_TESTS

#2694 fix(ci): update nightly evm performance nodejs version
  .github/workflows/ci-nightly-performance-testing.yaml
Labels: ci, no-changelog

#2628 fix: adjust evm outbound tracker reporter to avoid submitting invalid hashes
  changelog.md
  e2e/utils/zetacore.go
  pkg/constant/constant.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/evm/constant.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/evm/signer/outbound_data.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/logs/fields.go
  zetaclient/orchestrator/orchestrator.go
Labels: bug, zetaclient, mainnet, TSS_MIGRATION_TESTS

#2630 feat: implement `MsgMigrateERC20CustodyFunds` to migrate the funds from the ERC20Custody to a new contracts
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/events_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_migrate_erc20_custody_funds.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
  zetaclient/chains/evm/signer/signer_test.go
Labels: breaking:proto, breaking:cli, UPGRADE_LIGHT_TESTS, ADMIN_TESTS

#2673 feat: Solana relayer (fee payer) key importer, encryption and decryption
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/encrypt_tss.go
  cmd/zetaclientd/import_relayer_keys.go
  cmd/zetaclientd/init.go
  cmd/zetaclientd/solana_test_key.go
  cmd/zetaclientd/start.go
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/password.file
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/config/config.go
  pkg/chains/chain_test.go
  pkg/crypto/aes256_gcm.go
  pkg/crypto/aes256_gcm_test.go
  pkg/crypto/privkey.go
  pkg/crypto/privkey_test.go
  pkg/os/console.go
  pkg/os/console_test.go
  pkg/os/path.go
  pkg/os/path_test.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/utils.go
  server/start.go
  testutil/sample/crypto.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/config/types.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/context/chain.go
  zetaclient/context/chain_test.go
  zetaclient/context/context_test.go
  zetaclient/keys/relayer_key.go
  zetaclient/keys/relayer_key_test.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/solana_rpc.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:cli, nosec, UPGRADE_TESTS, SOLANA_TESTS

#2672 fix: check for duplicates in observer set
  changelog.md
  x/observer/keeper/msg_server_add_observer.go
  x/observer/keeper/msg_server_add_observer_test.go
  x/observer/keeper/msg_server_update_observer_test.go
  x/observer/keeper/observer_set.go
  x/observer/keeper/observer_set_test.go
  x/observer/types/errors.go
  x/observer/types/observer_set.go
  x/observer/types/observer_set_test.go
Labels: nosec

#2733 ci: use large runner for release build
  .github/workflows/publish-release.yml
Labels: ci, no-changelog

#2734 ci: use large runner for release (#2733)
  .github/workflows/publish-release.yml
Labels: ci, no-changelog

#2749 refactor: fix lint errors from govet
  app/ante/authz.go
  changelog.md
  cmd/zetaclientd/start.go
  cmd/zetaclientd/version.go
  e2e/e2etests/test_message_passing_evm_to_zevm.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/accounting.go
  e2e/runner/logger.go
  e2e/runner/report.go
  pkg/chains/conversion.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/types/message_update_rate_limiter_flags.go
  x/emissions/keeper/msg_server_update_params.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/gas_price.go
  x/observer/types/message_update_chain_params.go
  x/observer/types/message_vote_block_header.go
Labels: breaking:cli

#2761 chore: fix label used in feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ci, no-changelog

#2703 feat: add e2e test stateful contract
  Makefile
  app/app.go
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/precompiles.go
  codecov.yml
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_prototype.go
  precompiles/precompiles.go
  precompiles/precompiles_test.go
  precompiles/prototype/IPrototype.abi
  precompiles/prototype/IPrototype.go
  precompiles/prototype/IPrototype.json
  precompiles/prototype/IPrototype.sol
  precompiles/prototype/bindings.go
  precompiles/prototype/prototype.go
  precompiles/prototype/prototype_test.go
  precompiles/types/errors.go
  precompiles/types/errors_test.go
  precompiles/types/types.go
  precompiles/types/types_test.go
  scripts/bindings-stateful-precompiles.sh
Labels: breaking:cli

#2661 test: update tss address on connectors and custody contracts
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/migration.go
  cmd/zetae2e/local/post_migration.go
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_message_passing_external_chains_revert_fail.go
  e2e/e2etests/test_migrate_tss.go
  e2e/e2etests/test_zrc20_swap.go
  e2e/runner/admin_evm.go
  e2e/utils/zetacore.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/errors.go
Labels: ci, breaking:cli, TSS_MIGRATION_TESTS

#2765 feat: bitcoin depositor fee V2 to achieve better dev experience
  changelog.md
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Labels: nosec

#2768 feat: enable parsing Bitcoin deposit memo with inscription; deposit fee improvement
  changelog.md
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Labels: nosec

#2774 chore(zetaclient): remove btc references in Solana client
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/signer/signer.go
Labels: no-changelog

#2778 fix: hotfix to unblock Solana inbound
  changelog.md
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Labels: SOLANA_TESTS

#2777 ci: use single input for e2e workflow_dispatch
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2782 chore: upgrade cosmovisor to 1.6.0
  Dockerfile-localnet
Labels: UPGRADE_TESTS, UPGRADE_LIGHT_TESTS

#2783 feat(e2e): add support for dynamically resolving erc20 addresses
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/run.go
  e2e/runner/balances.go
  e2e/runner/report.go
Labels: breaking:cli, no-changelog

#2788 feat: add common rpc package
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/run.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  pkg/rpc/clients.go
  pkg/rpc/clients_authority.go
  pkg/rpc/clients_cosmos.go
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_ethermint.go
  pkg/rpc/clients_lightclient.go
  pkg/rpc/clients_observer.go
  pkg/rpc/clients_tendermint.go
  pkg/rpc/clients_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_cosmos.go
  zetaclient/zetacore/client_test.go
Labels: breaking:cli

#2787 fix: ask for 3 accounts (signer, pda, system_program) when parsing Sonala inbound signer address
  changelog.md
  cmd/zetaclientd/import_relayer_keys.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Labels: breaking:cli

#2763 test: add E2E testing for V2 contract migration
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/migration.go
  cmd/zetae2e/local/tss_migration.go
  cmd/zetae2e/local/v2.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/authority.go
  e2e/txserver/zeta_tx_server.go
  go.mod
  go.sum
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/bitcoin/errors.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Labels: ci, breaking:cli, V2_TESTS, V2_MIGRATION_TESTS
