Repository zeta-chain/node, pull requests merged in 2024-07, with the labels that each got.

#2410 chore: add fbac as codeowner
  .github/CODEOWNERS
Labels: ci, no-changelog

#2415 refactor: more docker compose deduplicating
  Dockerfile-localnet
  Makefile
  contrib/localnet/docker-compose-additionalevm.yml
  contrib/localnet/docker-compose-stress.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog

#2412 ci: add build cache to e2e
  .github/workflows/build.yml
Labels: ci, no-changelog

#2423 fix(zetaclient): tolerate absolute path in GetPath()
  zetaclient/config/config.go
Labels: no-changelog

#2422 ci: convert e2e to matrix
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/reusable-e2e.yml
  Makefile
  contrib/localnet/docker-compose.yml
Labels: ci, no-changelog

#2429 fix: fix coderabbit config
  .coderabbit.yaml
Labels: no-changelog

#2431 ci: add merge_group triggers
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/generate-files.yml
  .github/workflows/sast-linters.yml
Labels: ci, no-changelog

#2453 fix(ci): prevent truncating the upgrade proposal with tee
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#2457 fix(ci): correct slack failure message conditional
  .github/workflows/reusable-e2e.yml
Labels: ci, no-changelog

#2433 ci: optimize upgrade tests by downloading binaries
  Dockerfile-localnet
  Makefile
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#2425 ci: add additional verification tweak concurrent users performance testing
  .github/actions/performance-tests/art.yaml
  .github/workflows/ci-nightly-performance-testing.yaml
  changelog.md
Labels: ci

#2462 chore: bump go tss
  go.mod
  go.sum
Labels: no-changelog

#2452 fix: special handle Bitcoin Testnet gas price estimator
  changelog.md
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
Labels: nosec

#2459 refactor: add separate accounts for each policy in e2e tests
  changelog.md
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/e2etests/test_erc20_deposit_refund.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_pause_zrc20.go
  e2e/e2etests/test_rate_limiter.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/e2etests/test_update_bytecode_zrc20.go
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/zetacore.go
Labels: breaking:cli, ADMIN_TESTS

#2470 feat: add Polygon, Base and Base Sepolia in static chain info
  Dockerfile-upgrade
  app/setup_handlers.go
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/pkg/chains/chains.proto
  typescript/pkg/chains/chains_pb.d.ts
Labels: breaking:proto

#2464 refactor: add VoteOnBallot function
  changelog.md
  x/crosschain/keeper/msg_server_vote_gas_price.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/observer/keeper/msg_server_update_observer.go
  x/observer/keeper/msg_server_vote_blame.go
  x/observer/keeper/msg_server_vote_block_header.go
  x/observer/keeper/msg_server_vote_tss.go
  x/observer/keeper/vote_inbound.go
  x/observer/keeper/vote_outbound.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
Labels: refactor, UPGRADE_LIGHT_TESTS, ADMIN_TESTS

#2466 fix: emit events on revert
  cmd/zetae2e/config/local.yml
  e2e/e2etests/test_message_passing_evm_to_zevm_revert.go
  rpc/backend/blocks_test.go
  rpc/backend/tx_info_test.go
  rpc/types/utils.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/fungible/keeper/evm.go
Labels: nosec

#2485 fix: import `github.com/zeta-chain/node` in Go project
  docs/zetaclient/migration_v12.2-v12.3.md
Labels: no-changelog

#2476 refactor: rename txHashList to txHash
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/crosschain/outbound_tracker.proto
  typescript/zetachain/zetacore/crosschain/outbound_tracker_pb.d.ts
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
  x/crosschain/types/outbound_tracker.pb.go
Labels: breaking:proto, UPGRADE_TESTS

#2488 ci: fix nightly performance tests and push metrics into pushgateway
  .github/actions/performance-tests/art.yaml
Labels: ci, no-changelog

#2475 refactor(ci): finish matrix migration and update release workflow
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/sast-linters.yml
  readme.md
Labels: ci, no-changelog, UPGRADE_LIGHT_TESTS

#2484 refactor: rename name to zrc20_address for MsgRemoveForeignCoin
  docs/spec/fungible/messages.md
  proto/zetachain/zetacore/fungible/tx.proto
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/fungible/keeper/msg_server_remove_foreign_coin.go
  x/fungible/types/message_remove_foreign_coin.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto

#2440 test: tss migration e2e test
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/migration.go
  cmd/zetae2e/local/post_migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/accounting.go
  e2e/runner/bitcoin.go
  e2e/runner/setup_bitcoin.go
  e2e/txserver/zeta_tx_server.go
  e2e/utils/require.go
  pkg/gas/gas_limits.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/keys.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/tss_signer.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore/client_monitor.go
Labels: ci, breaking:cli, nosec, TSS_MIGRATION_TESTS

#2496 ci: fix slack matrix notifications
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
Labels: ci, no-changelog

#2500 ci: update pushgateway domain
  .github/actions/performance-tests/art.yaml
  .github/workflows/ci-nightly-performance-testing.yaml
Labels: ci, no-changelog

#2513 ci: update e2e slack webhook url
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2516 refactor(fungible): remove chain name from zrc20 name on gas deployment
  x/fungible/keeper/gas_coin_and_pool.go
Labels: no-changelog

#2514 chore: use rebased go-tss library
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  x/observer/client/cli/tx_vote_blame.go
  x/observer/types/utils.go
  x/observer/types/utils_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:cli, no-changelog, UPGRADE_LIGHT_TESTS

#2520 chore(ci): update coderabbit config
  .coderabbit.yaml
Labels: no-changelog

#2522 ci: fix nightly performance tests
  .github/workflows/ci-nightly-performance-testing.yaml
Labels: ci, no-changelog

#2497 feat(zetaclient)!: support for runtime chain (de)provisioning
  changelog.md
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  pkg/ptr/ptr.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/db.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/db/db.go
  zetaclient/db/db_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/mapping.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
  zetaclient/testutils/testrpc/rpc_solana.go
Labels: zetaclient, breaking:cli

#2530 ci: set fail-fast on job
  .github/workflows/reusable-e2e.yml
Labels: ci, no-changelog, UPGRADE_LIGHT_TESTS

#2531 fix(e2e): ignore context cancelled
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_priority_txs.go
Labels: breaking:cli, no-changelog

#2473 test: add tests for most used admin transactions
  changelog.md
  cmd/zetae2e/local/local.go
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_show-inbound-tracker.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_admin_transactions.go
  e2e/runner/zeta.go
  proto/zetachain/zetacore/crosschain/query.proto
  typescript/zetachain/zetacore/crosschain/query_pb.d.ts
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_inbound_tracker.go
  x/crosschain/keeper/grpc_query_inbound_tracker.go
  x/crosschain/keeper/grpc_query_inbound_tracker_test.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli, ADMIN_TESTS

#2515 refactor(observer): replace chainName by chainID for ChainNonces indexing
  app/setup_handlers.go
  changelog.md
  docs/cli/zetacored/zetacored_query_observer_show-chain-nonces.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/chain_nonces.proto
  proto/zetachain/zetacore/observer/query.proto
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/network/genesis_state.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/chain_nonces_pb.d.ts
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/authority/migrations/v2/migrate.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/migrations/v4/migrate_test.go
  x/crosschain/migrations/v5/migrate.go
  x/crosschain/migrations/v5/migrate_test.go
  x/crosschain/types/expected_keepers.go
  x/observer/client/cli/query_chain_nonce.go
  x/observer/client/querytests/chain_nonces.go
  x/observer/genesis_test.go
  x/observer/keeper/chain_nonces.go
  x/observer/keeper/chain_nonces_test.go
  x/observer/keeper/grpc_query_nonces.go
  x/observer/keeper/grpc_query_nonces_test.go
  x/observer/keeper/migrator.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/keeper/nonces_test.go
  x/observer/keeper/pending_nonces.go
  x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate_test.go
  x/observer/module.go
  x/observer/types/chain_nonces.pb.go
  x/observer/types/genesis.go
  x/observer/types/genesis_test.go
  x/observer/types/keys.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
  zetaclient/zetacore/client_query_observer.go
  zetaclient/zetacore/client_query_test.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS

#2537 chore: use v18 in upgrade tests
  Makefile
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#2527 fix(`e2e`): remove hardcoded value for approval in withdrawal tests
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
Labels: no-changelog

#2543 chore(zetaclient): rename zetacoreContext
  cmd/zetaclientd/start.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_worker.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:cli, no-changelog

#2539 ci: add additional tags for identification on nightly performance test runs
  .github/actions/performance-tests/art.yaml
  .github/workflows/ci-nightly-performance-testing.yaml
Labels: ci, no-changelog

#2483 feat(crosschain): store priorityFee (GasTipCap) for EVM chains
  changelog.md
  docs/cli/zetacored/zetacored_tx_crosschain_vote-gas-price.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  pkg/math/cosmos_uint.go
  pkg/math/cosmos_uint_test.go
  pkg/math/slice.go
  pkg/math/slice_test.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/gas_price.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/network/genesis_state.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/gas_price_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/cli_gas_price.go
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/gas_price.go
  x/crosschain/keeper/grpc_query_zeta_conversion_rate.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds_test.go
  x/crosschain/keeper/msg_server_vote_gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/gas_price.pb.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_vote_gas_price.go
  x/crosschain/types/message_vote_gas_price_test.go
  x/crosschain/types/outbound_params.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:proto, breaking:cli, nosec, UPGRADE_TESTS

#2544 fix(e2e): improve upgrade version logic
  .github/workflows/e2e.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
Labels: ci, no-changelog, UPGRADE_TESTS, UPGRADE_LIGHT_TESTS

#2547 fix: limit max txs in priority mempool
  changelog.md
  cmd/zetacored/root.go
  pkg/mempool/priority_nonce_mempool.go
Labels: breaking:cli

#2542 refactor(`authority`): adjust permissions to be more restrictive
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
Labels: breaking:cli, UPGRADE_TESTS, ADMIN_TESTS

#2561 chore: Typo fix in zetaclient log
  zetaclient/chains/evm/observer/inbound.go
Labels: no-changelog

#2559 fix(zetacore): voteGasPrice: fix priorityFees for existing state
  x/crosschain/keeper/gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
Labels: no-changelog, UPGRADE_TESTS

#2541 refactor(`pkg/chains`): deprecate `ChainName` field in `Chain` object
  changelog.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v19_breaking_changes.md
  docs/releases/v19_observer_migration.md
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  testutil/keeper/crosschain.go
  testutil/sample/sample.go
  testutil/testdata/types/chain_info.json
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
  x/authority/client/cli/tx_update_chain_info_test.go
  x/authority/types/chain_info_test.go
  x/authority/types/genesis_test.go
  x/authority/types/message_update_chain_info_test.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/migrations/v5/migrate.go
  x/fungible/keeper/grpc_query_gas_stability_pool_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/zetacore/client_query_test.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS

#2556 refactor: migrator length check to use consensus type
  changelog.md
  pkg/chains/chain_filters.go
  pkg/chains/chain_filters_test.go
  pkg/chains/chains.go
  pkg/chains/chains_test.go
  testutil/keeper/mocks/crosschain/observer.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/msg_server_update_tss.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/types/expected_keepers.go
  x/observer/keeper/chain_params.go
Labels: TSS_MIGRATION_TESTS

#2572 refactor(`app.go`): turn off IBC modules
  app/app.go
  app/init_genesis.go
  app/setup_handlers.go
  changelog.md
  docs/cli/zetacored/zetacored_query.md
  docs/cli/zetacored/zetacored_query_ibc-transfer.md
  docs/cli/zetacored/zetacored_query_ibc-transfer_denom-hash.md
  docs/cli/zetacored/zetacored_query_ibc-transfer_denom-trace.md
  docs/cli/zetacored/zetacored_query_ibc-transfer_denom-traces.md
  docs/cli/zetacored/zetacored_query_ibc-transfer_escrow-address.md
  docs/cli/zetacored/zetacored_query_ibc-transfer_params.md
  docs/cli/zetacored/zetacored_query_ibc-transfer_total-escrow.md
  docs/cli/zetacored/zetacored_query_ibc.md
  docs/cli/zetacored/zetacored_query_ibc_channel.md
  docs/cli/zetacored/zetacored_query_ibc_channel_channels.md
  docs/cli/zetacored/zetacored_query_ibc_channel_client-state.md
  docs/cli/zetacored/zetacored_query_ibc_channel_connections.md
  docs/cli/zetacored/zetacored_query_ibc_channel_end.md
  docs/cli/zetacored/zetacored_query_ibc_channel_next-sequence-receive.md
  docs/cli/zetacored/zetacored_query_ibc_channel_packet-ack.md
  docs/cli/zetacored/zetacored_query_ibc_channel_packet-commitment.md
  docs/cli/zetacored/zetacored_query_ibc_channel_packet-commitments.md
  docs/cli/zetacored/zetacored_query_ibc_channel_packet-receipt.md
  docs/cli/zetacored/zetacored_query_ibc_channel_unreceived-acks.md
  docs/cli/zetacored/zetacored_query_ibc_channel_unreceived-packets.md
  docs/cli/zetacored/zetacored_query_ibc_client.md
  docs/cli/zetacored/zetacored_query_ibc_client_consensus-state-heights.md
  docs/cli/zetacored/zetacored_query_ibc_client_consensus-state.md
  docs/cli/zetacored/zetacored_query_ibc_client_consensus-states.md
  docs/cli/zetacored/zetacored_query_ibc_client_header.md
  docs/cli/zetacored/zetacored_query_ibc_client_params.md
  docs/cli/zetacored/zetacored_query_ibc_client_self-consensus-state.md
  docs/cli/zetacored/zetacored_query_ibc_client_state.md
  docs/cli/zetacored/zetacored_query_ibc_client_states.md
  docs/cli/zetacored/zetacored_query_ibc_client_status.md
  docs/cli/zetacored/zetacored_query_ibc_connection.md
  docs/cli/zetacored/zetacored_query_ibc_connection_connections.md
  docs/cli/zetacored/zetacored_query_ibc_connection_end.md
  docs/cli/zetacored/zetacored_query_ibc_connection_params.md
  docs/cli/zetacored/zetacored_query_ibc_connection_path.md
  docs/cli/zetacored/zetacored_query_zetaibccrosschain.md
  docs/cli/zetacored/zetacored_tx.md
  docs/cli/zetacored/zetacored_tx_gov_submit-legacy-proposal.md
  docs/cli/zetacored/zetacored_tx_gov_submit-legacy-proposal_ibc-upgrade.md
  docs/cli/zetacored/zetacored_tx_gov_submit-legacy-proposal_update-client.md
  docs/cli/zetacored/zetacored_tx_ibc-transfer.md
  docs/cli/zetacored/zetacored_tx_ibc-transfer_transfer.md
  docs/cli/zetacored/zetacored_tx_ibc.md
  docs/cli/zetacored/zetacored_tx_ibc_channel.md
  docs/cli/zetacored/zetacored_tx_ibc_client.md
  docs/cli/zetacored/zetacored_tx_ibc_client_create.md
  docs/cli/zetacored/zetacored_tx_ibc_client_misbehaviour.md
  docs/cli/zetacored/zetacored_tx_ibc_client_update.md
  docs/cli/zetacored/zetacored_tx_ibc_client_upgrade.md
  docs/cli/zetacored/zetacored_tx_zetaibccrosschain.md
Labels: UPGRADE_TESTS

#2574 refactor: move localnet monitoring to profile
  Makefile
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/grafana/get-tss-address.sh
  contrib/localnet/promtail/config.yaml
Labels: no-changelog

#2575 chore(`codecov.yml`): fix config file
  codecov.yml
Labels: no-changelog

#2581 fix(ci): correct slack conditional comparison (backport)
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2580 fix(ci): correct slack conditional comparison
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2585 fix(ci): propagate timeout-minutes (#2583)
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#2583 fix(ci): propagate timeout-minutes
  .github/workflows/e2e.yml
Labels: ci, no-changelog, UPGRADE_IMPORT_MAINNET_TESTS

#2582 chore: update e2e local config
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/local/local.go
Labels: breaking:cli, no-changelog, SOLANA_TESTS

#2578 feat(`fungible`): add Gateway address in protocol contract list
  changelog.md
  docs/cli/zetacored/zetacored_tx_fungible.md
  docs/cli/zetacored/zetacored_tx_fungible_update-gateway-contract.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/fungible/messages.md
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/system_contract.proto
  proto/zetachain/zetacore/fungible/tx.proto
  typescript/zetachain/zetacore/fungible/events_pb.d.ts
  typescript/zetachain/zetacore/fungible/system_contract_pb.d.ts
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/client/cli/tx.go
  x/fungible/client/cli/tx_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/types/codec.go
  x/fungible/types/events.pb.go
  x/fungible/types/message_update_gateway_contract.go
  x/fungible/types/message_update_gateway_contract_test.go
  x/fungible/types/system_contract.pb.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto, breaking:cli

#2600 ci: use ghcr docker images to avoid rate limiting
  Dockerfile-localnet
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
Labels: no-changelog

#2563 fix(e2e): update performance test parameters and bump go-tss
  Makefile
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/local/test_runner.go
  go.mod
  go.sum
Labels: breaking:cli, no-changelog, PERFORMANCE_TESTS

#2595 fix(ci): remove job concurrency
  .github/workflows/build.yml
Labels: ci, no-changelog

#2536 chore: use cometbft-db
  go.mod
  go.sum
Labels: no-changelog, UPGRADE_TESTS, UPGRADE_IMPORT_MAINNET_TESTS

#2609 feat(E2E): add body for smart contract V2 tests
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_v2_erc20_deposit.go
  e2e/e2etests/test_v2_erc20_deposit_and_call.go
  e2e/e2etests/test_v2_erc20_withdraw.go
  e2e/e2etests/test_v2_erc20_withdraw_and_call.go
  e2e/e2etests/test_v2_eth_deposit.go
  e2e/e2etests/test_v2_eth_deposit_and_call.go
  e2e/e2etests/test_v2_eth_withdraw.go
  e2e/e2etests/test_v2_eth_withdraw_and_call.go
  e2e/e2etests/test_v2_evm_to_zevm_call.go
  e2e/e2etests/test_v2_zevm_to_evm_call.go
  e2e/runner/v2_evm.go
  e2e/runner/v2_zevm.go
Labels: breaking:cli, no-changelog

#2605 chore: backport ci/e2e fixes to v19
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/sast-linters.yml
  Dockerfile-localnet
  Makefile
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/local/test_runner.go
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/dashboards/log_browser.json
  contrib/localnet/grafana/datasource.yaml
  contrib/localnet/grafana/get-tss-address.sh
  contrib/localnet/preparams/zetaclient0.json
  contrib/localnet/preparams/zetaclient1.json
  contrib/localnet/preparams/zetaclient2.json
  contrib/localnet/preparams/zetaclient3.json
  contrib/localnet/promtail/config.yaml
  contrib/localnet/scripts/start-zetaclientd.sh
  go.mod
  go.sum
Labels: ci, breaking:cli, no-changelog, UPGRADE_LIGHT_TESTS, PERFORMANCE_TESTS

#2607 ci: run on PRs to all base branches
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/sast-linters.yml
Labels: ci, no-changelog
