Repository zeta-chain/node, pull requests merged in 2024-05, with the labels that each got.

#2094 refactor: update go-tss
  changelog.md
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
  zetaclient/tss/tss_signer.go
Labels: breaking:cli

#2103 chore: update codeowners
  .github/CODEOWNERS
Labels: ci, no-changelog

#2104 docs: make readme shorter and put specific docs in specific files
  docs/development/DEPLOY_NODES.md
  docs/development/LOCAL_TESTING.md
  docs/development/RELEASES.md
  readme.md
Labels: no-changelog

#2112 chore: merge release/v16 features into develop
  Makefile
  app/setup_handlers.go
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_list_pending_cctx_within_rate_limit.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_withdraw.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_rate_limiter.go
  e2e/e2etests/test_update_bytecode_connector.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/e2etests/test_zeta_withdraw.go
  e2e/runner/evm.go
  e2e/runner/zeta.go
  e2e/utils/evm.go
  e2e/utils/zetacore.go
  pkg/coin/coin.go
  pkg/coin/coin_test.go
  proto/crosschain/query.proto
  testutil/keeper/mocks/crosschain/fungible.go
  typescript/crosschain/query_pb.d.ts
  x/crosschain/client/cli/query.go
  x/crosschain/client/cli/query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/process_outbound_test.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/query.pb.go
  x/fungible/keeper/foreign_coins.go
  x/fungible/keeper/foreign_coins_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
  x/observer/types/chain_params.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer.go
Labels: breaking:proto, breaking:cli, nosec

#2102 docs: add instruction to use Bitcoin in local testing
  docs/development/LOCAL_TESTING.md
Labels: no-changelog

#2110 refactor: move rate limiter to zetaclient and add metrics
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/math/float.go
  pkg/math/float_test.go
  proto/zetachain/zetacore/crosschain/query.proto
  proto/zetachain/zetacore/crosschain/rate_limiter_flags.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/query_pb.d.ts
  typescript/zetachain/zetacore/crosschain/rate_limiter_flags_pb.d.ts
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit.go
  x/crosschain/keeper/grpc_query_cctx_rate_limit_test.go
  x/crosschain/keeper/rate_limiter_flags.go
  x/crosschain/keeper/rate_limiter_flags_test.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
  x/crosschain/types/rate_limiter_flags.go
  x/crosschain/types/rate_limiter_flags.pb.go
  x/crosschain/types/rate_limiter_flags_test.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/metrics/metrics.go
  zetaclient/ratelimiter/rate_limiter.go
  zetaclient/ratelimiter/rate_limiter_test.go
  zetaclient/testutils/stub/core_bridge.go
  zetaclient/zetabridge/query.go
  zetaclient/zetabridge/query_test.go
  zetaclient/zetacore_observer.go
  zetaclient/zetacore_observer_test.go
Labels: zetaclient, refactor, breaking:proto, nosec

#2138 fix: adjust docker login conditional
  .github/workflows/build.yml
Labels: ci, no-changelog

#2116 chore: fix function names
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/run.go
  pkg/chains/address_taproot.go
  rpc/backend/node_info.go
Labels: breaking:cli, no-changelog

#2136 refactor: disallow emission withdrawals higher than available amount
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
  x/emissions/keeper/withdrawable_emissions.go
  x/emissions/keeper/withdrawable_emissions_test.go
Labels: no-changelog

#2140 chore: backport advanced test updates
  .github/workflows/build.yml
  .github/workflows/execute_advanced_tests.yaml
Labels: ci, no-changelog

#2143 chore: backport withdraw emissions update
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
  x/emissions/keeper/withdrawable_emissions.go
  x/emissions/keeper/withdrawable_emissions_test.go
Labels: no-changelog

#2113 feat: add zetaclientd-supervisor
  Dockerfile-upgrade
  Makefile
  changelog.md
  cmd/zetaclientd-supervisor/lib.go
  cmd/zetaclientd-supervisor/main.go
  contrib/localnet/orchestrator/Dockerfile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/restart-zetaclientd-at-upgrade.sh
  contrib/localnet/orchestrator/restart-zetaclientd.sh
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
Labels: breaking:cli, nosec

#2154 feat: add `ibc-crosschain` module
  app/app.go
  app/init_genesis.go
  app/setup_handlers.go
  changelog.md
  docs/cli/zetacored/zetacored_query.md
  docs/cli/zetacored/zetacored_query_zetaibccrosschain.md
  docs/cli/zetacored/zetacored_tx.md
  docs/cli/zetacored/zetacored_tx_zetaibccrosschain.md
  proto/zetachain/zetacore/ibccrosschain/genesis.proto
  proto/zetachain/zetacore/ibccrosschain/query.proto
  proto/zetachain/zetacore/ibccrosschain/tx.proto
  testutil/keeper/crosschain.go
  testutil/keeper/ibccrosschain.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/authority.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/ibccrosschain.go
  testutil/keeper/mocks/crosschain/lightclient.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/keeper/mocks/emissions/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/authority.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/keeper/mocks/ibccrosschain/crosschain.go
  testutil/keeper/mocks/ibccrosschain/transfer.go
  testutil/keeper/mocks/lightclient/authority.go
  testutil/keeper/mocks/mocks.go
  testutil/keeper/mocks/observer/authority.go
  testutil/keeper/mocks/observer/lightclient.go
  testutil/keeper/mocks/observer/slashing.go
  testutil/keeper/mocks/observer/staking.go
  typescript/zetachain/zetacore/ibccrosschain/genesis_pb.d.ts
  typescript/zetachain/zetacore/ibccrosschain/index.d.ts
  x/crosschain/keeper/keeper.go
  x/crosschain/types/expected_keepers.go
  x/ibccrosschain/client/cli/query.go
  x/ibccrosschain/client/cli/tx.go
  x/ibccrosschain/genesis.go
  x/ibccrosschain/ibc_module.go
  x/ibccrosschain/keeper/grpc_query.go
  x/ibccrosschain/keeper/keeper.go
  x/ibccrosschain/keeper/msg_server.go
  x/ibccrosschain/module.go
  x/ibccrosschain/types/client_ctx.go
  x/ibccrosschain/types/codec.go
  x/ibccrosschain/types/errors.go
  x/ibccrosschain/types/expected_keepers.go
  x/ibccrosschain/types/genesis.go
  x/ibccrosschain/types/genesis.pb.go
  x/ibccrosschain/types/keys.go
  x/ibccrosschain/types/query.pb.go
  x/ibccrosschain/types/tx.pb.go
Labels: breaking:proto, breaking:cli

#2176 ci: remove buildjet runners from PR tests
  .github/workflows/build.yml
Labels: ci, no-changelog

#2158 refactor: unify CI docker images
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/execute_advanced_tests.yaml
  Dockerfile-localnet
  Dockerfile-upgrade
  Makefile
  contrib/localnet/docker-compose-upgrade-light.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/Dockerfile
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-upgrade-host.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
Labels: ci, no-changelog

#2190 fix(e2e): upgrade tests
  contrib/localnet/docker-compose-upgrade-light.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog

#2095 feat(zetacore): add upgrade tracker
  app/app.go
  app/setup_handlers.go
  app/upgrade_tracker.go
  app/upgrade_tracker_test.go
Labels: nosec, no-changelog

#2198 fix(e2e): set governance parameters for cosmos sdk v0.47+
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog

#2203 fix(e2e): skip gov params initialization during upgrade test
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog

#2205 refactor: remove deprecated variables pre-v17
  changelog.md
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  proto/zetachain/zetacore/observer/crosschain_flags.proto
  proto/zetachain/zetacore/observer/events.proto
  proto/zetachain/zetacore/observer/observer.proto
  proto/zetachain/zetacore/observer/params.proto
  proto/zetachain/zetacore/observer/tx.proto
  testutil/network/genesis_state.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/crosschain_flags_pb.d.ts
  typescript/zetachain/zetacore/observer/events_pb.d.ts
  typescript/zetachain/zetacore/observer/observer_pb.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/observer/genesis.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/observer_set_test.go
  x/observer/types/crosschain_flags.go
  x/observer/types/crosschain_flags.pb.go
  x/observer/types/crosschain_flags_test.go
  x/observer/types/events.pb.go
  x/observer/types/keys.go
  x/observer/types/message_update_crosschain_flags.go
  x/observer/types/message_update_crosschain_flags_test.go
  x/observer/types/observer.pb.go
  x/observer/types/params.pb.go
  x/observer/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/zetacore/query_test.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:proto

#2207 chore: use fixed version for Mockery and add mocks generation to `make generate`
  Makefile
  scripts/mocks-generate.sh
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/authority.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/ibccrosschain.go
  testutil/keeper/mocks/crosschain/lightclient.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/keeper/mocks/emissions/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/authority.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/keeper/mocks/ibccrosschain/crosschain.go
  testutil/keeper/mocks/ibccrosschain/transfer.go
  testutil/keeper/mocks/lightclient/authority.go
  testutil/keeper/mocks/observer/authority.go
  testutil/keeper/mocks/observer/lightclient.go
  testutil/keeper/mocks/observer/slashing.go
  testutil/keeper/mocks/observer/staking.go
Labels: no-changelog

#2221 chore(ci): upgrade github actions dependencies
  .github/actions/install-dependencies/action.yml
  .github/actions/set-branch-name/action.yml
  .github/actions/upgrade-testing/action.yml
  .github/workflows/build.yml
  .github/workflows/change-log-check.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/generate-files.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  .github/workflows/sast-linters.yml
  .github/workflows/upgrade_path_testing.yaml
Labels: ci, no-changelog

#2210 refactor: removed uncessary panics in zetaclientd process
  changelog.md
  cmd/zetaclientd-supervisor/main.go
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  cmd/zetacore_utils/main.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/live_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_db_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/context/zetacore_context.go
  zetaclient/context/zetacore_context_test.go
  zetaclient/keys/interfaces/interfaces.go
  zetaclient/keys/keys.go
  zetaclient/keys/keys_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/supplychecker/zeta_supply_checker_test.go
  zetaclient/testutils/mocks/chain_params.go
  zetaclient/testutils/mocks/keyring.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/query.go
  zetaclient/zetacore/query_test.go
  zetaclient/zetacore/tx_test.go
Labels: zetaclient, breaking:cli, nosec, codebase-quality

#2175 ci: upload zetacore/zetaclient binaries from build
  .github/workflows/build.yml
Labels: ci, no-changelog

#2209 test(`e2e`): add new runner for ZEVM message passing
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/zevm_mp.go
  contrib/localnet/orchestrator/start-zetae2e.sh
Labels: breaking:cli, nosec, no-changelog

#2229 chore: updates for developnet
  .github/workflows/build.yml
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Labels: ci, no-changelog

#2222 fix: removed maxHeightDiff to let observer scan Bitcoin block from where it left off
  changelog.md
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/evm/observer/observer.go
Labels: bug, nosec

#2237 refactor: reduce checks done in inbound and outbound validation
  e2e/e2etests/test_message_passing_zevm_to_evm_revert_fail.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/inbound_params.go
  x/crosschain/types/inbound_params_test.go
  x/crosschain/types/keys.go
  x/crosschain/types/message_abort_stuck_cctx.go
  x/crosschain/types/message_refund_aborted.go
  x/crosschain/types/outbound_params.go
  x/crosschain/types/outbound_params_test.go
  x/crosschain/types/validate.go
  x/crosschain/types/validate_test.go
Labels: no-changelog

#2239 feat: enable restarting localnet containers
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
Labels: no-changelog

#2231 feat: add no-op v17 athens upgrade handler
  app/setup_handlers.go
Labels: no-changelog

#2243 fix: incorrect bitcoin outbound height
  changelog.md
  zetaclient/chains/bitcoin/observer/live_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
Labels: bug, zetaclient, nosec

#2255 fix: set upgrade test new version to v17
  Dockerfile-upgrade
Labels: no-changelog

#2267 ci: update build runner for publish release to github actions ubuntu 20.04 runners.
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/rc-release.yml
  changelog.md
Labels: ci

#2264 feat: enable e2e orchestrator restart
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/config/config.go
Labels: breaking:cli, no-changelog

#2284 fix: remove quotes from e2e args
  contrib/localnet/orchestrator/start-zetae2e.sh
Labels: no-changelog

#2279 feat(`pkg/chains`): add a `CCTXGateway` field to chain static data
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
  zetaclient/zetacore/tx_test.go
Labels: breaking:proto

#2269 refactor: MsgUpdateCrosschainFlags into MsgEnableCCTXFlags, MsgDisableCCTXFlags and MsgUpdateGasPriceIncreaseFlags
  changelog.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_disable-cctx.md
  docs/cli/zetacored/zetacored_tx_observer_enable-cctx.md
  docs/cli/zetacored/zetacored_tx_observer_update-gas-price-increase-flags.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v17_breaking_changes.md
  docs/spec/observer/messages.md
  proto/zetachain/zetacore/observer/events.proto
  proto/zetachain/zetacore/observer/tx.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/events_pb.d.ts
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_disable_cctx_flags.go
  x/observer/client/cli/tx_enable_cctx_flags.go
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/keeper/msg_server_disable_cctx_flags_test.go
  x/observer/keeper/msg_server_enable_cctx_flags.go
  x/observer/keeper/msg_server_enable_cctx_flags_test.go
  x/observer/keeper/msg_server_update_crosschain_flags.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags.go
  x/observer/keeper/msg_server_update_gas_price_increase_flags_test.go
  x/observer/types/codec.go
  x/observer/types/events.pb.go
  x/observer/types/message_disable_cctx_flags.go
  x/observer/types/message_disable_cctx_flags_test.go
  x/observer/types/message_enable_cctx_flags.go
  x/observer/types/message_enable_cctx_flags_test.go
  x/observer/types/message_update_crosschain_flags.go
  x/observer/types/message_update_crosschain_flags_test.go
  x/observer/types/message_update_gas_price_increase_flags.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
  x/observer/types/tx.pb.go
Labels: breaking:proto, breaking:cli, nosec

#2290 refactor(`observer`): rename `MsgAddBlameVote` to `MsgVoteBlame`
  app/ante/ante.go
  app/ante/ante_test.go
  changelog.md
  cmd/zetae2e/local/monitor_priority_txs.go
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_vote-blame.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v17_breaking_changes.md
  docs/spec/observer/messages.md
  proto/zetachain/zetacore/observer/tx.proto
  testutil/sample/sample.go
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/crosschain/types/authz.go
  x/crosschain/types/authz_test.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_vote_blame.go
  x/observer/keeper/msg_server_vote_blame.go
  x/observer/keeper/msg_server_vote_blame_test.go
  x/observer/types/codec.go
  x/observer/types/message_vote_blame.go
  x/observer/types/message_vote_blame_test.go
  x/observer/types/tx.pb.go
  zetaclient/zetacore/tx.go
Labels: breaking:proto, breaking:cli, nosec

#2297 chore: fix some function names
  x/crosschain/keeper/refund.go
  x/lightclient/types/block_header_verification.go
  zetaclient/chains/bitcoin/observer/observer.go
Labels: no-changelog

#2289 feat: add authorization list for policy transactions
  app/setup_handlers.go
  changelog.md
  proto/zetachain/zetacore/authority/authorization.proto
  proto/zetachain/zetacore/authority/genesis.proto
  proto/zetachain/zetacore/authority/tx.proto
  testutil/sample/authority.go
  typescript/zetachain/zetacore/authority/authorization_pb.d.ts
  typescript/zetachain/zetacore/authority/genesis_pb.d.ts
  typescript/zetachain/zetacore/authority/index.d.ts
  x/authority/genesis.go
  x/authority/genesis_test.go
  x/authority/keeper/authorization_list.go
  x/authority/keeper/authorization_list_test.go
  x/authority/types/authorization.pb.go
  x/authority/types/authorizations.go
  x/authority/types/authorizations_test.go
  x/authority/types/errors.go
  x/authority/types/genesis.pb.go
  x/authority/types/keys.go
  x/authority/types/tx.pb.go
Labels: breaking:proto
