Repository zeta-chain/node, pull requests merged in 2024-03, with the labels that each got.

#1791 test: e2e tests for zetaclient restricted addresses
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/zeta.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_refund.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/runner/evm.go
  e2e/runner/zeta.go
Labels: breaking:cli, nosec

#1821 ci: Dockerfile & Docker Pipeline & Docker Compose Improvements
  .github/workflows/docker-build-and-push.yml
  Dockerfile
  Dockerfile-localnet
  Makefile
  changelog.md
  contrib/athens3/zetacored/docker-compose.yml
  contrib/docker-scripts/download_binaries.py
  contrib/docker-scripts/install_cosmovisor.py
  contrib/docker-scripts/start.sh
  contrib/local-mainnet/zetacored/configs/app.toml
  contrib/local-mainnet/zetacored/configs/client.toml
  contrib/local-mainnet/zetacored/configs/config.toml
  contrib/local-mainnet/zetacored/configs/genesis.json
  contrib/local-mainnet/zetacored/configs/start.sh
  contrib/local-mainnet/zetacored/docker-compose.yml
  contrib/localnet/docker-compose-stresstest.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/mainnet/bitcoind/docker-compose.yml
  contrib/mainnet/zetacored/docker-compose.yml
  readme.md
Labels: ci

#1787 test: add unit tests for crosschain evm hooks
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  testutil/keeper/keeper.go
  testutil/sample/crosschain.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/gas_payment.go
Labels: breaking:cli, nosec

#1825 feat: message withdraw emissions
  changelog.md
  docs/cli/zetacored/zetacored_tx_emissions.md
  docs/cli/zetacored/zetacored_tx_emissions_withdraw-emission.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/emissions/messages.md
  proto/emissions/tx.proto
  testutil/keeper/emissions.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/emission.go
  typescript/emissions/index.d.ts
  typescript/emissions/tx_pb.d.ts
  x/emissions/client/cli/tx.go
  x/emissions/client/cli/tx_withdraw_emissions..go
  x/emissions/keeper/msg_server_withdraw_emissions.go
  x/emissions/keeper/msg_server_withdraw_emissions_test.go
  x/emissions/keeper/withdrawable_emissions.go
  x/emissions/keeper/withdrawable_emissions_test.go
  x/emissions/types/errors.go
  x/emissions/types/expected_keepers.go
  x/emissions/types/message_withdraw_emissions.go
  x/emissions/types/message_withdraw_emissons_test.go
  x/emissions/types/tx.pb.go
Labels: breaking:proto, breaking:cli

#1841 ci: fix docker repo typo
  .github/workflows/docker-build-and-push.yml
Labels: ci

#1836 feat: use JSON RPC for inbound tx observation (including blob tx in Decun upgrade)
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  common/constant.go
  e2e/e2etests/test_donation.go
  e2e/runner/bitcoin.go
  e2e/runner/setup_evm.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/evm/constant.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/inbounds.go
  zetaclient/evm/inbounds_test.go
  zetaclient/evm/validation.go
  zetaclient/evm/validation_test.go
  zetaclient/testdata/btc/chain_8332_intx_raw_result_donation_6d1dde76b9aedaf2717a062602e38c1978482e50dd123287280a98910c1e318e.json
  zetaclient/testdata/btc/chain_8332_outtx_raw_result_nonce_148.json
  zetaclient/testdata/cctx/cctx_1_7260.json
  zetaclient/testdata/cctx/cctx_1_intx_Gas_0x0210925c7dceeff563e6e240d6d650a5f0e8fca6f5b76044a6cf106d21f27098.json
  zetaclient/testdata/cctx/cctx_intx_1_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.json
  zetaclient/testdata/cctx/cctx_intx_1_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.json
  zetaclient/testdata/cctx/cctx_intx_1_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.json
  zetaclient/testdata/evm/chain_1_block_ethrpc_trimmed_19363323.json
  zetaclient/testdata/evm/chain_1_intx_ethrpc_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.json
  zetaclient/testdata/evm/chain_1_intx_ethrpc_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.json
  zetaclient/testdata/evm/chain_1_intx_ethrpc_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.json
  zetaclient/testdata/evm/chain_1_intx_ethrpc_donation_Gas_0x52f214cf7b10be71f4d274193287d47bc9632b976e69b9d2cdeb527c2ba32155.json
  zetaclient/testdata/evm/chain_1_intx_receipt_ERC20_0x4ea69a0e2ff36f7548ab75791c3b990e076e2a4bffeb616035b239b7d33843da.json
  zetaclient/testdata/evm/chain_1_intx_receipt_Gas_0xeaec67d5dd5d85f27b21bef83e01cbdf59154fd793ea7a22c297f7c3a722c532.json
  zetaclient/testdata/evm/chain_1_intx_receipt_Zeta_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.json
  zetaclient/testdata/evm/chain_1_intx_receipt_donation_Gas_0x52f214cf7b10be71f4d274193287d47bc9632b976e69b9d2cdeb527c2ba32155.json
  zetaclient/testdata/evm/chain_1_outtx_Gas_0xd13b593eb62b5500a00e288cc2fb2c8af1339025c0e6bc6183b8bef2ebbed0d3.json
  zetaclient/testdata/evm/chain_1_outtx_receipt_Gas_0xd13b593eb62b5500a00e288cc2fb2c8af1339025c0e6bc6183b8bef2ebbed0d3.json
  zetaclient/testdata/evm/chain_5_blobtx_ethrpc_0xe707854eb6d7fec630d1e7c29683d71fb0a293eb8794be27a07240d69ee201da.json
  zetaclient/testdata/evm/chain_5_blobtx_receipt_0xe707854eb6d7fec630d1e7c29683d71fb0a293eb8794be27a07240d69ee201da.json
  zetaclient/testutils/constant.go
  zetaclient/testutils/evm.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/stub/chain_params.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
  zetaclient/testutils/utils.go
Labels: breaking:cli, nosec

#1831 refactor: removing unnecessary pointers in context structure
  changelog.md
  cmd/zetaclientd/main.go
  cmd/zetaclientd/p2p_diagnostics.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  cmd/zetaclientd/utils.go
  zetaclient/app_context/app_context.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/common/utils_test.go
  zetaclient/config/config.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/inbounds_test.go
  zetaclient/keys/keys.go
  zetaclient/keys/keys_test.go
  zetaclient/testutils/testdata.go
  zetaclient/tss/tss_signer.go
Labels: breaking:cli

#1868 test: run e2e btc tests locally
  changelog.md
  cmd/zetae2e/README.md
  cmd/zetae2e/root.go
  cmd/zetae2e/setup_bitcoin.go
  contrib/localnet/docker-compose.yml
  e2e/e2etests/test_bitcoin_withdraw.go
  e2e/e2etests/test_bitcoin_withdraw_invalid.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/runner/runner.go
Labels: breaking:cli

#1885 refactor: change important metrics on port 8123 to be prometheus compatible
  changelog.md
  cmd/zetaclientd/start.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/evm/evm_client.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/telemetry.go
  zetaclient/zetacore_observer.go
Labels: breaking:cli, nosec

#1870 test(e2e): enable emissions pool in local e2e testing
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/runner/e2etest.go
  e2e/runner/report.go
  e2e/runner/run.go
  e2e/runner/runner.go
  e2e/runner/setup_zeta.go
  e2e/txserver/zeta_tx_server.go
Labels: breaking:cli

#1886 refactor: outboud vote
  testutil/keeper/crosschain.go
  x/crosschain/client/integrationtests/cli_helpers.go
  x/crosschain/client/integrationtests/cli_test.go
  x/crosschain/client/integrationtests/inbound_voter_test.go
  x/crosschain/client/integrationtests/outbound_voter_test.go
  x/crosschain/client/integrationtests/suite.go
  x/crosschain/keeper/cctx_utils_outbound.go
  x/crosschain/keeper/cctx_utils_outbound_test.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/events.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
Labels: nosec

#1890 fix: zetaclient should pick up new connector and erc20 custody addresses
  changelog.md
  cmd/zetaclientd/utils.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/evm/inbounds_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/stub/chain_client.go
  zetaclient/testutils/stub/chain_signer.go
  zetaclient/zetacore_observer.go
  zetaclient/zetacore_observer_test.go
Labels: breaking:cli

#1912 feat: add reset chain nonces msg
  Dockerfile-versioned-source
  Makefile
  app/setup_handlers.go
  changelog.md
  docs/cli/zetacored/zetacored_tx_observer.md
  docs/cli/zetacored/zetacored_tx_observer_reset-chain-nonces.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  proto/observer/tx.proto
  typescript/observer/tx_pb.d.ts
  x/crosschain/keeper/migrator.go
  x/emissions/genesis_test.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_reset_chain_nonces.go
  x/observer/keeper/migrator.go
  x/observer/keeper/msg_server_reset_chain_nonces.go
  x/observer/keeper/msg_server_reset_chain_nonces_test.go
  x/observer/types/codec.go
  x/observer/types/message_reset_chain_nonces.go
  x/observer/types/message_reset_chain_nonces_test.go
  x/observer/types/tx.pb.go
Labels: breaking:proto, breaking:cli, nosec

#1884 feat: added new cmd "zetatool" and sub cmd filterdeposits
  Makefile
  changelog.md
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/filterdeposit/btc.go
  cmd/zetatool/filterdeposit/evm.go
  cmd/zetatool/filterdeposit/filterdeposit.go
  cmd/zetatool/filterdeposit/filterdeposit_test.go
  cmd/zetatool/main.go
  docs/cli/zetatool/filterdeposit.md
  docs/cli/zetatool/readme.md
  go.mod
  go.sum
  tool/filter_missed_deposits/zetatool_config.json
Labels: breaking:cli, nosec

#1914 refactor: move crosschain flags to core context in zetaclient
  changelog.md
  cmd/zetaclientd/utils.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/core_context/zeta_core_context.go
  zetaclient/core_context/zeta_core_context_test.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/evm_signer_test.go
  zetaclient/zetabridge/zetacore_bridge.go
  zetaclient/zetacore_observer_test.go
Labels: breaking:cli

#1953 ci: run E2E tests for all PRs
  .github/workflows/build.yml
  changelog.md
Labels: ci

#1948 refactor(crosschain): remove deprecated `GetTSSAddress`
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/crosschain/query.proto
  typescript/crosschain/query_pb.d.ts
  x/crosschain/keeper/grpc_query.go
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
Labels: breaking:proto

#1960 feat: V16 - add metric for concurrent key signs
  changelog.md
  zetaclient/metrics/metrics.go
  zetaclient/tss/tss_keysigns_tracker.go
  zetaclient/tss/tss_keysigns_tracker_test.go
  zetaclient/tss/tss_signer.go
Labels: nosec

#1954 feat: Added metric for concurrent keysigns
  changelog.md
  zetaclient/metrics/metrics.go
  zetaclient/tss/tss_keysign_manager.go
  zetaclient/tss/tss_keysign_manager_test.go
  zetaclient/tss/tss_signer.go
Labels: nosec
