Repository zeta-chain/node, pull requests merged in 2024-02, with the labels that each got.

#1630 feat: TSS and Hotkey password Prompt - develop
  changelog.md
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  contrib/localnet/scripts/password.file
  contrib/localnet/scripts/start-zetaclientd-background.sh
  contrib/localnet/scripts/start-zetaclientd-genesis.sh
  contrib/localnet/scripts/start-zetaclientd-p2p-diag.sh
  go.mod
  go.sum
  zetaclient/broadcast.go
  zetaclient/keys.go
  zetaclient/keys_test.go
  zetaclient/tss_signer.go
Labels: breaking:cli

#1687 fix(`crosschain`): only use EVM supported chains for gas stability pool and prevent errors to stop iterating other chains
  changelog.md
  proto/crosschain/events.proto
  typescript/crosschain/events_pb.d.ts
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  x/crosschain/module.go
  x/crosschain/types/events.pb.go
Labels: breaking:proto, nosec

#1674 fix: use chain parameter ConfirmationCount for bitcoin outtx
  changelog.md
  zetaclient/bitcoin_client.go
  zetaclient/bitcoin_client_rpc_test.go
  zetaclient/bitcoin_client_test.go
Labels: nosec

#1729 chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
  changelog.md
Labels: ci

#1713 fix: fix bitcoin fee rate and increase evm outtx inclusion timeout
  changelog.md
  zetaclient/bitcoin_client.go
  zetaclient/bitcoin_client_rpc_test.go
  zetaclient/evm_signer.go
  zetaclient/interfaces.go
Labels: mainnet

#1744 feat: added cmd to encrypt tss keyshare file
  changelog.md
  cmd/zetaclientd/encrypt_tss.go
  cmd/zetaclientd/start.go
  go.mod
  go.sum
Labels: breaking:cli

#1750 fix: evm outtx hash mismatch
  changelog.md
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_client_test.go
Labels: nosec

#1748 ci: adding pipeline to build and push ubuntu, and macos docker images for zetacored
  .github/actions/build-docker-images-generic/action.yml
  .github/workflows/docker-build-and-push.yml
  changelog.md
Labels: ci

#1747 feat: bitcoin dynamic depositor fee
  changelog.md
  common/bitcoin.go
  common/constant.go
  contrib/localnet/orchestrator/smoketest/runner/bitcoin.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/testdata/bitcoin_block_trimmed_828440.json
  zetaclient/bitcoin/testdata/mempool.space_block_828440.json
  zetaclient/bitcoin/utils.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/testutils/mempool-client.go
  zetaclient/testutils/utils.go
  zetaclient/zetabridge/tx.go
Labels: nosec

#1706 fix: zetacored show-out-tx-tracker cli
  changelog.md
  x/crosschain/client/cli/cli_out_tx_tracker.go
Labels: breaking:cli

#1728 feat(`crosschain`): refund aborted amount
  Dockerfile-versioned-source
  Makefile
  app/setup_handlers.go
  changelog.md
  contrib/localnet/orchestrator/smoketest/smoketests/smoketests.go
  contrib/localnet/orchestrator/smoketest/smoketests/test_erc20_refund.go
  contrib/localnet/orchestrator/smoketest/txserver/zeta_tx_server.go
  docs/cli/zetacored/zetacored_tx_crosschain.md
  docs/cli/zetacored/zetacored_tx_crosschain_refund-aborted.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/crosschain/cross_chain_tx.proto
  proto/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/crosschain/cross_chain_tx_pb.d.ts
  typescript/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/cli_refund_aborted.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/cctx_utils_test.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  x/crosschain/keeper/migrator.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/keeper/msg_server_refund_aborted_tx_test.go
  x/crosschain/keeper/msg_server_update_tss_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/refund.go
  x/crosschain/keeper/refund_test.go
  x/crosschain/keeper/utils_test.go
  x/crosschain/keeper/zeta_accounting.go
  x/crosschain/keeper/zeta_accounting_test.go
  x/crosschain/migrations/v5/migrate.go
  x/crosschain/migrations/v5/migrate_test.go
  x/crosschain/module.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/message_refund_aborted.go
  x/crosschain/types/message_refund_aborted_test.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto, breaking:cli, nosec

#1751 chore: add skosito to codeowners
  .github/CODEOWNERS
Labels: ci

#1425 feat: Add Whitelist ERC20 Cli.
  changelog.md
  docs/cli/zetacored/zetacored_tx_crosschain.md
  docs/cli/zetacored/zetacored_tx_crosschain_whitelist-erc20.md
  x/crosschain/client/cli/cli_whitelist_erc20.go
  x/crosschain/client/cli/tx.go
  x/crosschain/types/tx.pb.go
Labels: breaking:cli

#1781 ci: add codecov coverage upload as part of the CI
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  changelog.md
  codecov.yml
Labels: ci

#1793 ci: run build workflow on develop push for code coverage generation
  .github/workflows/build.yml
Labels: ci

#1783 refactor: zetaclient metrics
  changelog.md
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/evm/evm_client.go
  zetaclient/interfaces/interfaces.go
  zetaclient/metrics/chainmetrics.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
  zetaclient/tss/tss_signer.go
  zetaclient/zetacore_observer.go
Labels: breaking:cli, nosec

#1790 feat: initiated feature of zetaclient-restricted-address
  changelog.md
  cmd/zetaclientd/init.go
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  common/utils.go
  x/crosschain/keeper/evm_deposit.go
  zetaclient/bitcoin/bitcoin_client.go
  zetaclient/bitcoin/bitcoin_client_rpc_test.go
  zetaclient/bitcoin/bitcoin_client_test.go
  zetaclient/bitcoin/bitcoin_signer.go
  zetaclient/bitcoin/bitcoin_signer_test.go
  zetaclient/bitcoin/inbound_tracker.go
  zetaclient/bitcoin/utils.go
  zetaclient/bitcoin/utils_test.go
  zetaclient/common/utils.go
  zetaclient/common/utils_test.go
  zetaclient/config/config.go
  zetaclient/config/types.go
  zetaclient/evm/evm_client.go
  zetaclient/evm/evm_client_test.go
  zetaclient/evm/evm_signer.go
  zetaclient/evm/inbounds.go
  zetaclient/evm/inbounds_test.go
  zetaclient/interfaces/interfaces.go
  zetaclient/testdata/btc/block_mempool.space_8332_828440.json
  zetaclient/testdata/btc/block_trimmed_8332_828440.json
  zetaclient/testdata/btc/outtx_8332_148_raw_result.json
  zetaclient/testdata/cctx/cctx_1_6270.json
  zetaclient/testdata/cctx/cctx_8332_148.json
  zetaclient/testdata/evm/chain_1_receipt_ZetaSent_0xf3935200c80f98502d5edc7e871ffc40ca898e134525c42c2ae3cbc5725f9d76.json
  zetaclient/testutils/constant.go
  zetaclient/testutils/mock.go
  zetaclient/testutils/utils.go
  zetaclient/zetacore_observer.go
Labels: breaking:cli, nosec

#1511 refactor(`crosschain`): move ballot voting logic into `observer`
  Dockerfile
  changelog.md
  common/chain.go
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/mocks.go
  testutil/keeper/mocks/observer/slashing.go
  testutil/keeper/mocks/observer/staking.go
  testutil/keeper/observer.go
  testutil/network/network_setup.go
  testutil/sample/sample.go
  x/crosschain/client/integrationtests/inbound_voter_test.go
  x/crosschain/client/integrationtests/suite.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/types/errors.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/observer/genesis_test.go
  x/observer/keeper/chain_nonces_test.go
  x/observer/keeper/chain_params_test.go
  x/observer/keeper/grpc_query_blame_test.go
  x/observer/keeper/grpc_query_nonces_test.go
  x/observer/keeper/msg_server_add_block_header_test.go
  x/observer/keeper/msg_server_remove_chain_params_test.go
  x/observer/keeper/msg_server_test.go
  x/observer/keeper/msg_server_update_chain_params_test.go
  x/observer/keeper/msg_server_update_crosschain_flags_test.go
  x/observer/keeper/msg_server_update_observer_test.go
  x/observer/keeper/nonce_to_cctx_test.go
  x/observer/keeper/nonces_test.go
  x/observer/keeper/observer_set_test.go
  x/observer/keeper/pending_nonces_test.go
  x/observer/keeper/tss_funds_migrator_test.go
  x/observer/keeper/tss_test.go
  x/observer/keeper/utils_test.go
  x/observer/keeper/vote_inbound.go
  x/observer/keeper/vote_inbound_test.go
  x/observer/keeper/vote_outbound.go
  x/observer/keeper/vote_outbound_test.go
  x/observer/migrations/v3/migrate_test.go
  x/observer/migrations/v4/migrate_test.go
  x/observer/migrations/v5/migrate_test.go
  x/observer/migrations/v6/migrate_test.go
  x/observer/types/ballot.go
  x/observer/types/errors.go
  x/observer/types/observer_mapper.go
  x/observer/types/observer_set.go
Labels: nosec
