Repository zeta-chain/node, pull requests merged in 2024-09, with the labels that each got.

#2799 chore: remove go-tss imports from observer/types
  x/observer/client/cli/tx_vote_blame.go
  x/observer/client/cli/utils.go
  x/observer/client/cli/utils_test.go
  x/observer/types/utils.go
  zetaclient/zetacore/client_vote.go
Labels: breaking:cli, no-changelog

#2814 docs: remove the note for July release observer migration
  docs/releases/v19_observer_migration.md
Labels: no-changelog

#2804 chore: use btcsuite/btcd/btcec/v2 in x/crosschain/types
  x/crosschain/types/tx_body_verification.go
Labels: no-changelog

#2820 fix: use relative path for openapi handler
  docs/openapi/openapi.go
  docs/openapi/openapi.html
Labels: no-changelog

#2816 refactor(e2e): add functions for funding zevm accounts in`start-zetae2e.sh`
  contrib/localnet/orchestrator/start-zetae2e.sh
Labels: E2E, no-changelog, ADMIN_TESTS

#2819 chore: change snapshots API on contrib/localnet/scripts to consume state exports
  contrib/localnet/scripts/import-data.sh
Labels: no-changelog, UPGRADE_IMPORT_MAINNET_TESTS

#2824 fix: backport Solana inbound fix
  changelog.md
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/testdata/solana/chain_901_inbound_tx_result_5LuQMorgd11p8GWEw6pmyHCDtA26NUyeNFhLWPNk2oBoM9pkag1LzhwGSRos3j4TJLhKjswFhZkGtvSGdLDkmqsk.json
  zetaclient/testdata/solana/chain_901_inbound_tx_result_MS3MPLN7hkbyCZFwKqXcg8fmEvQMD74fN6Ps2LSWXJoRxPW5ehaxBorK9q1JFVbqnAvu9jXm6ertj7kT7HpYw1j.json
  zetaclient/testutils/constant.go
Labels: SOLANA_TESTS

#2825 feat: backport Bitcoin inscription support
  changelog.md
  contrib/localnet/bitcoin-sidecar/Dockerfile
  contrib/localnet/bitcoin-sidecar/js/package.json
  contrib/localnet/bitcoin-sidecar/js/src/client.ts
  contrib/localnet/bitcoin-sidecar/js/src/index.ts
  contrib/localnet/bitcoin-sidecar/js/src/script.ts
  contrib/localnet/bitcoin-sidecar/js/src/tsconfig.json
  contrib/localnet/bitcoin-sidecar/js/src/util.ts
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_extract_bitcoin_inscription_memo.go
  e2e/runner/bitcoin.go
  e2e/runner/inscription.go
  e2e/runner/solana.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/mocks/solana_rpc.go
Labels: nosec

#2821 test(e2e): backport protocol contract v2 migration test
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/v2.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/runner/accounting.go
  e2e/runner/evm.go
  e2e/runner/v2_migration.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  e2e/txserver/authority.go
  go.mod
  go.sum
  x/fungible/keeper/msg_server_update_gateway_contract.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/keeper/v2_evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/orchestrator/orchestrator.go
Labels: ci, breaking:cli, V2_TESTS, V2_MIGRATION_TESTS

#2848 fix: update go-tss with known fixes (v19.1)
  go.mod
  go.sum
Labels: PERFORMANCE_TESTS

#2850 ci: pin abigen version
  scripts/bindings-stateful-precompiles.sh
Labels: no-changelog

#2845 ci: cleanup release workflow
  .github/workflows/publish-release.yml
Labels: ci, no-changelog

#2852 fix: add license
  precompiles/prototype/IPrototype.sol
  precompiles/staking/IStaking.sol
Labels: no-changelog

#2795 feat: implementation of Solana restricted address
  changelog.md
  cmd/zetaclientd/init.go
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_withdraw_restricted_address.go
  e2e/e2etests/test_erc20_deposit_restricted_address.go
  e2e/e2etests/test_eth_withdraw_restricted_address.go
  e2e/e2etests/test_solana_deposit_restricted_address.go
  e2e/e2etests/test_solana_withdraw_restricted_address.go
  e2e/e2etests/test_zeta_deposit_restricted_address.go
  e2e/runner/require.go
  e2e/runner/setup_zeta.go
  e2e/runner/solana.go
  e2e/runner/trackers.go
  e2e/utils/zetacore.go
  testutil/sample/zetaclient.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/testutils/testdata.go
Labels: breaking:cli, chain:solana, SOLANA_TESTS

#2842 fix: move interval assignment out of cctx loop
  changelog.md
  zetaclient/orchestrator/orchestrator.go
Labels: SOLANA_TESTS

#2834 fix(zetaclient): use on-chain chain struct
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/bootstrap.go
Labels: no-changelog

#2857 fix: update go-tss with known fixes (release v20)
  go.mod
  go.sum
Labels: no-changelog

#2859 chore: backport upgrade/ci changes for v20
  .github/workflows/publish-release.yml
  Makefile
  app/setup_handlers.go
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Labels: ci, no-changelog, UPGRADE_LIGHT_TESTS, UPGRADE_IMPORT_MAINNET_TESTS

#2826 refactor: remove unused functions from emissions module
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/releases/v20_breaking_changes.md
  proto/zetachain/zetacore/emissions/params.proto
  proto/zetachain/zetacore/emissions/query.proto
  testutil/sample/genesis.go
  testutil/sample/genesis.json
  testutil/sample/sample.go
  typescript/zetachain/zetacore/emissions/params_pb.d.ts
  typescript/zetachain/zetacore/emissions/query_pb.d.ts
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/client/cli/query.go
  x/emissions/client/cli/query_get_emmisons_factors.go
  x/emissions/genesis_test.go
  x/emissions/keeper/block_rewards_components.go
  x/emissions/keeper/block_rewards_components_test.go
  x/emissions/keeper/grpc_query_get_emmisons_factors.go
  x/emissions/keeper/grpc_query_get_emmisons_factors_test.go
  x/emissions/keeper/keeper.go
  x/emissions/keeper/migrator.go
  x/emissions/keeper/params_test.go
  x/emissions/migrations/v3/migrate.go
  x/emissions/migrations/v3/migrate_test.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/module.go
  x/emissions/types/distributions.go
  x/emissions/types/distributions_test.go
  x/emissions/types/errors.go
  x/emissions/types/keys.go
  x/emissions/types/legacy_params.go
  x/emissions/types/legacy_params_test.go
  x/emissions/types/message_update_params_test.go
  x/emissions/types/params.go
  x/emissions/types/params.pb.go
  x/emissions/types/params_legacy.go
  x/emissions/types/params_test.go
  x/emissions/types/query.pb.go
  x/emissions/types/query.pb.gw.go
  x/emissions/types/types.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS

#2828 fix: register all interfaces in encoding config
  app/encoding.go
Labels: no-changelog

#2856 fix: move schedule interval calculation out of the loop (release v20)
  zetaclient/orchestrator/orchestrator.go
Labels: no-changelog

#2858 fix: update ethermint for event fix (release v20)
  go.mod
  go.sum
Labels: no-changelog

#2862 chore: backport more fixes for v20
  app/encoding.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/bootstrap.go
Labels: no-changelog

#2847 fix: update go-tss with known fixes
  go.mod
  go.sum
Labels: no-changelog, PERFORMANCE_TESTS

#2864 test: investigate v2 migration test failure
  e2e/runner/v2_migration.go
Labels: no-changelog, V2_MIGRATION_TESTS

#2866 fix: add Solana ZRC20 in v2 migration test (v20)
  e2e/runner/v2_migration.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Labels: no-changelog, V2_MIGRATION_TESTS

#2872 chore: sync v20 changelog
  changelog.md
Labels: no-changelog

#2751 feat: add Solana RPC status check and some refactor around RPC status check
  changelog.md
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/common/constant.go
  zetaclient/common/env.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/testutils/mocks/solana_rpc.go
Labels: zetaclient, nosec, chain:solana

#2882 fix(zetaclient): add block by number result nil check
  zetaclient/chains/evm/observer/observer.go
Labels: no-changelog

#2874 fix: support multiple runs for precomplies e2e test
  changelog.md
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/test_precompiles_staking.go
Labels: UPGRADE_TESTS, TSS_MIGRATION_TESTS

#2833 feat(ton): TON localnet integration
  .github/workflows/e2e.yml
  Makefile
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/init.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/ton.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/wait-for-ton.sh
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_ton_deposit.go
  e2e/runner/clients.go
  e2e/runner/logger.go
  e2e/runner/runner.go
  e2e/runner/setup_ton.go
  e2e/runner/ton/accounts.go
  e2e/runner/ton/accounts_test.go
  e2e/runner/ton/clients.go
  e2e/runner/ton/coin.go
  e2e/runner/ton/deployer.go
  e2e/runner/ton/gateway.compiled.json
  go.mod
  go.sum
  zetaclient/chains/ton/config.go
  zetaclient/chains/ton/observer/observer_test.go
Labels: ci, E2E, breaking:cli, nosec, chain:ton, TON_TESTS

#2844 fix: add pubkey to tss vote
  changelog.md
  x/observer/keeper/msg_server_vote_tss_test.go
  x/observer/types/message_vote_tss.go
  x/observer/types/message_vote_tss_test.go
Labels: TSS_MIGRATION_TESTS

#2881 chore: log panic line in ticker error
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
Labels: no-changelog

#2891 test: initialize liquidity cap for newly deployed erc20 in WhiteListERC20 e2e test
  e2e/e2etests/test_whitelist_erc20.go
  e2e/txserver/zeta_tx_server.go
Labels: no-changelog, ADMIN_TESTS

#2883 feat(zetacore): add chain static information for bitcoin signet testnet
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
  zetaclient/config/types.go
Labels: breaking:proto

#2870 feat: support multiple btc chain config
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/start_utils.go
  go.mod
  go.sum
  pkg/chains/chains.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/config/types_test.go
  zetaclient/context/app_test.go
  zetaclient/context/chain.go
  zetaclient/context/chain_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Labels: breaking:cli, UPGRADE_LIGHT_TESTS

#2894 fix(zetaclient): increase gas limit for TSS vote
  changelog.md
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/constant.go
Labels: PERFORMANCE_TESTS

#2895 test: add bitcoin e2e test deposit_call
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/runner/bitcoin.go
Labels: E2E, breaking:cli, chain:bitcoin

#2897 chore: backport changes for v20.0.2
  pkg/ticker/ticker.go
  pkg/ticker/ticker_test.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  zetaclient/chains/evm/observer/observer.go
Labels: no-changelog

#2750 chore: upgrade btcd (and tss deps)
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetaclientd/keygen_tss.go
  cmd/zetaclientd/main.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_withdraw_legacy.go
  e2e/e2etests/test_bitcoin_withdraw_p2sh.go
  e2e/e2etests/test_bitcoin_withdraw_p2wsh.go
  e2e/e2etests/test_bitcoin_withdraw_segwit.go
  e2e/e2etests/test_migrate_tss.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  e2e/runner/setup_zeta.go
  e2e/utils/utils.go
  go.mod
  go.sum
  pkg/chains/address.go
  pkg/chains/address_taproot.go
  pkg/chains/address_test.go
  pkg/crypto/tss.go
  pkg/crypto/tss_test.go
  pkg/proofs/bitcoin/proof.go
  pkg/proofs/bitcoin/proof_test.go
  pkg/proofs/headers.go
  pkg/proofs/proof.go
  pkg/proofs/proof_test.go
  x/lightclient/keeper/grpc_query_prove.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/fee_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_keysign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/utils.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/hsm/hsm_signer_test.go
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/mocks/tss_signer.go
  zetaclient/tss/tss_signer.go
Labels: breaking:cli, no-changelog, UPGRADE_TESTS, UPGRADE_LIGHT_TESTS, PERFORMANCE_TESTS

#2868 feat: add optional persistence to localnet
  .gitignore
  Makefile
  contrib/localnet/docker-compose-persistent.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/grafana/grafana.ini
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  docs/development/LOCAL_TESTING.md
Labels: no-changelog

#2906 chore: upgrade grafana
  contrib/localnet/docker-compose.yml
Labels: no-changelog

#2899 refactor: remove btc deposit fee v1 and improve unit tests
  changelog.md
  e2e/runner/bitcoin.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/tx_script.go
  zetaclient/chains/bitcoin/tx_script_test.go
  zetaclient/testdata/btc/chain_8332_msgtx_847139aa65aa4a5ee896375951cbf7417cfc8a4d6f277ec11f40cd87319f04aa.json
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testrpc/rpc_btc.go
Labels: nosec

#2907 feat: derive Bitcoin TSS address by chain ID; added more Signet static info in 'chains' package
  changelog.md
  cmd/zetaclientd/start.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/runner/bitcoin.go
  pkg/chains/bitcoin.go
  pkg/chains/bitcoin_test.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/observer/keeper/grpc_query_tss.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_keysign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/tss_signer.go
  zetaclient/tss/tss_signer.go
  zetaclient/tss/tss_signer_test.go
Labels: breaking:cli

#2911 feat: add Bitcoin Testnet4 static chain info
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
  zetaclient/config/types.go
Labels: breaking:proto

#2860 feat!: bank precompile
  Dockerfile-localnet
  app/app.go
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/precompiles.go
  codecov.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/contracts/testbank/TestBank.abi
  e2e/contracts/testbank/TestBank.bin
  e2e/contracts/testbank/TestBank.go
  e2e/contracts/testbank/TestBank.json
  e2e/contracts/testbank/TestBank.sol
  e2e/contracts/testbank/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_bank.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
  e2e/e2etests/test_rate_limiter.go
  e2e/e2etests/test_stress_btc_deposit.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/utils/require.go
  precompiles/bank/IBank.abi
  precompiles/bank/IBank.gen.go
  precompiles/bank/IBank.json
  precompiles/bank/IBank.sol
  precompiles/bank/bank.go
  precompiles/bank/bank_test.go
  precompiles/bank/bindings.go
  precompiles/bank/coin.go
  precompiles/bank/coin_test.go
  precompiles/bank/const.go
  precompiles/bank/logs.go
  precompiles/bank/method_balance_of.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_test.go
  precompiles/bank/method_withdraw.go
  precompiles/logs/logs.go
  precompiles/precompiles.go
  precompiles/precompiles_test.go
  precompiles/prototype/IPrototype.gen.go
  precompiles/prototype/bindings.go
  precompiles/staking/IStaking.gen.go
  precompiles/staking/bindings.go
  precompiles/staking/logs.go
  precompiles/types/errors.go
  precompiles/types/errors_test.go
  precompiles/types/types.go
  scripts/bindings-stateful-precompiles.sh
Labels: breaking:cli

#2927 ci: add option to enable monitoring stack
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
  contrib/localnet/docker-compose.yml
Labels: ci, no-changelog, ENABLE_MONITORING

#2817 ci: add rpcimportable test
  .github/workflows/ci.yml
  contrib/rpcimportable/go.mod
  contrib/rpcimportable/rpcimportable_test.go
  go.mod
  go.sum
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_test.go
  pkg/sdkconfig/sdkconfig.go
  testutil/keeper/config.go
  testutil/keeper/emissions.go
  x/authority/types/genesis_test.go
  x/authority/types/policies_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/message_migrate_tss_funds_test.go
  x/crosschain/types/message_update_erc20_custody_pause_status_test.go
  x/crosschain/types/message_update_tss_address_test.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/emissions/abci_test.go
  x/observer/types/message_vote_blame_test.go
  x/observer/types/message_vote_block_header_test.go
  zetaclient/zetacore/client_crosschain.go
  zetaclient/zetacore/client_test.go
Labels: ci, no-changelog

#2929 ci: Add SARIF upload to GitHub Security Dashboard
  .github/workflows/semgrep.yml
Labels: ci, no-changelog

#2931 test: add wait for block to tss migration test
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/zeta.go
Labels: no-changelog, TSS_MIGRATION_TESTS
