Repository zeta-chain/node, pull requests merged in 2024-06, with the labels that each got.

#2309 fix: adjust upgrade orchestrator scp quoting
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Labels: no-changelog

#2314 chore: change max execution period
  app/app.go
Labels: no-changelog

#2303 test: allow running Bitcoin tests on live networks (tentative)
  e2e/e2etests/helper_bitcoin.go
  e2e/e2etests/test_bitcoin_withdraw_invalid_address.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
  e2e/runner/setup_bitcoin.go
Labels: no-changelog

#2312 feat: add queries ShowAuthorization and ListAuthorizations
  changelog.md
  docs/cli/zetacored/zetacored_query_authority.md
  docs/cli/zetacored/zetacored_query_authority_list-authorizations.md
  docs/cli/zetacored/zetacored_query_authority_show-authorization.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/authority/query.proto
  typescript/zetachain/zetacore/authority/query_pb.d.ts
  x/authority/client/cli/query.go
  x/authority/client/cli/query_authorization_list.go
  x/authority/keeper/grpc_query_authorization_list.go
  x/authority/keeper/grpc_query_authothorization_list_test.go
  x/authority/types/query.pb.go
  x/authority/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli

#2323 refactor: perform some various renaming fixes
  docs/openapi/openapi.swagger.yaml
  docs/zetaclient/zetaclient_logging.md
  proto/zetachain/zetacore/crosschain/genesis.proto
  proto/zetachain/zetacore/observer/observer.proto
  testutil/keeper/crosschain.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/crosschain/genesis_pb.d.ts
  typescript/zetachain/zetacore/observer/observer_pb.d.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/process_outbound.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/keys.go
  x/observer/keeper/msg_server_vote_block_header.go
  x/observer/keeper/utils_test.go
  x/observer/keeper/vote_inbound.go
  x/observer/keeper/vote_inbound_test.go
  x/observer/keeper/vote_outbound.go
  x/observer/keeper/vote_outbound_test.go
  x/observer/types/ballot_test.go
  x/observer/types/observer.pb.go
  x/observer/types/parsers_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/outboundprocessor/outbound_processor.go
  zetaclient/outboundprocessor/outbound_processor_test.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:proto, no-changelog

#2333 chore: add an issue form template for setting up a node
  .github/ISSUE_TEMPLATE/syncing.yaml
Labels: ci, no-changelog

#2337 ci: phrasing in the syncing template
  .github/ISSUE_TEMPLATE/syncing.yaml
Labels: ci, no-changelog

#2339 chore: Update syncing issue form
  .github/ISSUE_TEMPLATE/syncing.yaml
  changelog.md
Labels: ci

#2343 chore: update code owners
  .github/CODEOWNERS
Labels: ci, no-changelog

#2346 docs: fix URLs in the syncing issue template
  .github/ISSUE_TEMPLATE/syncing.yaml
Labels: ci, no-changelog

#2327 fix: created btc dust amount constant and renaming
  changelog.md
  pkg/chains/chains.go
  pkg/chains/conversion.go
  pkg/constant/constant.go
Labels: nosec

#2351 chore: delete static zetacore/zetaclient config/keys
  Dockerfile-localnet
  contrib/localnet/preparams/PreParams_zetaclient0.json
  contrib/localnet/preparams/PreParams_zetaclient1.json
  contrib/localnet/preparams/PreParams_zetaclient2.json
  contrib/localnet/preparams/PreParams_zetaclient3.json
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/tss/zetaclient0/address_book.seed
  contrib/localnet/tss/zetaclient0/localstate-zetapub1addwnpepqt9km47ldtun5nemm5nuusm5ly33l0j6sze64l265meggyw3wph6sv064me.json
  contrib/localnet/tss/zetaclient1/address_book.seed
  contrib/localnet/tss/zetaclient1/localstate-zetapub1addwnpepqt9km47ldtun5nemm5nuusm5ly33l0j6sze64l265meggyw3wph6sv064me.json
  contrib/localnet/zetacored/zetacored_zetacore0/config/app.toml
  contrib/localnet/zetacored/zetacored_zetacore0/config/client.toml
  contrib/localnet/zetacored/zetacored_zetacore0/config/config.toml
  contrib/localnet/zetacored/zetacored_zetacore0/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore0/config/gentx/gentx-baef847b3c8b4fc599b4434b1f234a95de70cdc2.json
  contrib/localnet/zetacored/zetacored_zetacore0/config/gentx/gentx-c9733926bd0e54244bd5189f64be9a5bd3754599.json
  contrib/localnet/zetacored/zetacored_zetacore0/config/node_key.json
  contrib/localnet/zetacored/zetacored_zetacore0/config/priv_validator_key.json
  contrib/localnet/zetacored/zetacored_zetacore0/keyring-test/2b8526afb7adbea65fde95a1a3e084a203227060.address
  contrib/localnet/zetacored/zetacored_zetacore0/keyring-test/813ac22a61491655e2786ae0d127d6990bfbfbde.address
  contrib/localnet/zetacored/zetacored_zetacore0/keyring-test/val_grantee_observer.info
  contrib/localnet/zetacored/zetacored_zetacore0/keyring-test/val_tss_signer.info
  contrib/localnet/zetacored/zetacored_zetacore0/keyring-test/val_zetaclient_grantee.info
  contrib/localnet/zetacored/zetacored_zetacore0/priv_validator_state.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/app.toml
  contrib/localnet/zetacored/zetacored_zetacore1/config/client.toml
  contrib/localnet/zetacored/zetacored_zetacore1/config/config.toml
  contrib/localnet/zetacored/zetacored_zetacore1/config/genesis.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/gentx/gentx-c9733926bd0e54244bd5189f64be9a5bd3754599.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/node_key.json
  contrib/localnet/zetacored/zetacored_zetacore1/config/priv_validator_key.json
  contrib/localnet/zetacored/zetacored_zetacore1/keyring-test/dbfe49f1884bbf3bbfc6a689cc0d1afc550c320d.address
  contrib/localnet/zetacored/zetacored_zetacore1/keyring-test/ffae40ec16513118d598d336d70834837292224a.address
  contrib/localnet/zetacored/zetacored_zetacore1/keyring-test/val_grantee_observer.info
  contrib/localnet/zetacored/zetacored_zetacore1/keyring-test/val_tss_signer.info
  contrib/localnet/zetacored/zetacored_zetacore1/keyring-test/val_zetaclient_grantee.info
  contrib/localnet/zetacored/zetacored_zetacore1/priv_validator_state.json
  contrib/localnet/zetacored/zetacored_zetacore2/keyring-test/val_grantee_observer.info
  contrib/localnet/zetacored/zetacored_zetacore3/keyring-test/val_grantee_observer.info
Labels: no-changelog

#2344 refactor: create base signer and signer structs to group common data of EVM/Bitcoin signer and observer
  changelog.md
  cmd/zetaclientd/main.go
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  zetaclient/chains/base/logger.go
  zetaclient/chains/base/logger_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/live_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/common/logger.go
  zetaclient/context/zetacore_context_test.go
  zetaclient/types/defs.go
Labels: breaking:cli

#2352 ci: add infra label to issue form
  .github/ISSUE_TEMPLATE/syncing.yaml
Labels: ci, no-changelog

#2350 refactor(e2e): use private key rather than mnemonic in admin tests
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/test_runner.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/docker-compose-admin.yml
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/runner/runner.go
  e2e/txserver/zeta_tx_server.go
Labels: breaking:cli, nosec, no-changelog

#2349 test(e2e): `TestBitcoinDepositRefund`, `WithdrawBitcoinMultipleTimes`
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/stress.go
  docs/development/LOCAL_TESTING.md
  e2e/README.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/helper_bitcoin.go
  e2e/e2etests/helper_erc20.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit_refund.go
  e2e/e2etests/test_bitcoin_withdraw_multiple.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  e2e/scripts/debug.sh
  e2e/scripts/run.sh
  e2e/utils/zetacore.go
  go.mod
  go.sum
Labels: breaking:cli, nosec

#2353 refactor: use docker healthcheck for localnet e2e
  Dockerfile-localnet
  cmd/zetaclientd/gen_pre_params.go
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/ssh_config
  zetaclient/config/config.go
Labels: breaking:cli, no-changelog

#2360 test: add stateful end to end test
  Makefile
  changelog.md
  cmd/zetacored/parse_genesis.go
  cmd/zetacored/parse_genesis_test.go
  contrib/localnet/docker-compose-import-data.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-rosetta.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  docs/cli/zetacored/zetacored_parse-genesis-file.md
Labels: breaking:cli

#2357 refactor: integrated base signer structure into existing EVM/BTC signers
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/utils.go
  testutil/sample/os.go
  zetaclient/chains/base/logger_test.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_keysign_test.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/mocks/tss_signer.go
  zetaclient/tss/tss_signer.go
Labels: breaking:cli, nosec

#2363 chore: backport zetaclient gen-pre-params command
  cmd/zetaclientd/gen_pre_params.go
Labels: breaking:cli, no-changelog

#2374 chore: initialize coderabbit config to focus review on code
  .coderabbit.yaml
Labels: no-changelog

#2365 refactor(localnet): reduce number of docker compose files
  .github/workflows/build.yml
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
  Makefile
  contrib/localnet/docker-compose-additionalevm.yml
  contrib/localnet/docker-compose-import-data.yml
  contrib/localnet/docker-compose-monitoring.yml
  contrib/localnet/docker-compose-performance.yml
  contrib/localnet/docker-compose-setup-only.yml
  contrib/localnet/docker-compose-stress.yml
  contrib/localnet/docker-compose-upgrade-light.yml
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  docs/development/LOCAL_TESTING.md
Labels: ci, no-changelog

#2367 fix: use correct name for rate limiter flag query
  docs/cli/zetacored/zetacored_query_crosschain.md
  docs/cli/zetacored/zetacored_query_crosschain_show-rate-limiter-flags.md
  x/crosschain/client/cli/query_rate_limiter_flags.go
Labels: breaking:cli, no-changelog

#2377 ci: Update sast-linters.yml
  .github/workflows/sast-linters.yml
  changelog.md
Labels: ci, nosec

#2359 refactor: integrated base Observer structure into existing EVM/BTC observers
  changelog.md
  cmd/zetaclientd/debug.go
  cmd/zetaclientd/utils.go
  testutil/sample/crypto.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/outbound_data_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/mocks/evm_rpc.go
Labels: breaking:cli, nosec

#2372 feat: add queries for tss funds migrator info
  changelog.md
  docs/cli/zetacored/zetacored_query_observer.md
  docs/cli/zetacored/zetacored_query_observer_list-tss-funds-migrator.md
  docs/cli/zetacored/zetacored_query_observer_show-tss-funds-migrator.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/query.proto
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/observer/client/cli/query.go
  x/observer/client/cli/query_tss_fund_migrator.go
  x/observer/keeper/grpc_query_tss_funds_migrator_info.go
  x/observer/keeper/grpc_query_tss_funds_migrator_test.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli

#2321 docs(`zetaclient`): add more function and package documentation
  changelog.md
  zetaclient/authz/authz_signer.go
  zetaclient/authz/authz_signer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/utils.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/compliance/compliance.go
  zetaclient/config/config.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/context/app_context.go
  zetaclient/context/zetacore_context.go
  zetaclient/hsm/hsm_signer.go
  zetaclient/keys/keys.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/outboundprocessor/outbound_processor.go
  zetaclient/ratelimiter/rate_limiter.go
  zetaclient/supplychecker/logger.go
  zetaclient/supplychecker/validate.go
  zetaclient/supplychecker/zeta_supply_checker.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/testutils/testdata.go
  zetaclient/tss/tss_signer.go
  zetaclient/types/dynamic_ticker.go
  zetaclient/types/ethish.go
  zetaclient/types/sql_evm.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/query.go
  zetaclient/zetacore/query_test.go
  zetaclient/zetacore/tx.go
Labels: nosec

#2364 test: add stateful upgrade test
  .github/workflows/execute_advanced_tests.yaml
  .github/workflows/publish-release.yml
  Makefile
  changelog.md
  cmd/zetacored/parse_genesis.go
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/import-data.sh
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetacored.sh
  docs/cli/zetacored/zetacored_parse-genesis-file.md
  e2e/txserver/zeta_tx_server.go
Labels: ci, breaking:cli

#2308 refactor(e2e): move addresses and private keys to config
  Dockerfile-localnet
  cmd/zetae2e/README.md
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/config_test.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/config/example.yml
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/init.go
  cmd/zetae2e/local/accounts.go
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/config.go
  cmd/zetae2e/local/erc20.go
  cmd/zetae2e/local/ethereum.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/misc.go
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/local/test_runner.go
  cmd/zetae2e/local/zeta.go
  cmd/zetae2e/local/zevm_mp.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/config/config_test.go
  e2e/e2etests/test_context_upgrade.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_refund.go
  e2e/e2etests/test_erc20_multiple_deposits.go
  e2e/e2etests/test_erc20_multiple_withdraws.go
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_eth_deposit_refund.go
  e2e/e2etests/test_message_passing_external_chains.go
  e2e/e2etests/test_message_passing_external_chains_revert_fail.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_rate_limiter.go
  e2e/e2etests/test_stress_eth_withdraw.go
  e2e/e2etests/test_update_bytecode_zrc20.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/e2etests/test_zeta_withdraw_bitcoin_revert.go
  e2e/e2etests/test_zrc20_swap.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/evm.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  e2e/runner/setup_evm.go
  e2e/runner/zeta.go
Labels: breaking:cli, nosec, no-changelog

#2388 ci: enable artifact attenstations
  .github/workflows/docker-build-and-push.yml
  .github/workflows/publish-release.yml
  .goreleaser.yaml
  changelog.md
Labels: ci

#2394 chore: update PR template
  .github/pull_request_template.md
Labels: ci, no-changelog
