Repository zeta-chain/node, pull requests merged in 2024-12, with the labels that each got.

#3088 feat: add function to withdraw and check delegator rewards
  app/app.go
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/precompiles.go
  e2e/contracts/testdistribute/TestDistribute.abi
  e2e/contracts/testdistribute/TestDistribute.bin
  e2e/contracts/testdistribute/TestDistribute.go
  e2e/contracts/testdistribute/TestDistribute.json
  e2e/contracts/testdistribute/TestDistribute.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
  e2e/e2etests/test_precompiles_distribute.go
  e2e/e2etests/test_precompiles_distribute_and_claim.go
  e2e/e2etests/test_precompiles_distribute_and_claim_through_contract.go
  e2e/e2etests/test_precompiles_distribute_through_contract.go
  precompiles/bank/method_deposit.go
  precompiles/bank/method_withdraw.go
  precompiles/precompiles.go
  precompiles/precompiles_test.go
  precompiles/staking/IStaking.abi
  precompiles/staking/IStaking.gen.go
  precompiles/staking/IStaking.json
  precompiles/staking/IStaking.sol
  precompiles/staking/const.go
  precompiles/staking/logs.go
  precompiles/staking/method_claim_rewards.go
  precompiles/staking/method_claim_rewards_test.go
  precompiles/staking/method_distribute.go
  precompiles/staking/method_distribute_test.go
  precompiles/staking/method_get_all_validators_test.go
  precompiles/staking/method_get_rewards.go
  precompiles/staking/method_get_rewards_test.go
  precompiles/staking/method_get_shares_test.go
  precompiles/staking/method_get_validators.go
  precompiles/staking/method_get_validators_test.go
  precompiles/staking/method_move_stake_test.go
  precompiles/staking/method_stake_test.go
  precompiles/staking/method_unstake_test.go
  precompiles/staking/staking.go
  precompiles/staking/staking_test.go
  precompiles/types/address.go
  precompiles/types/coin.go
  precompiles/types/coin_test.go
  testutil/keeper/keeper.go
Labels: breaking:cli, stateful-precompile, CONSENSUS_BREAKING_ACK

#3229 ci(e2e): use !cancelled() rather than always()
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#3239 fix: solana backports
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/start-solana.sh
  e2e/e2etests/test_spl_withdraw_and_create_receiver_ata.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/gateway.json
  pkg/contracts/solana/instruction.go
  pkg/contracts/solana/testdata/aY8yLDze6nHSRi7L5REozKAZY1aAyPJ6TfibiqQL5JGwgSBkYux5z5JfXs5ed8LZqpXUy4VijoU3x15mBd66ZGE.json
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Labels: no-changelog, SOLANA_TESTS

#3241 fix: allow processing v2 inbound trackers for gateway calls initiated by smart contracts (v2 backport)
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Labels: no-changelog, V2_TESTS

#3222 feat(zetaclient): disable EIP-1559
  e2e/e2etests/test_eth_withdraw.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
Labels: nosec, no-changelog, UPGRADE_LIGHT_TESTS, V2_TESTS

#3237 feat(zetaclient): disable EIP-1559 [backport]
  e2e/e2etests/test_eth_withdraw.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#3245 chore: update codeowner
  .github/CODEOWNERS
Labels: ci, no-changelog

#3246 fix: query solana inbound signatures using max version0 to avoid errors
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
Labels: SOLANA_TESTS

#3249 chore: use protocol-engineering team for codeowner
  .github/CODEOWNERS
Labels: ci, no-changelog

#3226 fix: allow processing v2 inbound trackers for gateway calls initiated by smart contracts
  e2e/e2etests/test_deploy_contract.go
  e2e/e2etests/test_eth_deposit_call.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/e2etests/test_solana_deposit_refund.go
  e2e/e2etests/test_ton_deposit_refund.go
  e2e/runner/balances.go
  e2e/runner/v2_setup_evm.go
  e2e/runner/v2_setup_zeta.go
  pkg/contracts/testdappv2/TestDAppV2.abi
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/types/status.go
  x/fungible/keeper/v2_deposits_test.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Labels: no-changelog, V2_TESTS, CONSENSUS_BREAKING_ACK

#3253 fix: cherry pick athens3 hotfixes
  changelog.md
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/keys/relayer_key.go
Labels: bug, zetaclient, chain:solana, SOLANA_TESTS

#3230 fix: update pending nonces when aborting a cctx through MsgAbortStuckCCTX
  changelog.md
  e2e/utils/zetacore.go
  x/crosschain/genesis.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/grpc_query_inbound_hash_to_cctx_test.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx_test.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_tss_funds.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/outbound_tracker_test.go
  x/crosschain/types/errors.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
Labels: nosec

#3256 chore(e2e): tolerate multiple runs of precompiled tests
  cmd/zetae2e/local/local.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_precompiles_bank.go
  e2e/e2etests/test_precompiles_bank_through_contract.go
Labels: breaking:cli, no-changelog

#3270 ci: skip cache build for dependabot PRs
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#3228 refactor(zetaclient): subscribe to new blocks in scheduler
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/metrics/metrics.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/testutils/mocks/cometbft_client.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_cosmos.go
  zetaclient/zetacore/client_subscriptions.go
  zetaclient/zetacore/client_test.go
Labels: breaking:cli, nosec, no-changelog, PERFORMANCE_TESTS

#3268 refactor(zetaclient): remove redundant getters/setters
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/start.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/base/signer_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_admin_test.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/orchestrator.go
Labels: breaking:cli, no-changelog, UPGRADE_LIGHT_TESTS, LEGACY_TESTS

#3095 test: initialize simulation tests for custom zetachain modules
  Makefile
  app/app.go
  app/modules.go
  changelog.md
  codecov.yml
  contrib/docker-scripts/start.sh
  server/start.go
  simulation/simulation_test.go
  simulation/state.go
  testutil/keeper/crosschain.go
  testutil/keeper/emissions.go
  testutil/keeper/fungible.go
  testutil/keeper/ibccrosschain.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/fungible/authority.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/observer/authority.go
  testutil/keeper/observer.go
  testutil/sample/crosschain.go
  testutil/sample/crypto.go
  testutil/sample/observer.go
  testutil/sample/sample.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/module_simulation.go
  x/crosschain/simulation/decoders.go
  x/crosschain/simulation/decoders_test.go
  x/crosschain/simulation/operations.go
  x/crosschain/simulation/simap.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/keeper.go
  x/fungible/keeper/msg_server_update_gateway_contract_test.go
  x/fungible/module.go
  x/fungible/module_simulation.go
  x/fungible/simulation/decoders.go
  x/fungible/simulation/decoders_test.go
  x/fungible/simulation/operations.go
  x/fungible/simulation/simap.go
  x/fungible/types/expected_keepers.go
  x/observer/keeper/keeper.go
  x/observer/keeper/msg_server_disable_cctx_flags.go
  x/observer/module.go
  x/observer/module_simulation.go
  x/observer/simulation/decoders.go
  x/observer/simulation/decoders_test.go
  x/observer/simulation/operations.go
  x/observer/simulation/simap.go
  x/observer/types/expected_keepers.go
  x/observer/types/keys.go
  zetaclient/testutils/mocks/zetacore_client.go
Labels: nosec, SIM_TESTS

#3272 chore: use v23 as base in upgrade tests
  Makefile
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#3278 fix: enforce checksum format for asset address in ZRC20
  changelog.md
  pkg/crypto/address.go
  pkg/crypto/address_test.go
  pkg/crypto/evm_address.go
  pkg/crypto/evm_address_test.go
  testutil/sample/fungible.go
  x/crosschain/types/message_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate.go
  x/fungible/migrations/v3/migrate_test.go
  x/fungible/module.go
Labels: UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3277 refactor(e2e): use address_book.seed rather than bootstrap peer
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
Labels: breaking:cli, no-changelog, PERFORMANCE_TESTS

#3285 docs: add a guide for E2E tests to run
  e2e/TESTING_GUIDE.md
Labels: no-changelog

#3290 refactor: unify cosmos sdk configurations
  app/app.go
  app/prefix.go
  cmd/cosmos.go
  cmd/zetaclientd/main.go
  cmd/zetacored/config/config.go
  cmd/zetacored/main.go
  cmd/zetacored/parse_genesis_test.go
  cmd/zetacored/parsers_test.go
  cmd/zetacored/root.go
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/main.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/rpcimportable/rpcimportable_test.go
  pkg/sdkconfig/default/default.go
  pkg/sdkconfig/sdkconfig.go
  testutil/keeper/emissions.go
  x/emissions/abci_test.go
  zetaclient/keys/keys_test.go
  zetaclient/testutils/mocks/tss.go
  zetaclient/tss/config.go
Labels: breaking:cli, no-changelog

#3291 refactor(zetaclient): streamline process initialization
  changelog.md
  cmd/zetaclientd/start.go
  cmd/zetaclientd/utils.go
  pkg/graceful/graceful.go
  pkg/graceful/graceful_test.go
  pkg/os/console.go
  zetaclient/chains/base/logger.go
  zetaclient/chains/base/logger_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/config/config.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/metrics_test.go
  zetaclient/metrics/telemetry.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_start.go
Labels: breaking:cli, nosec

#3297 fix(zetacore): bring back reserved fields as deprecated
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/outbound_tracker.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/outbound_tracker_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/types/outbound_tracker.pb.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto, no-changelog, UPGRADE_LIGHT_TESTS

#3289 fix: remove all dynamic peer discovery
  changelog.md
  go.mod
  go.sum
  zetaclient/metrics/telemetry.go
  zetaclient/tss/healthcheck.go
  zetaclient/tss/service.go
Labels: PERFORMANCE_TESTS

#3294 chore: use bitcoin core wallet script
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/docker-compose.yml
Labels: no-changelog

#3252 feat: add coordinated zetaclient restart
  cmd/zetaclientd/start.go
  cmd/zetacored/parse_genesis.go
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operational_flags.go
  e2e/runner/clients.go
  proto/zetachain/zetacore/observer/genesis.proto
  proto/zetachain/zetacore/observer/operational.proto
  proto/zetachain/zetacore/observer/query.proto
  proto/zetachain/zetacore/observer/tx.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/genesis_pb.d.ts
  typescript/zetachain/zetacore/observer/index.d.ts
  typescript/zetachain/zetacore/observer/operational_pb.d.ts
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/observer/client/cli/query.go
  x/observer/client/cli/query_operational_flags.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_update_operational_flags.go
  x/observer/genesis.go
  x/observer/genesis_test.go
  x/observer/keeper/grpc_query_operational_flags.go
  x/observer/keeper/grpc_query_operational_flags_test.go
  x/observer/keeper/msg_server_update_operational_flags.go
  x/observer/keeper/msg_server_update_operational_flags_test.go
  x/observer/keeper/operational_flags.go
  x/observer/keeper/operational_flags_test.go
  x/observer/types/codec.go
  x/observer/types/errors.go
  x/observer/types/genesis.pb.go
  x/observer/types/keys.go
  x/observer/types/message_update_operational_flags.go
  x/observer/types/message_update_operational_flags_test.go
  x/observer/types/operational.go
  x/observer/types/operational.pb.go
  x/observer/types/operational_test.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
  x/observer/types/tx.pb.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/maintenance/shutdown_listener.go
  zetaclient/maintenance/shutdown_listener_test.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client_operationalflags.go
Labels: breaking:proto, breaking:cli, nosec, ADMIN_TESTS, CONSENSUS_BREAKING_ACK

#3314 fix: update Solana last scanned block more frequently
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
Labels: zetaclient, SOLANA_TESTS

#3313 refactor(zetaclient): move rpc latency logs to metrics
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/metrics/metrics.go
  zetaclient/orchestrator/bootstap_test.go
  zetaclient/orchestrator/bootstrap.go
Labels: no-changelog

#3317 feat: add configurable signer latency correction
  changelog.md
  cmd/zetae2e/local/local.go
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operational_flags.go
  proto/zetachain/zetacore/observer/operational.proto
  proto/zetachain/zetacore/observer/tx.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/operational_pb.d.ts
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/observer/client/cli/tx_update_operational_flags.go
  x/observer/keeper/msg_server_update_operational_flags_test.go
  x/observer/types/errors.go
  x/observer/types/message_update_operational_flags_test.go
  x/observer/types/operational.go
  x/observer/types/operational.pb.go
  x/observer/types/operational_test.go
  x/observer/types/tx.pb.go
  zetaclient/metrics/metrics.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
Labels: breaking:proto, breaking:cli, ADMIN_TESTS, CONSENSUS_BREAKING_ACK
