Repository zeta-chain/node, pull requests merged in 2025-06, with the labels that each got.

#3941 chore: fix some function names in comment
  zetaclient/chains/bitcoin/client/client_rbf_test.go
Labels: no-changelog

#3945 fix: revert sui CCTX that contains invalid receiver address
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_withdraw_invalid_receiver.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
Labels: breaking:cli, no-changelog, chain:sui, SUI_TESTS

#3951 fix(backport/v31): do not process btc outbound as inbound transaction
  cmd/zetatool/chains/bitcoin.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
Labels: breaking:cli, no-changelog, chain:bitcoin

#3953 fix(backport): do not process btc outbound as inbound transaction
  changelog.md
  cmd/zetatool/chains/bitcoin.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
Labels: breaking:cli, chain:bitcoin

#3955 fix: allow evm chain stuck outbound replacement by using latest nonce
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/testutils/testrpc/rpc_evm.go
Labels: no-changelog, chain:evm

#3836 chore: versions docs file
  versions.md
Labels: no-changelog

#3959 fix: add missing message codec in authority module
  x/authority/types/codec.go
Labels: no-changelog, MERGE_FAILED

#3960 feat: migrate to golangci-lint v2
  .github/workflows/sast-linters.yml
  .golangci.yml
  Makefile
  app/export.go
  cmd/zetacored/root.go
  cmd/zetae2e/stress.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/chains/evm.go
  contrib/rpctest/main.go
  e2e/e2etests/legacy/test_erc20_deposit_refund.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/ton/faucet.go
  rpc/namespaces/ethereum/debug/api.go
  scripts/fmt.sh
  scripts/gen-spec.go
  testutil/simulation/rand_observer.go
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/inbound_tracker.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/types/inbound_parsing.go
  x/fungible/keeper/deposits.go
  x/lightclient/keeper/block_header.go
  x/lightclient/keeper/chain_state.go
  x/observer/keeper/chain_params.go
  x/observer/keeper/hooks.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/observer/v2_inbound.go
Labels: ci, breaking:cli, no-changelog

#3917 fix: prevent jailed observers from voting
  app/ante/ante.go
  app/ante/ante_test.go
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/proposals_e2e_end/reduce_max_validators.json
  contrib/localnet/orchestrator/start-zetae2e.sh
  precompiles/staking/method_get_all_validators_test.go
  precompiles/staking/method_get_rewards_test.go
  precompiles/staking/method_get_validators_test.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/sample/sample.go
  testutil/simulation/interfaces.go
  testutil/simulation/rand_observer.go
  x/crosschain/keeper/msg_server_add_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_inbound_tracker_test.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
  x/crosschain/keeper/msg_server_vote_gas_price.go
  x/crosschain/keeper/msg_server_vote_gas_price_test.go
  x/crosschain/types/expected_keepers.go
  x/emissions/types/expected_keepers.go
  x/observer/keeper/msg_server_update_observer.go
  x/observer/keeper/msg_server_vote_blame.go
  x/observer/keeper/msg_server_vote_block_header.go
  x/observer/keeper/vote_inbound.go
  x/observer/keeper/vote_outbound.go
  x/observer/keeper/voting.go
  x/observer/keeper/voting_test.go
  x/observer/types/errors.go
Labels: breaking:cli, TSS_MIGRATION_TESTS

#3967 fix(zetaclient/sui): set latest gas price after posting
  zetaclient/chains/sui/observer/observer.go
Labels: no-changelog

#3968 chore: upgrade go-tss for message ordering fix
  go.mod
  go.sum
Labels: no-changelog

#3964 fix: use the correct sender address for Bitcoin inscription based inbound
  changelog.md
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Labels: nosec, chain:bitcoin, CONSENSUS_BREAKING_ACK

#3970 fix(backport/v31): use the correct sender address for Bitcoin inscription based inbound
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/common/env.go
  zetaclient/testutils/mempool_client.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/testrpc/rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
  zetaclient/testutils/testrpc/rpc_evm.go
Labels: nosec, no-changelog, chain:bitcoin, improvement

#3983 test: fix sim tests
  .github/workflows/sim.yml
  app/export.go
  changelog.md
  simulation/simulation_test.go
Labels: ci, SIM_TESTS

#3975 test: add deployment of connector V2 to e2e test
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  contrib/rpctest/main.go
  e2e/config/config.go
  e2e/e2etests/e2etests.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  go.mod
  go.sum
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_gateway_test.go
Labels: breaking:cli, MERGE_FAILED

#3989 test: lower Bitcoin E2E deposit tx fee to make nightly test cheaper
  e2e/runner/bitcoin.go
Labels: E2E, no-changelog, chain:bitcoin

#3993 chore: fix some comments
  zetaclient/chains/bitcoin/client/helpers_test.go
  zetaclient/chains/bitcoin/observer/witness.go
Labels: no-changelog

#3977 feat(ton): integrate new functionality
  .golangci.yml
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_withdraw_masterchain.go
  e2e/e2etests/test_ton_withdraw_restricted.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/e2etests/test_ton_withdrawal_concurrent.go
  e2e/runner/run.go
  e2e/runner/ton.go
  e2e/utils/contracts.go
  pkg/contracts/ton/gateway.compiled.json
  pkg/contracts/ton/gateway_msg.go
  pkg/contracts/ton/gateway_parse.go
  pkg/contracts/ton/gateway_send.go
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/gateway_tx.go
  pkg/contracts/ton/testdata/08-call-abi.json
  pkg/contracts/ton/testdata/09-increase-seqno.json
  testutil/sample/ton.go
  testutil/sample/zetaclient.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/rpc/client_live_test.go
  zetaclient/chains/ton/rpc/types.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_compose.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/chains/ton/ton.go
  zetaclient/compliance/compliance.go
Labels: breaking:cli, nosec, TON_TESTS
