Repository zeta-chain/node, pull requests merged in 2025-08, with the labels that each got.

#4067 fix: disable sui authenticated call temporarily until gateway upgrade
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/bin/bin.go
  e2e/contracts/sui/bin/connected_legacy.mv
  e2e/contracts/sui/bin/gateway_legacy.mv
  e2e/contracts/sui/bin/token_legacy.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/.gitignore
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/README.md
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/evm.move
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/sources/gateway.move
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_token_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/withdraw_and_call.go
  pkg/contracts/sui/withdraw_and_call_test.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Labels: breaking:cli, nosec, chain:sui, SUI_TESTS, MERGE_FAILED

#4062 fix(cosmos-evm): upgrade tests
  Makefile
  cmd/zetae2e/local/config.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/contracts/sui/protocol-contracts-sui-upgrade-legacy/Move.toml
  e2e/e2etests/helpers.go
  e2e/e2etests/test_zeta_deposit.go
  e2e/runner/runner.go
  e2e/runner/setup_evm.go
  e2e/runner/setup_sui.go
  e2e/runner/setup_zevm.go
  e2e/runner/upgrade.go
  e2e/runner/upgrade_v33.go
Labels: breaking:cli, no-changelog, UPGRADE_TESTS, UPGRADE_LIGHT_TESTS

#4076 chore: cosmos evm latest integration
  app/ante/interfaces.go
  app/app.go
  cmd/zetacored/root.go
  cmd/zetae2e/local/evm.go
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks.go
  rpc/backend/node_info.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
  rpc/backend/tx_pool.go
  rpc/backend/utils.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/types/errors.go
  rpc/websockets.go
  server/flags/flags.go
  server/start.go
  simulation/simulation.go
  testutil/keeper/fungible.go
  testutil/keeper/keeper.go
  testutil/keeper/mocks/fungible/evm.go
  x/fungible/keeper/evm.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/types/expected_keepers.go
Labels: breaking:cli, nosec, no-changelog, UPGRADE_TESTS, TSS_MIGRATION_TESTS, ADMIN_UPGRADE_TESTS

#4077 feat: add Cosmos EVM default precompiles support
  app/app.go
  app/precompiles.go
  changelog.md
  contrib/localnet/scripts/start-zetacored.sh
  e2e/contracts/istaking/IStaking.abi
  e2e/contracts/istaking/IStaking.bin
  e2e/contracts/istaking/IStaking.go
  e2e/contracts/istaking/IStaking.json
  e2e/contracts/istaking/IStaking.sol
  e2e/contracts/istaking/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_precompiles.go
Labels: nosec, MERGE_FAILED

#4089 chore: bump cosmos evm and finalize changelogs for v33
  changelog.md
  contrib/rpcimportable/go.mod
  go.mod
  go.sum
Labels: no-changelog

#4098 fix: cancel solana WaC if tx size is too large
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_tx_size.go
  zetaclient/chains/solana/signer/fallback_tx.go
  zetaclient/chains/solana/signer/fallback_tx_test.go
Labels: bug, no-changelog, chain:solana, SOLANA_TESTS, CONSENSUS_BREAKING_ACK

#4093 fix: nil reference in trace block
  app/app.go
Labels: no-changelog

#4118 test: fix eth deposit test to check balance after deposit
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_deposit.go
Labels: E2E, test, no-changelog

#4100 fix: port Bitcoin memo decoding error log print to v34
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  zetaclient/chains/bitcoin/observer/inbound.go
Labels: no-changelog, code-quality, chain:bitcoin

#4113 test: fix flaky Solana depositAndCall tests
  changelog.md
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/testdapp.go
  e2e/utils/contracts.go
Labels: test, SOLANA_TESTS, TON_TESTS, LEGACY_TESTS

#4111 fix(cherry-pick): cancel solana WaC if tx size is too large
  changelog.md
Labels: bug, chain:solana, SOLANA_TESTS, CONSENSUS_BREAKING_ACK

#4110 chore: remove tx suffix in vote inbound and outbound message names
  x/crosschain/keeper/msg_server_vote_inbound.go
  x/crosschain/keeper/msg_server_vote_inbound_test.go
  x/crosschain/keeper/msg_server_vote_outbound.go
  x/crosschain/keeper/msg_server_vote_outbound_test.go
Labels: no-changelog

#4097 refactor(zetacore): overwrite consensus config values for all timeout deltas on startup.
  Makefile
  changelog.md
  contrib/localnet/docker-compose.yml
  contrib/localnet/scripts/add-keys.sh
  contrib/localnet/scripts/start-zetacored.sh
  docs/cli/zetacored/cli.md
  server/start.go
  server/timeout.go
  server/timeout_test.go
Labels: UPGRADE_TESTS, ADMIN_UPGRADE_TESTS

#4131 refactor: replace []byte(fmt.Sprintf) with fmt.Appendf
  testutil/sample/observer.go
  x/crosschain/keeper/inbound_tracker.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/observer/keeper/tss_funds_migrator.go
  x/observer/keeper/tss_funds_migrator_test.go
  x/observer/types/keys.go
Labels: no-changelog

#4141 chore: fix some observer message names
  x/observer/keeper/msg_server_disable_cctx.go
  x/observer/keeper/msg_server_disable_cctx_test.go
  x/observer/keeper/msg_server_enable_cctx.go
  x/observer/keeper/msg_server_enable_cctx_test.go
  x/observer/types/message_disable_cctx.go
  x/observer/types/message_disable_cctx_test.go
  x/observer/types/message_enable_cctx.go
  x/observer/types/message_enable_cctx_test.go
Labels: no-changelog

#4142 test: fix flaky Solana SPL deposit balance check
  changelog.md
  e2e/e2etests/test_spl_deposit.go
  e2e/runner/solana.go
  e2e/utils/balance_change.go
  e2e/utils/zetacore.go
Labels: test, chain:solana, SOLANA_TESTS
