Repository zeta-chain/node, pull requests merged in 2025-07, with the labels that each got.

#3999 ci: run simualtion tests nightly
  .github/workflows/sim.yml
  changelog.md
Labels: ci

#3997 chore: fix function in comment
  simulation/state.go
Labels: no-changelog

#4003 chore: upgrade cosmos sdk to 0.50.14
  Makefile
  changelog.md
  e2e/e2etests/e2etests.go
  go.mod
  go.sum
Labels: UPGRADE_TESTS

#4010 feat: backport #4009
  .github/workflows/publish-release.yml
  .goreleaser.yaml
Labels: ci, no-changelog

#4009 feat(release): publish zetae2e
  .github/workflows/publish-release.yml
  .goreleaser.yaml
Labels: ci, no-changelog

#4019 fix: use 0 for effective gas limit for Sui and TON
  changelog.md
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/outbound.go
Labels: SUI_TESTS

#4012 chore: fix inconsistent function name in comment
  pkg/contracts/solana/instruction.go
Labels: no-changelog

#4007 feat: Sui withdraw and authenticated call
  changelog.md
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  e2e/contracts/sui/bin/bin.go
  e2e/contracts/sui/bin/evm.mv
  e2e/contracts/sui/bin/fake_usdc.mv
  e2e/contracts/sui/bin/gateway.mv
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example/.gitignore
  e2e/contracts/sui/example/Makefile
  e2e/contracts/sui/example/Move.lock
  e2e/contracts/sui/example/Move.toml
  e2e/contracts/sui/example/README.md
  e2e/contracts/sui/example/sources/example.move
  e2e/contracts/sui/gateway.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway.move
  e2e/contracts/sui/token.mv
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_sui_withdraw.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_invalid_receiver.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  e2e/runner/sui_gateway_upgrade.go
  e2e/utils/utils.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/withdraw_and_call.go
  pkg/contracts/sui/withdraw_and_call_test.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/signer_withdrawcap.go
  zetaclient/chains/sui/signer/tss_owned_object.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
Labels: nosec, chain:sui, SUI_TESTS

#4020 fix: burn sui stabilty pool balance using a migration script
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/runner.go
  e2e/runner/upgrade.go
  x/fungible/keeper/migrator.go
  x/fungible/migrations/v3/migrate.go
  x/fungible/migrations/v3/migrate_test.go
  x/fungible/migrations/v4/migrate.go
  x/fungible/migrations/v4/migrate_test.go
  x/fungible/module.go
Labels: breaking:cli, UPGRADE_TESTS, ADMIN_UPGRADE_TESTS

#4026 refactor: enable Bitcoin inscription parsing on mainnet
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
Labels: no-changelog

#4022 test: configure Solana E2E connected program IDs
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/config/config.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_spl_withdraw_and_call.go
  e2e/e2etests/test_spl_withdraw_and_call_revert.go
  e2e/e2etests/test_zevm_to_solana_call.go
  e2e/runner/runner.go
  e2e/runner/setup_solana.go
  e2e/runner/solana.go
Labels: breaking:cli, test, chain:solana, SOLANA_TESTS

#4029 fix(`crosschain`): use correct chain ID when refunding aborted gas and zeta cctx from ZetaChain
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
Labels: no-changelog, MERGE_FAILED

#4018 fix: sui accounting by using 0 for the effective gas limit
  changelog.md
  cmd/zetae2e/local/sui.go
  e2e/runner/accounting.go
  e2e/runner/sui_gateway_balance.go
  e2e/runner/sui_gateway_balance_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
Labels: breaking:cli, nosec, SUI_TESTS, MERGE_FAILED

#4035 test: use grpc to query zeta supply in accounting check
  e2e/runner/accounting.go
Labels: no-changelog, MERGE_FAILED

#4037 test(e2e): fix e2e test involving test re-runs
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  e2e/runner/admin_evm.go
  e2e/runner/upgrade.go
Labels: breaking:cli, no-changelog, UPGRADE_TESTS, ADMIN_UPGRADE_TESTS, SUI_TESTS

#4014 feat(zetaclient): minor code improvements
  cmd/zetatool/cctx/cctx_details.go
  pkg/bg/bg.go
  pkg/bg/bg_test.go
  pkg/rpc/clients_crosschain.go
  pkg/rpc/clients_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_fungible_test.go
  zetaclient/zetacore/client_monitor.go
  zetaclient/zetacore/client_start.go
  zetaclient/zetacore/client_test.go
  zetaclient/zetacore/constant.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:cli, no-changelog

#4055 fix(sui): metrics typo
  zetaclient/chains/sui/sui.go
Labels: no-changelog

#4053 test: unified ZRC20 balance checking logic in E2E tests
  changelog.md
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_and_abort.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_eth_deposit_revert_and_abort.go
  e2e/e2etests/test_solana_deposit.go
  e2e/e2etests/test_solana_deposit_through_program.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit.go
  e2e/e2etests/test_sui_token_deposit.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/runner.go
  e2e/utils/zetacore.go
Labels: test, SOLANA_TESTS, TON_TESTS, SUI_TESTS

#4060 refactor: cleanup mempool fork
  app/app.go
  app/signer.go
  changelog.md
  cmd/zetacored/root.go
  go.mod
  go.sum
  pkg/mempool/custom_proposal_handler.go
  pkg/mempool/custom_proposal_handler_test.go
  pkg/mempool/mempool_test.go
  pkg/mempool/priority_nonce_mempool.go
  pkg/mempool/priority_nonce_mempool_test.go
  pkg/mempool/senders_with_nonce.go
Labels: breaking:cli, UPGRADE_TESTS

#4063 feat(`fungible`): add a message to burn funds in the fungible module
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_burn_fungible_module_asset.go
  e2e/txserver/bank.go
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/keeper/mocks/fungible/bank.go
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v4/migrate.go
  x/authority/migrations/v4/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/msg_server_burn_fungible_module_asset.go
  x/fungible/keeper/msg_server_burn_fungible_module_asset_test.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/expected_keepers.go
  x/fungible/types/message_burn_fungible_module_asset.go
  x/fungible/types/message_burn_fungible_module_asset_test.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto, breaking:cli, ADMIN_TESTS

#4058 test(`e2e`): add e2e test to check withdraw with custom gas limit
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_custom_gas_limit.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  e2e/runner/bitcoin.go
  e2e/runner/solana.go
  e2e/runner/sui.go
  e2e/runner/ton.go
  e2e/runner/zevm.go
  go.mod
  go.sum
Labels: breaking:cli, no-changelog
