Repository zeta-chain/node, pull requests merged in 2025-01, with the labels that each got.

#3327 chore: fix function name in comment
  zetaclient/chains/bitcoin/rpc/rpc.go
Labels: no-changelog

#3321 fix: make crosschain-call with invalid withdraw revert
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/contracts/withdrawer/Withdrawer.abi
  e2e/contracts/withdrawer/Withdrawer.bin
  e2e/contracts/withdrawer/Withdrawer.go
  e2e/contracts/withdrawer/Withdrawer.json
  e2e/contracts/withdrawer/Withdrawer.sol
  e2e/contracts/withdrawer/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Labels: breaking:cli, CONSENSUS_BREAKING_ACK

#3329 chore: remove main Dockerfile
  .github/actions/build-docker-images-generic/action.yml
  .github/actions/build-docker-images/action.yml
  .github/workflows/docker-build-and-push.yml
  Dockerfile
  Makefile
  contrib/docker-scripts/download_binaries.py
  contrib/docker-scripts/install_cosmovisor.py
  contrib/docker-scripts/start.sh
  contrib/rpc/zetacored/docker-compose.yml
  contrib/rpc/zetacored/init_docker_compose.sh
  contrib/rpc/zetacored/kill_docker_compose.sh
  contrib/rpc/zetacored/networks/.athens3
  contrib/rpc/zetacored/networks/.athens3-localbuild
  contrib/rpc/zetacored/networks/.mainnet
  contrib/rpc/zetacored/networks/.mainnet-localbuild
Labels: ci, no-changelog

#3338 chore: prepare v25
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  precompiles/precompiles.go
Labels: breaking:cli, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3320 feat: add zetaclient minimum version check
  changelog.md
  cmd/zetaclientd/start.go
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/operational.proto
  typescript/zetachain/zetacore/observer/operational_pb.d.ts
  x/observer/types/errors.go
  x/observer/types/operational.go
  x/observer/types/operational.pb.go
  x/observer/types/operational_test.go
  zetaclient/maintenance/shutdown_listener.go
  zetaclient/maintenance/shutdown_listener_test.go
Labels: breaking:proto, breaking:cli, ADMIN_TESTS, CONSENSUS_BREAKING_ACK

#3340 fix: ensure block subscriptions do not conflict (v25)
  pkg/fanout/fanout.go
  pkg/fanout/fanout_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_subscriptions.go
Labels: no-changelog, ADMIN_TESTS

#3342 fix!: set per transaction gas limit to 10M
  app/app.go
  changelog.md
Labels: ADMIN_TESTS, PERFORMANCE_TESTS

#3332 feat(zetaclient)!: orchestrator V2
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/start.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/runner/bitcoin.go
  go.mod
  pkg/chains/chain.go
  pkg/fanout/fanout.go
  pkg/fanout/fanout_test.go
  pkg/scheduler/opts.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/tickers.go
  pkg/ticker/ticker.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/common/tx_script.go
  zetaclient/chains/bitcoin/common/tx_script_test.go
  zetaclient/chains/bitcoin/common/utils.go
  zetaclient/chains/bitcoin/errors.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/context/chain.go
  zetaclient/context/context.go
  zetaclient/maintenance/shutdown_listener_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/contextupdater.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/mocks/chain_params.go
  zetaclient/testutils/testlog/log.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_subscriptions.go
Labels: zetaclient, refactor, breaking:cli, nosec, chain:bitcoin, UPGRADE_LIGHT_TESTS, ADMIN_TESTS

#3347 refactor: using slices.Contains to simplify the code
  app/ante/authz.go
  x/crosschain/types/status.go
Labels: no-changelog

#2863 refactor(zetacore): delete ballots after maturity
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/query.proto
  testutil/keeper/mocks/emissions/observer.go
  testutil/sample/logger.go
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/keeper/events.go
  x/emissions/types/expected_keepers.go
  x/observer/client/cli/query.go
  x/observer/client/cli/query_ballot.go
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
  x/observer/keeper/export_private_functions_test.go
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v9/migrate.go
  x/observer/migrations/v9/migrate_test.go
  x/observer/module.go
  x/observer/types/ballot_test.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK

#3349 feat(btc): implement new btc rpc package
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetae2e/config/clients.go
  e2e/config/config.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/accounting.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/clients.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/rpc/rpc.go
  zetaclient/chains/bitcoin/rpc/rpc_live_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/context/app.go
  zetaclient/metrics/metrics.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/mocks/btc_rpc.go
  zetaclient/testutils/testrpc/rpc_btc.go
Labels: breaking:cli, nosec, chain:bitcoin, improvement

#3356 chore: improve HeaderByNumber error message
  zetaclient/chains/evm/rpc/rpc.go
Labels: no-changelog

#3375 chore(e2e): improve balance error messages
  e2e/runner/balances.go
Labels: no-changelog

#3374 fix: remove minimum rent exempt check for SPL token withdrawals
  changelog.md
  e2e/e2etests/e2etests.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
  x/crosschain/keeper/v2_zevm_inbound.go
Labels: bug, zetacore, chain:solana, SOLANA_TESTS

#3379 refactor(pkg/chains): add Avalanche, Arbitrum and World Chain in chain info
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Labels: breaking:proto

#3348 fix(`crosschain`): add support to perform withdraws in ZetaChain `onRevert` call
  changelog.md
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound_test.go
  x/crosschain/types/expected_keepers.go
  x/fungible/keeper/v2_deposits.go
Labels: breaking:cli, nosec, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3387 feat: allow nil liquidity cap
  e2e/e2etests/test_migrate_chain_support.go
  e2e/txserver/zeta_tx_server.go
  precompiles/bank/method_test.go
  precompiles/staking/staking_test.go
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/keeper/mocks/crosschain/fungible.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/utils_test.go
  x/crosschain/types/expected_keepers.go
  x/fungible/client/cli/tx_deploy_fungible_coin_zrc_4.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/gas_coin_and_pool.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_update_contract_bytecode_test.go
  x/fungible/types/message_deploy_fungible_coin_zrc20.go
  x/fungible/types/message_deploy_fungible_coin_zrc20_test.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto, breaking:cli, no-changelog, UPGRADE_LIGHT_TESTS

#3392 chore: fix some comments
  cmd/zetae2e/local/local.go
  pkg/contracts/solana/gateway.go
  pkg/mempool/custom_proposal_handler_test.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/types/utils.go
  x/lightclient/keeper/block_header_test.go
  zetaclient/chains/evm/observer/v2_inbound.go
Labels: breaking:cli, no-changelog

#3353 feat: add liquidity cap parameter to ZRC20 creation
  changelog.md
  docs/spec/crosschain/messages.md
  docs/spec/fungible/messages.md
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_erc20.go
  e2e/txserver/zeta_tx_server.go
  precompiles/bank/method_test.go
  precompiles/staking/staking_test.go
  proto/zetachain/zetacore/crosschain/tx.proto
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/keeper/mocks/crosschain/fungible.go
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  typescript/zetachain/zetacore/fungible/tx_pb.d.ts
  x/crosschain/client/cli/cli_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20.go
  x/crosschain/keeper/msg_server_whitelist_erc20_test.go
  x/crosschain/keeper/utils_test.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/message_whitelist_erc20.go
  x/crosschain/types/message_whitelist_erc20_test.go
  x/crosschain/types/tx.pb.go
  x/fungible/client/cli/tx_deploy_fungible_coin_zrc_4.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/gas_coin_and_pool.go
  x/fungible/keeper/gas_coin_and_pool_test.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20.go
  x/fungible/keeper/msg_server_deploy_fungible_coin_zrc20_test.go
  x/fungible/keeper/msg_server_update_contract_bytecode_test.go
  x/fungible/types/message_deploy_fungible_coin_zrc20.go
  x/fungible/types/message_deploy_fungible_coin_zrc20_test.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto, breaking:cli, UPGRADE_LIGHT_TESTS

#3394 refactor(zetaclient): extract base observer and base signer from BTC
  cmd/zetaclientd/inbound.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/orchestrator/v2_bootstrap.go
Labels: breaking:cli, no-changelog

#3390 feat(zetaclient)!: EVM observer-signer
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetatool/filterdeposit/evm.go
  pkg/fanout/fanout.go
  pkg/fanout/fanout_test.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/evm/client/client.go
  zetaclient/chains/evm/client/client_live_test.go
  zetaclient/chains/evm/common/cctx.go
  zetaclient/chains/evm/common/cctx_test.go
  zetaclient/chains/evm/common/constant.go
  zetaclient/chains/evm/common/validation.go
  zetaclient/chains/evm/common/validation_test.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/observer/rpc_status.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_outbound.go
  zetaclient/chains/evm/rpc/rpc.go
  zetaclient/chains/evm/rpc/rpc_live_test.go
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/evm/signer/sign.go
  zetaclient/chains/evm/signer/sign_test.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/evm/signer/v2_signer.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/testrpc/rpc_evm.go
  zetaclient/zetacore/client_crosschain.go
  zetaclient/zetacore/client_subscriptions.go
Labels: breaking:cli, nosec, UPGRADE_LIGHT_TESTS

#3395 fix(ci): adjust sim conditional logic
  .github/workflows/reusable-sim.yml
  .github/workflows/sim.yaml
Labels: ci, no-changelog, SIM_TESTS

#3407 test: add liquidty cap field to sim tests for MsgWhitelistERC20
  x/crosschain/simulation/operation_whitelist_erc20.go
Labels: no-changelog, SIM_TESTS

#3368 feat(`zetatools`): cli command to fetch inbound ballot from inbound hash and move to zetatools
  changelog.md
  cmd/zetaclientd/inbound.go
  cmd/zetaclientd/main.go
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/config/sample_config.json
  cmd/zetatool/filterdeposit/btc.go
  cmd/zetatool/filterdeposit/evm.go
  cmd/zetatool/filterdeposit/filterdeposit.go
  cmd/zetatool/filterdeposit/filterdeposit_test.go
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  cmd/zetatool/main.go
  docs/cli/zetatool/filterdeposit.md
  docs/cli/zetatool/readme.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Labels: breaking:cli, nosec

#3358 feat: register aborted CCTX for Bitcoin inbound that carries insufficient depositor fee
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/evm.go
  cmd/zetatool/inbound/solana.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_stress_btc_deposit.go
  e2e/runner/bitcoin.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Labels: zetaclient, zetacore, breaking:proto, breaking:cli, chain:bitcoin, CONSENSUS_BREAKING_ACK

#3415 fix(e2e): always wait for at least height 1
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetaclientd.sh
  e2e/utils/zetacore.go
  zetaclient/zetacore/client_subscriptions.go
Labels: breaking:cli, no-changelog, UPGRADE_LIGHT_TESTS

#3413 chore: Add ADMIN_UPGRADE_TESTS label to test start-upgrade-test-admin
  .github/workflows/e2e.yml
Labels: ci, no-changelog, ADMIN_UPGRADE_TESTS

#3326 refactor: update cctx status to object to split error message into `error` and `revert_error`
  changelog.md
  docs/openapi/openapi.swagger.yaml
  docs/zetacore/status_message.md
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  pkg/errors/crosschain_error_message.go
  pkg/errors/crosschain_error_message_test.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/initiate_outbound.go
  x/crosschain/keeper/initiate_outbound_test.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/errors.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/zevm_message_passing_test.go
  x/fungible/keeper/zevm_msg_passing.go
  x/fungible/types/errors.go
Labels: breaking:proto, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK

#3410 refactor(zetaclient): drop `outboundprocessor`
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/outboundprocessor/outbound_processor.go
  zetaclient/outboundprocessor/outbound_processor_test.go
  zetaclient/testutils/mocks/chain_signer.go
Labels: no-changelog

#3418 refactor(zetaclient)!: TON observer-signer
  changelog.md
  cmd/zetae2e/config/clients.go
  zetaclient/chains/ton/config/config.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/chains/ton/ton.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator.go
Labels: breaking:cli, nosec, TON_TESTS

#3441 fix(e2e): use new ErrorMessageRevert field in test
  e2e/e2etests/test_solana_deposit_and_call_revert_with_dust.go
Labels: no-changelog, SOLANA_TESTS

#3442 chore: delete default snapshot url for bitcoind docker-compose
  Makefile
  cmd/zetae2e/README.md
  contrib/rpc/bitcoind-mainnet/docker-compose.yml
  docs/development/DEPLOY_NODES.md
Labels: no-changelog

#3440 refactor: remove unused method `FilterSolanaInboundEvents`
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
Labels: zetaclient, zetatool, chain:solana, SOLANA_TESTS

#3444 chore: bump solana docker version
  contrib/localnet/solana/Dockerfile
Labels: no-changelog, SOLANA_TESTS

#3438 refactor(zetaclient)!: SOL Orchestrator V2. Also drops V1 entirely
  changelog.md
  cmd/zetaclientd/start.go
  pkg/scheduler/context.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/tickers.go
  pkg/ticker/ticker.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/observer/observer_gas.go
  zetaclient/chains/solana/observer/observer_test.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/observer/outbound_test.go
  zetaclient/chains/solana/observer/rpc_status.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/signer_test.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/ton.go
  zetaclient/context/app.go
  zetaclient/context/app_test.go
  zetaclient/keys/relayer_key.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/contextupdater.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/mapping.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/mocks/chain_clients.go
  zetaclient/testutils/mocks/chain_params.go
  zetaclient/testutils/mocks/chain_signer.go
  zetaclient/zetacore/client_subscriptions.go
Labels: breaking:cli, nosec, SOLANA_TESTS

#3426 refactor: use protocol contracts V2 with Bitcoin deposits
  changelog.md
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/utils/contracts.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  testutil/contracts/Dapp.bin
  testutil/contracts/Dapp.go
  testutil/contracts/Dapp.json
  testutil/contracts/DappReverter.bin
  testutil/contracts/DappReverter.go
  testutil/contracts/DappReverter.json
  testutil/contracts/Depositor.bin
  testutil/contracts/Depositor.go
  testutil/contracts/Depositor.json
  testutil/contracts/Example.abi
  testutil/contracts/Example.bin
  testutil/contracts/Example.go
  testutil/contracts/Example.json
  testutil/contracts/Example.sol
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
  testutil/contracts/Withdrawer.bin
  testutil/contracts/Withdrawer.go
  testutil/contracts/Withdrawer.json
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/types/event.go
  zetaclient/types/event_test.go
Labels: breaking:proto, UPGRADE_TESTS, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3432 refactor: use protocol contracts V2 with Solana deposits
  changelog.md
  e2e/e2etests/test_solana_deposit_and_call_revert.go
  pkg/contracts/solana/inbound.go
  pkg/contracts/solana/inbound_test.go
  testutil/contracts/Reverter.abi
  testutil/contracts/Reverter.bin
  testutil/contracts/Reverter.go
  testutil/contracts/Reverter.json
  testutil/contracts/Reverter.sol
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/types/event.go
Labels: UPGRADE_LIGHT_TESTS, SOLANA_TESTS, CONSENSUS_BREAKING_ACK
