Repository zeta-chain/node, pull requests merged in 2025-05, with the labels that each got.

#3845 test: add gaslimit as a argument for withdrawAndCall e2e test
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_withdraw_and_call.go
  e2e/e2etests/test_eth_withdraw_and_call_no_message.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
  e2e/runner/zevm.go
Labels: no-changelog, UPGRADE_TESTS, MERGE_FAILED

#3846 refactor: extend min gas limit check
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
Labels: no-changelog

#3849 chore: update protocol contract version
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  go.mod
  go.sum
Labels: no-changelog, UPGRADE_LIGHT_TESTS, SOLANA_TESTS, TON_TESTS, SUI_TESTS

#3847 feat(zetaclient): monitor "nonce too low" tx hashes
  changelog.md
  zetaclient/chains/evm/signer/outbound_tracker_reporter.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/evm/signer/signer_test.go
  zetaclient/chains/solana/signer/outbound_tracker_reporter.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/ton/signer/signer_tracker.go
  zetaclient/metrics/metrics.go
  zetaclient/testutils/testrpc/rpc_evm.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
Labels: zetaclient, chain:evm, MERGE_FAILED

#3837 feat: cancel invalid withdrawAndCall if execution fails with unknown error
  changelog.md
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example/sources/example.move
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Labels: zetaclient, nosec, chain:sui, SUI_TESTS

#3396 feat(zetaclient): Bitcoin RBF: watch mempool & bump tx fee
  changelog.md
  contrib/localnet/docker-compose.yml
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/bitcoin/client/client_rbf_test.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/gas_price.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/mempool.go
  zetaclient/chains/bitcoin/observer/mempool_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/utxos_test.go
  zetaclient/chains/bitcoin/observer/witness_test.go
  zetaclient/chains/bitcoin/signer/fee_bumper.go
  zetaclient/chains/bitcoin/signer/fee_bumper_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_rbf.go
  zetaclient/chains/bitcoin/signer/sign_rbf_test.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/common/constant.go
  zetaclient/testutils/mocks/bitcoin_client.go
Labels: zetaclient, nosec, chain:bitcoin

#3852 test: add solana to tss migration test
  Makefile
  changelog.md
  cmd/zetae2e/local/tss_migration.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/gateway_upgrade.so
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/setup_solana.go
  pkg/contracts/solana/gateway.go
  pkg/contracts/solana/instruction.go
Labels: breaking:cli, TSS_MIGRATION_TESTS, MERGE_FAILED

#3863 fix: increase evm tx broadcast timeout to 15 seconds
  changelog.md
  zetaclient/chains/evm/signer/signer.go
Labels: zetaclient, chain:evm

#3850 fix: broadcast single withdraw tx to avoid nonce mismatch failure
  changelog.md
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Labels: zetaclient, nosec, chain:sui, SUI_TESTS

#3843 feat(tss): bump go-tss to v0.6.0
  go.mod
  go.sum
Labels: no-changelog

#3867 fix: backport for v30 patches
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  zetaclient/chains/evm/signer/gas.go
  zetaclient/chains/evm/signer/gas_test.go
  zetaclient/chains/solana/signer/execute.go
  zetaclient/chains/solana/signer/execute_spl.go
  zetaclient/chains/solana/signer/increment_nonce.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/solana/signer/whitelist.go
  zetaclient/chains/solana/signer/withdraw.go
  zetaclient/chains/solana/signer/withdraw_spl.go
Labels: breaking:cli, nosec, no-changelog, SOLANA_TESTS

#3868 fix: backport for v29 patches
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call.go
  e2e/e2etests/test_solana_withdraw_and_call_invalid_msg_encoding.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_solana_withdraw_revert_executable_receiver.go
  e2e/runner/solana.go
  zetaclient/chains/solana/signer/signer.go
Labels: breaking:cli, no-changelog

#3873 feat(zetaclient): ton client mocks & orchestrator renaming
  cmd/zetaclientd/start.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/chains/ton/observer/outbound_test.go
  zetaclient/chains/ton/signer/signer.go
  zetaclient/chains/ton/signer/signer_test.go
  zetaclient/orchestrator/bootstrap.go
  zetaclient/orchestrator/bootstrap_test.go
  zetaclient/orchestrator/contextupdater_test.go
  zetaclient/orchestrator/orchestrator.go
  zetaclient/orchestrator/orchestrator_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/ton_gen.go
  zetaclient/testutils/mocks/ton_liteclient.go
  zetaclient/testutils/mocks/ton_signerliteclient.go
Labels: breaking:cli, no-changelog, TON_TESTS

#3866 test: add sui gateway upgrade E2E test
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/sui/sui_client.yaml
  e2e/config/config.go
  e2e/contracts/sui/gateway.mv
  e2e/contracts/sui/protocol-contracts-sui-upgrade/.gitignore
  e2e/contracts/sui/protocol-contracts-sui-upgrade/Move.toml
  e2e/contracts/sui/protocol-contracts-sui-upgrade/README.md
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/evm.move
  e2e/contracts/sui/protocol-contracts-sui-upgrade/sources/gateway.move
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/solana_gateway_upgrade.go
  e2e/runner/sui.go
  e2e/runner/sui_gateway_upgrade.go
  e2e/runner/upgrade.go
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
Labels: breaking:cli, nosec, test, SOLANA_TESTS, chain:sui, SUI_TESTS

#3417 test: E2E test for the Bitcoin RBF transaction
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_withdraw_rbf.go
  e2e/runner/bitcoin.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/utils/bitcoin.go
  e2e/utils/zetacore.go
Labels: E2E, breaking:cli, nosec, test, chain:bitcoin, MERGE_FAILED

#3878 feat(v30): bump go-tss
  go.mod
  go.sum
Labels: no-changelog

#3877 fix: use multiple SUI coins for PTB gas payment
  changelog.md
  contrib/localnet/docker-compose.yml
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Labels: zetaclient, chain:sui, SUI_TESTS

#3880 feat(tss): bump go-tss & logging improvements
  go.mod
  go.sum
  scripts/gosec.sh
  zetaclient/tss/service.go
Labels: nosec, no-changelog, MERGE_FAILED

#3889 feat: bump ethermint
  go.mod
  go.sum
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#3865 chore: increase solana_deposit and solana_withdraw suggested amounts
  e2e/TESTING_GUIDE.md
Labels: no-changelog

#3898 feat(ton): update tongo to v1.16.4
  go.mod
  go.sum
Labels: no-changelog, TON_TESTS

#3897 feat(ton): update tongo to v1.16.4
  go.mod
  go.sum
Labels: no-changelog, TON_TESTS

#3901 fix: prevent cctx being set as `abortRefunded` if the abort processing failed before the refund
  changelog.md
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/types/evm.go
Labels: CONSENSUS_BREAKING_ACK, MERGE_FAILED

#3872 fix: delete testnet ballots
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  go.mod
  go.sum
  proto/zetachain/zetacore/observer/query.proto
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/observer/client/cli/query.go
  x/observer/client/cli/query_ballot.go
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
  x/observer/types/query.pb.go
  x/observer/types/query.pb.gw.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK, MERGE_FAILED

#3907 test: update gateway upgrade program
  contrib/localnet/solana/gateway_upgrade.so
Labels: no-changelog

#3921 fix(backport/v30): add support for non-base64 formatted payload in Sui DepositAndCall event parsing
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
Labels: no-changelog, SUI_TESTS

#3893 test: add sui E2E performance tests
  Makefile
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  contrib/localnet/docker-compose.yml
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_stress_sui_deposit.go
  e2e/e2etests/test_stress_sui_withdraw.go
  e2e/runner/sui.go
  pkg/contracts/sui/coin.go
Labels: breaking:cli, test, performance, PERFORMANCE_TESTS, chain:sui, SUI_TESTS

#3915 fix: add support for non-base64 formatted payload in Sui DepositAndCall event parsing
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  zetaclient/chains/sui/client/client_live_test.go
Labels: no-changelog, CONSENSUS_BREAKING_ACK, SUI_TESTS, MERGE_FAILED

#3916 fix: infinite scan in filter solana inbound events
  changelog.md
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/chains/solana/observer/inbound_tracker.go
Labels: SOLANA_TESTS

#3885 test: add-observer e2e test
  Makefile
  app/ante/ante.go
  changelog.md
  cmd/zetacored/add_observer_list.go
  cmd/zetacored/collect_observer_info.go
  cmd/zetae2e/local/add_observer.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/tss_migration.go
  cmd/zetae2e/local/zeta.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/preparams/zetaclient-new-validator.json
  contrib/localnet/scripts/add-keys.sh
  contrib/localnet/scripts/start-zetaclientd.sh
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/solana/gateway_upgrade.so
  e2e/utils/utils.go
  pkg/parsers/observer_info.go
  pkg/parsers/observer_info_test.go
  x/observer/keeper/msg_server_add_observer_test.go
Labels: breaking:cli, nosec, TSS_MIGRATION_TESTS

#3930 fix: post zero priority fee to avoid gas price bump failure in zetacore
  zetaclient/chains/evm/observer/observer_gas.go
  zetaclient/chains/evm/observer/observer_gas_test.go
Labels: no-changelog, chain:evm
