Repository zeta-chain/node, pull requests merged in 2025-09, with the labels that each got.

#4154 feat(backport/v36): make the gas limit used for gateway calls on ZEVM a configurable parameter
  Makefile
  changelog.md
  contrib/localnet/docker-compose.yml
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_admin_transactions.go
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/system_contract.proto
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/sample/fungible.go
  typescript/zetachain/zetacore/fungible/events_pb.ts
  typescript/zetachain/zetacore/fungible/system_contract_pb.ts
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v5/migrate.go
  x/authority/migrations/v5/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/grpc_query_system_contract_test.go
  x/fungible/keeper/migrator.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/migrations/v5/migrate.go
  x/fungible/migrations/v5/migrate_test.go
  x/fungible/module.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/events.pb.go
  x/fungible/types/keys.go
  x/fungible/types/message_update_gateway_gas_limit.go
  x/fungible/types/message_update_gateway_gas_limit_test.go
  x/fungible/types/system_contract.pb.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto, UPGRADE_TESTS, ADMIN_TESTS, TSS_MIGRATION_TESTS, ADMIN_UPGRADE_TESTS

#4150 refactor: remove intx and outtx deprecated queries
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/test_bitcoin_donation.go
  e2e/runner/require.go
  e2e/utils/zetacore.go
  proto/zetachain/zetacore/crosschain/query.proto
  typescript/zetachain/zetacore/crosschain/query_pb.ts
  x/crosschain/types/query.pb.go
  x/crosschain/types/query.pb.gw.go
Labels: breaking:proto, no-changelog

#4149 chore: remove redundant word in comment
  app/upgrade_tracker.go
Labels: no-changelog

#4147 test(`e2e`): improve logs for CCTX status assertion
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_fast_confirmation.go
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  e2e/e2etests/test_deposit_and_call_swap.go
  e2e/e2etests/test_erc20_deposit.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_deposit_and_call_revert.go
  e2e/e2etests/test_erc20_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_erc20_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_erc20_withdraw_and_call.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert.go
  e2e/e2etests/test_erc20_withdraw_revert_and_abort.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_and_call_big_payload.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_deposit_and_call_revert.go
  e2e/e2etests/test_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_eth_deposit_fast_confirmation.go
  e2e/e2etests/test_eth_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_withdraw.go
  e2e/e2etests/test_eth_withdraw_and_arbitrary_call.go
  e2e/e2etests/test_eth_withdraw_and_call.go
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
  e2e/e2etests/test_eth_withdraw_and_call_no_message.go
  e2e/e2etests/test_eth_withdraw_and_call_revert.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_withdraw.go
  e2e/e2etests/test_eth_withdraw_and_call_through_contract.go
  e2e/e2etests/test_eth_withdraw_custom_gas_limit.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
  e2e/e2etests/test_evm_to_zevm_call.go
  e2e/e2etests/test_evm_to_zevm_call_abort.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/e2etests/test_migrate_tss.go
  e2e/e2etests/test_solana_to_zevm_call_abort.go
  e2e/e2etests/test_sui_deposit.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_deposit.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_sui_token_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_token_withdraw_and_call.go
  e2e/e2etests/test_sui_withdraw.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call_revert.go
  e2e/e2etests/test_zeta_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_zeta_deposit_revert_and_abort.go
  e2e/e2etests/test_zeta_withdraw_and_call_revert.go
  e2e/e2etests/test_zeta_withdraw_revert_and_abort.go
  e2e/e2etests/test_zevm_to_evm_arbitrary_call.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  e2e/e2etests/test_zevm_to_evm_call_through_contract.go
  e2e/utils/require.go
Labels: no-changelog

#4153 feat: make the gas limit used for gateway calls on ZEVM a configurable parameter
  changelog.md
  cmd/zetae2e/local/evm.go
  contrib/localnet/docker-compose.yml
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_admin_transactions.go
  proto/zetachain/zetacore/fungible/events.proto
  proto/zetachain/zetacore/fungible/system_contract.proto
  proto/zetachain/zetacore/fungible/tx.proto
  testutil/sample/fungible.go
  typescript/zetachain/zetacore/fungible/events_pb.ts
  typescript/zetachain/zetacore/fungible/system_contract_pb.ts
  typescript/zetachain/zetacore/fungible/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v5/migrate.go
  x/authority/migrations/v5/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/grpc_query_system_contract_test.go
  x/fungible/keeper/migrator.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit.go
  x/fungible/keeper/msg_server_update_gateway_gas_limit_test.go
  x/fungible/keeper/system_contract.go
  x/fungible/keeper/system_contract_test.go
  x/fungible/migrations/v5/migrate.go
  x/fungible/migrations/v5/migrate_test.go
  x/fungible/module.go
  x/fungible/types/codec.go
  x/fungible/types/errors.go
  x/fungible/types/events.pb.go
  x/fungible/types/keys.go
  x/fungible/types/message_update_gateway_gas_limit.go
  x/fungible/types/message_update_gateway_gas_limit_test.go
  x/fungible/types/system_contract.pb.go
  x/fungible/types/tx.pb.go
Labels: breaking:proto, breaking:cli, ADMIN_TESTS, ADMIN_UPGRADE_TESTS, MERGE_FAILED

#4145 test(`e2e`): add a gas limit option for ZEVM to EVM call tests
  Makefile
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  e2e/runner/zevm.go
Labels: no-changelog, MERGE_FAILED

#4158 test: use pre-deployed example dapp V2 contract in e2e tests
  changelog.md
  e2e/e2etests/helpers.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
Labels: test, chain:solana, SOLANA_TESTS, chain:ton, TON_TESTS

#4161 chore(`e2e`): cleanup unused contracts
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  e2e/contracts/contextapp/ContextApp.abi
  e2e/contracts/contextapp/ContextApp.bin
  e2e/contracts/contextapp/ContextApp.go
  e2e/contracts/contextapp/ContextApp.json
  e2e/contracts/contextapp/ContextApp.sol
  e2e/contracts/contextapp/bindings.go
  e2e/contracts/testdistribute/TestDistribute.abi
  e2e/contracts/testdistribute/TestDistribute.bin
  e2e/contracts/testdistribute/TestDistribute.go
  e2e/contracts/testdistribute/TestDistribute.json
  e2e/contracts/testdistribute/TestDistribute.sol
  e2e/contracts/testdistribute/bindings.go
  e2e/runner/legacy_setup_zevm.go
  e2e/runner/runner.go
Labels: breaking:cli, no-changelog

#4198 refactor: use maps.Copy for cleaner map handling
  zetaclient/config/types.go
Labels: no-changelog, MERGE_FAILED

#4206 fix: skip writing config file to the filesystem
  server/start.go
  server/timeout.go
  server/timeout_test.go
Labels: no-changelog

#4181 fix(backport/v36): unpack bitcoin revert message without considering 'CallOnRevert' flag
  docs/rfc/001_standard_memo_format.md
  docs/rfc/images/001_layout.png
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_and_abort.go
  pkg/memo/fields_v0.go
  pkg/memo/fields_v0_test.go
  pkg/memo/memo_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
Labels: bug, zetaclient, no-changelog, chain:bitcoin

#4216 fix: update evm version for missing tx types
  go.mod
  go.sum
Labels: no-changelog

#4215 refactor: replace HasPrefix+TrimPrefix with CutPrefix
  pkg/errors/crosschain_error_message.go
Labels: no-changelog

#4199 refactor: remove `MsgUpdateERC20CustodyPauseStatus` and `MsgMigrateERC20CustodyFunds`
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_erc20_custody_funds.go
  e2e/e2etests/test_pause_erc20_custody.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds.go
  x/crosschain/keeper/msg_server_migrate_erc20_custody_funds_test.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status.go
  x/crosschain/keeper/msg_server_update_erc20_custody_pause_status_test.go
  x/crosschain/simulation/operation_update_erc20_pause_status.go
  x/crosschain/simulation/operation_whitelist_erc20.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
  x/crosschain/types/message_migrate_erc20_custody_funds.go
  x/crosschain/types/message_migrate_erc20_custody_funds_test.go
  x/crosschain/types/message_update_erc20_custody_pause_status.go
  x/crosschain/types/message_update_erc20_custody_pause_status_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Labels: breaking:proto, breaking:cli, nosec

#4203 refactor: rename whitelistERC20 into whitelistAsset
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_solana_whitelist_spl.go
  e2e/e2etests/test_whitelist_erc20.go
  pkg/constant/constant.go
  proto/zetachain/zetacore/crosschain/events.proto
  proto/zetachain/zetacore/crosschain/legacy_msgs.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/events_pb.ts
  typescript/zetachain/zetacore/crosschain/legacy_msgs_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v6/migrate.go
  x/authority/migrations/v6/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/client/cli/cli_whitelist_asset.go
  x/crosschain/client/cli/tx.go
  x/crosschain/keeper/msg_server_whitelist_asset.go
  x/crosschain/keeper/msg_server_whitelist_asset_test.go
  x/crosschain/simulation/operation_whitelist_asset.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cmd_cctxs_test.go
  x/crosschain/types/codec.go
  x/crosschain/types/events.pb.go
  x/crosschain/types/legacy_msgs.go
  x/crosschain/types/legacy_msgs.pb.go
  x/crosschain/types/message_whitelist_asset.go
  x/crosschain/types/message_whitelist_asset_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/evm/signer/signer_admin.go
  zetaclient/chains/evm/signer/signer_admin_test.go
Labels: breaking:proto, breaking:cli, nosec

#4220 chore(backport/v36): cherry pick e2e tests changes for live networks
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call.go
  e2e/e2etests/test_erc20_deposit_and_call_no_message.go
  e2e/e2etests/test_erc20_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_eth_deposit_and_call.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_evm_to_zevm_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_solana_to_zevm_call.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_token_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call_legacy.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  e2e/e2etests/test_ton_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call.go
  e2e/e2etests/test_zeta_deposit_and_call_no_message.go
  e2e/e2etests/test_zevm_to_evm_call.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  e2e/runner/solana.go
  e2e/runner/testdapp.go
  e2e/runner/zevm.go
  e2e/utils/balance_change.go
  e2e/utils/contracts.go
  e2e/utils/zetacore.go
Labels: no-changelog

#4211 feat: provide error information in CCTX struct when Bitcoin deposit fail
  changelog.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/generated.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_deposit_abort_with_low_deposit_fee.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/utils/require.go
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.ts
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateway_zevm_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Labels: breaking:proto, chain:bitcoin, CONSENSUS_BREAKING_ACK

#4225 fix: set zeta ante to true in upgrade tests
  Makefile
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
  e2e/e2etests/test_admin_transactions.go
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  e2e/runner/upgrade_v36.go
  e2e/runner/zevm.go
Labels: breaking:cli, no-changelog, UPGRADE_TESTS, TSS_MIGRATION_TESTS, SOLANA_TESTS, ADMIN_UPGRADE_TESTS

#4244 revert: add timeout to monitoring routine"
  zetaclient/chains/base/observer.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/context/context.go
  zetaclient/zetacore/client_vote.go
Labels: no-changelog, MERGE_FAILED

#4252 fix(e2e): check test contracts deployment
  e2e/e2etests/legacy/test_erc20_multiple_deposits.go
  e2e/e2etests/legacy/test_erc20_multiple_withdraws.go
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_and_abort.go
  e2e/e2etests/test_deposit_and_call_out_of_gas.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_erc20_withdraw_revert_and_abort.go
  e2e/e2etests/test_eth_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_withdraw_and_call_big_payload.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
  e2e/e2etests/test_evm_to_zevm_call_abort.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_solana_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_solana_to_zevm_call_abort.go
  e2e/e2etests/test_spl_deposit_and_call_revert.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_spl_deposit_and_call_revert_with_call_that_reverts.go
  e2e/e2etests/test_zeta_deposit_revert_and_abort.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
Labels: no-changelog

#4265 docs: add release lifecycle in the documentation
  docs/development/RELEASES.md
  docs/development/RELEASE_LIFECYCLE.md
  readme.md
Labels: no-changelog
