Repository zeta-chain/node, pull requests merged in 2025-03, with the labels that each got.

#3551 feat: fast inbound confirmation for EVM and Bitcoin chain
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/evm.go
  docs/openapi/openapi.swagger.yaml
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_fast_confirmation.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_eth_deposit_fast_confirmation.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/runner/bitcoin.go
  e2e/txserver/liquidity_cap.go
  e2e/utils/zetacore.go
  pkg/chains/fast_confirmation.go
  pkg/chains/fast_confirmation_test.go
  pkg/coin/coin.go
  pkg/coin/coin_test.go
  proto/zetachain/zetacore/fungible/query.proto
  typescript/zetachain/zetacore/fungible/query_pb.d.ts
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/fungible/keeper/foreign_coins_test.go
  x/fungible/keeper/grpc_query_foreign_coins.go
  x/fungible/keeper/grpc_query_foreign_coins_test.go
  x/fungible/types/query.pb.go
  x/fungible/types/query.pb.gw.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/chains/base/confirmation.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/logs/fields.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/broadcast_test.go
  zetaclient/zetacore/client.go
  zetaclient/zetacore/client_fungible.go
  zetaclient/zetacore/client_fungible_test.go
  zetaclient/zetacore/client_test.go
  zetaclient/zetacore/tx_test.go
Labels: zetaclient, zetacore, breaking:proto, breaking:cli, chain:bitcoin, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK, chain:evm

#3614 feat(zetaclient): add dedicated restricted addresses config file (#3600)
  changelog.md
  cmd/zetaclientd/start.go
  contrib/localnet/scripts/start-zetaclientd.sh
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/solana/observer/inbound_test.go
  zetaclient/compliance/compliance_test.go
  zetaclient/config/config.go
  zetaclient/config/types.go
  zetaclient/types/event_test.go
Labels: breaking:cli, nosec

#3616 fix: return nil instead of error directly
  rpc/namespaces/ethereum/eth/filters/api.go
  server/util.go
Labels: no-changelog

#3553 refactor: add a new buffer blocks param to delay deletion of pending ballots
  changelog.md
  contrib/localnet/orchestrator/proposals_e2e_start/emissions_params.json
  docs/openapi/openapi.swagger.yaml
  e2e/runner/gov_proposals.go
  e2e/runner/run.go
  e2e/utils/utils.go
  proto/zetachain/zetacore/emissions/params.proto
  testutil/keeper/mocks/emissions/observer.go
  typescript/zetachain/zetacore/emissions/params_pb.d.ts
  x/emissions/abci.go
  x/emissions/abci_test.go
  x/emissions/keeper/migrator.go
  x/emissions/keeper/msg_server_update_params_test.go
  x/emissions/keeper/params_test.go
  x/emissions/migrations/v3/migrate.go
  x/emissions/migrations/v3/migrate_test.go
  x/emissions/migrations/v5/migrate.go
  x/emissions/migrations/v5/migrate_test.go
  x/emissions/module.go
  x/emissions/types/expected_keepers.go
  x/emissions/types/keys.go
  x/emissions/types/params.go
  x/emissions/types/params.pb.go
  x/emissions/types/params_test.go
  x/observer/keeper/ballot.go
  x/observer/keeper/ballot_test.go
  x/observer/module.go
  x/observer/types/ballot.go
  x/observer/types/ballot_test.go
Labels: breaking:proto, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK, MERGE_FAILED

#3595 test(e2e): sui withdraws
  changelog.md
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  contrib/localnet/scripts/start-zetacored.sh
  docs/openapi/openapi.swagger.yaml
  e2e/contracts/sui/gateway.mv
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_tss.go
  e2e/e2etests/test_sui_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_withdraw.go
  e2e/runner/accounting.go
  e2e/runner/liquidity.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/setup_zevm.go
  e2e/runner/sui.go
  pkg/chains/chain.go
  pkg/contracts/sui/gateway_test.go
  pkg/crypto/tss.go
  pkg/crypto/tss_test.go
  proto/zetachain/zetacore/observer/query.proto
  typescript/zetachain/zetacore/observer/query_pb.d.ts
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cmd_cctxs.go
  x/observer/keeper/grpc_query_tss.go
  x/observer/keeper/grpc_query_tss_test.go
  x/observer/types/query.pb.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Labels: breaking:proto, breaking:cli, nosec, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK, SUI_TESTS, MERGE_FAILED

#3621 chore: remove mergequeue failed comment
  .github/workflows/e2e.yml
Labels: ci, no-changelog

#3627 test: improve check for EnsureNoStaleBallots to ignore Pending Ballots
  e2e/runner/require.go
Labels: no-changelog, UPGRADE_TESTS

#3632 fix(zetaclient): ensure fallbackTx is not nil
  zetaclient/chains/solana/signer/signer.go
Labels: no-changelog, SOLANA_TESTS, PERFORMANCE_TESTS

#3612 feat(e2e): add support for TON tests on live networks
  changelog.md
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/init.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/ton.go
  cmd/zetae2e/root.go
  cmd/zetatool/cctx/inbound_test.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/scripts/wait-for-ton.sh
  e2e/config/config.go
  e2e/e2etests/test_ton_deposit.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/e2etests/test_ton_deposit_refund.go
  e2e/e2etests/test_ton_withdrawal.go
  e2e/e2etests/test_ton_withdrawal_concurrent.go
  e2e/runner/runner.go
  e2e/runner/setup_ton.go
  e2e/runner/ton.go
  e2e/runner/ton/accounts.go
  e2e/runner/ton/accounts_test.go
  e2e/runner/ton/client.go
  e2e/runner/ton/clients.go
  e2e/runner/ton/deployer.go
  e2e/runner/ton/faucet.go
  zetaclient/chains/ton/config/config.go
Labels: breaking:cli, TON_TESTS

#3640 feat(e2e): automatically fund accounts from config
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  contrib/localnet/scripts/start-zetacored.sh
Labels: E2E, no-changelog, SOLANA_TESTS

#3653 chore: make function comments match function names
  testutil/keeper/keeper.go
  zetaclient/chains/base/signer.go
  zetaclient/chains/solana/observer/observer.go
Labels: no-changelog

#3650 chore: always pass E2E_ARGS
  Makefile
Labels: no-changelog

#3623 refactor(e2e): use alternative errgroup to catch panics
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/evm.go
  cmd/zetae2e/local/local.go
  pkg/errgroup/errgroup.go
  pkg/errgroup/errgroup_test.go
Labels: breaking:cli, no-changelog

#3657 chore: use v29 as base in upgrade tests
  Makefile
Labels: no-changelog, UPGRADE_TESTS

#3659 fix: backport(develop) check if cctx has already been created before casting inbound vote
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/ton/observer/inbound_test.go
  zetaclient/chains/ton/observer/observer_test.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/testutils/mocks/zetacore_client_opts.go
Labels: no-changelog

#3658 refactor(e2e): setup btc wallet earlier
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
Labels: breaking:cli, no-changelog, MERGE_FAILED

#3601 test(e2e): run solana tests when testing upgrades
  Makefile
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_solana_withdraw_and_call_revert_with_call.go
  e2e/runner/contract_upgrade_solana.go
Labels: breaking:cli, no-changelog, UPGRADE_TESTS, ADMIN_UPGRADE_TESTS, MERGE_FAILED

#3662 feat(sui): custom sui_executeTransactionBlock
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tx.go
Labels: no-changelog, SUI_TESTS

#3656 test(e2e): add remaining add liquidity E2E tests
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_operation_add_liquidity.go
  e2e/e2etests/test_operation_add_liquidity_erc20.go
  e2e/e2etests/test_operation_add_liquidity_eth.go
  e2e/e2etests/test_operation_add_liquidity_spl.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_withdraw.go
  e2e/runner/evm.go
  e2e/runner/liquidity.go
  e2e/runner/sui.go
  e2e/runner/zevm.go
Labels: nosec, no-changelog

#3674 fix: port the v28 Arbitrum withdraw fix to develop branch
  zetaclient/chains/evm/common/constant.go
Labels: bug, zetaclient, no-changelog, mainnet, chain:evm

#3672 feat(tss): use LRU cache for existing signatures
  changelog.md
  zetaclient/chains/ton/signer/signer.go
  zetaclient/tss/service.go
Labels: enhancement

#3671 feat: use gas budget argument to refund TSS for sui withdraw cost
  changelog.md
  e2e/contracts/sui/gateway.mv
  e2e/e2etests/test_sui_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_withdraw.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Labels: SUI_TESTS

#3670 refactor: post v29 cleanup
  e2e/txserver/zeta_tx_server.go
Labels: no-changelog, UPGRADE_TESTS

#3678 refactor: replace golang.org/x/exp with stdlib
  zetaclient/context/app.go
  zetaclient/context/chain.go
Labels: no-changelog

#3668 test: wait for ballots to mature in performance tests
  cmd/zetae2e/local/local.go
  contrib/localnet/scripts/start-zetacored.sh
  e2e/runner/emissions.go
  e2e/runner/require.go
  e2e/runner/zevm.go
Labels: breaking:cli, nosec, no-changelog, PERFORMANCE_TESTS

#3683 chore: remove skipped observer v11 migration
  x/observer/keeper/migrator.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
Labels: no-changelog

#3684 fix: add DisableTssBlockScan to the chain params equality check function
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
Labels: bug, zetaclient, no-changelog

#3677 refactor: use t.TempDir() instead of os.MkdirTemp
  app/upgrade_tracker_test.go
  zetaclient/tss/config_test.go
Labels: no-changelog, MERGE_FAILED

#3676 feat(e2e): add --test-filter parameter
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/test_runner.go
  docs/development/LOCAL_TESTING.md
  e2e/runner/e2etest.go
  e2e/runner/runner.go
Labels: breaking:cli, no-changelog

#3669 feat(e2e): add more details sol withdrawal latency breakdown
  e2e/e2etests/helpers.go
  e2e/e2etests/test_stress_solana_withdraw.go
  e2e/e2etests/test_stress_spl_withdraw.go
  e2e/runner/solana.go
  e2e/utils/zetacore.go
Labels: no-changelog, PERFORMANCE_TESTS

#3697 feat(ton): lite-server connection tweaks
  go.mod
  go.sum
  zetaclient/chains/ton/liteapi/client.go
Labels: no-changelog, TON_TESTS

#3694 fix(e2e): localnet persistence
  Makefile
  contrib/localnet/docker-compose-persistent.yml
  contrib/localnet/solana/start-solana.sh
Labels: no-changelog, MERGE_FAILED

#3702 fix: upgrade cosmos sdk to v0.50.13
  go.mod
  go.sum
Labels: no-changelog

#3705 feat: backport TON PRs
  changelog.md
  go.mod
  go.sum
  zetaclient/chains/sui/sui.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/chains/ton/observer/outbound.go
Labels: nosec, TON_TESTS

#3711 fix(ton): fix call data parsing
  changelog.md
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/testdata/07-deposit-and-call-abi.json
  pkg/contracts/ton/tlb.go
Labels: TON_TESTS

#3714 fix(ton): fix call data parsing (v29)
  changelog.md
  pkg/contracts/ton/gateway_test.go
  pkg/contracts/ton/testdata/07-deposit-and-call-abi.json
  pkg/contracts/ton/tlb.go
Labels: TON_TESTS

#3716 chore: backport v29 sui withdraw changes
  changelog.md
  e2e/contracts/sui/gateway.mv
  e2e/e2etests/test_sui_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_deposit_and_call_revert.go
  e2e/e2etests/test_sui_token_withdraw.go
  e2e/e2etests/test_sui_withdraw.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Labels: SUI_TESTS

#3717 fix: fix solana withdraw and call outbounds
  changelog.md
  zetaclient/chains/solana/signer/signer.go
Labels: no-changelog, SOLANA_TESTS

#3719 fix: add min gas limit for non-gas outbound transactions
  zetaclient/chains/evm/signer/gas.go
Labels: no-changelog

#3722 chore: use changed files fork
  .github/workflows/sast-linters.yml
  .github/workflows/sim.yml
Labels: ci, no-changelog

#3690 feat(tss): use zeta's go-tss hard-fork
  cmd/zetae2e/local/get_zetaclient_bootstrap.go
  go.mod
  go.sum
  x/observer/client/cli/tx_vote_blame.go
  x/observer/client/cli/utils.go
  x/observer/client/cli/utils_test.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/tss/config.go
  zetaclient/tss/crypto.go
  zetaclient/tss/healthcheck.go
  zetaclient/tss/keygen.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/tss/setup.go
  zetaclient/zetacore/client_vote.go
  zetaclient/zetacore/tx_test.go
Labels: breaking:cli, no-changelog

#3724 fix: add min gas limit for non-gas outbound transactions (v29 backport)
  zetaclient/chains/evm/signer/gas.go
  zetaclient/zetacore/constant.go
Labels: no-changelog

#3727 chore: Delete rc-release workflow
  .github/workflows/rc-release.yml
Labels: ci, no-changelog

#3732 fix(v29): improve the check for the gas limit patch
  zetaclient/chains/evm/signer/gas.go
Labels: no-changelog

#3733 fix(v28): improve the check for the gas limit patch
  zetaclient/chains/evm/signer/gas.go
Labels: no-changelog

#3709 refactor: improve cctx error message for out of gas errrors when creating outbound
  changelog.md
  x/crosschain/keeper/cctx_utils.go
  x/crosschain/keeper/gas_payment.go
  x/crosschain/keeper/gas_payment_test.go
  x/crosschain/types/keys.go
Labels: CONSENSUS_BREAKING_ACK, MERGE_FAILED

#3726 fix: add min gas limit for non-gas outbound transactions (develop rebase)
  zetaclient/chains/evm/signer/gas.go
Labels: no-changelog

#3701 refactor: remove historical migration scripts
  x/authority/keeper/migrator.go
  x/authority/migrations/v2/migrate.go
  x/authority/migrations/v2/migrate_test.go
  x/authority/module.go
  x/crosschain/keeper/migrator.go
  x/crosschain/migrations/v2/legacytypes.go
  x/crosschain/migrations/v2/migrate.go
  x/crosschain/migrations/v3/migrate.go
  x/crosschain/migrations/v4/migrate.go
  x/crosschain/migrations/v4/migrate_test.go
  x/crosschain/module.go
  x/emissions/keeper/migrator.go
  x/emissions/migrations/v4/migrate.go
  x/emissions/migrations/v4/migrate_test.go
  x/emissions/module.go
  x/fungible/module.go
  x/observer/keeper/migrator.go
  x/observer/migrations/v8/migrate.go
  x/observer/migrations/v8/migrate_test.go
  x/observer/migrations/v9/migrate.go
  x/observer/migrations/v9/migrate_test.go
  x/observer/module.go
Labels: no-changelog

#3707 chore: update sui contract in e2e test to include evm address check
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/evm.mv
  e2e/contracts/sui/gateway.mv
  e2e/runner/setup_sui.go
Labels: no-changelog, SUI_TESTS

#3700 refactor: set `sender` and `senderEVM` in Message context
  changelog.md
  e2e/contracts/example/Example.abi
  e2e/contracts/example/Example.bin
  e2e/contracts/example/Example.go
  e2e/contracts/example/Example.json
  e2e/contracts/example/Example.sol
  e2e/contracts/testdappv2/TestDAppV2.abi
  e2e/contracts/testdappv2/TestDAppV2.bin
  e2e/contracts/testdappv2/TestDAppV2.go
  e2e/contracts/testdappv2/TestDAppV2.json
  e2e/contracts/testdappv2/TestDAppV2.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/legacy/test_eth_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_solana_deposit_call.go
  e2e/e2etests/test_spl_deposit_and_call.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_ton_deposit_and_call.go
  e2e/runner/bitcoin.go
  e2e/utils/contracts.go
  go.mod
  go.sum
  x/fungible/keeper/deposits.go
  x/fungible/keeper/evm_gateway.go
Labels: UPGRADE_TESTS, SOLANA_TESTS, TON_TESTS, CONSENSUS_BREAKING_ACK, SUI_TESTS

#3710 feat(zetaclient): preflight RPC health metrics before fully enabling a chain
  changelog.md
  zetaclient/chains/base/observer.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/rpc_status.go
  zetaclient/chains/bitcoin/observer/utxos.go
  zetaclient/chains/evm/client/client.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/solana/observer/observer.go
  zetaclient/chains/solana/rpc/rpc.go
  zetaclient/chains/solana/rpc/rpc_live_test.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/ton/liteapi/client.go
  zetaclient/chains/ton/liteapi/client_live_test.go
  zetaclient/chains/ton/observer/observer.go
  zetaclient/metrics/metrics.go
  zetaclient/metrics/telemetry.go
  zetaclient/orchestrator/preflight_metrics_reporter.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/mocks/ton_liteclient.go
Labels: zetaclient, feature:protocol

#3735 chore: upload zetae2e build
  .github/workflows/ci.yml
Labels: ci, no-changelog

#3712 test(e2e): add sui in balance command
  e2e/config/config.go
  e2e/runner/balances.go
Labels: no-changelog

#3377 feat: (BitcoinRBF-Step1) `zetacore` increast gas price in pending Bitcoin CCTXs and burns additional fees
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/crosschain_flags.proto
  testutil/sample/crosschain.go
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/crosschain_flags_pb.d.ts
  x/crosschain/keeper/abci.go
  x/crosschain/keeper/abci_test.go
  x/crosschain/module.go
  x/crosschain/types/errors.go
  x/crosschain/types/message_vote_gas_price.go
  x/crosschain/types/message_vote_gas_price_test.go
  x/observer/client/cli/tx_update_gas_price_increase_flags.go
  x/observer/types/crosschain_flags.go
  x/observer/types/crosschain_flags.pb.go
  x/observer/types/message_update_gas_price_increase_flags.go
  x/observer/types/message_update_gas_price_increase_flags_test.go
Labels: zetacore, breaking:proto, breaking:cli, chain:bitcoin, SIM_TESTS, CONSENSUS_BREAKING_ACK, MERGE_FAILED

#3744 chore(e2e): ensure tests exit if any error
  cmd/zetae2e/run.go
Labels: breaking:cli, no-changelog

#3749 chore: Update go version on README
  readme.md
Labels: no-changelog

#3748 refactor(e2e): always set btc deployer address
  cmd/zetae2e/run.go
Labels: breaking:cli, no-changelog

#3743 feat(tss): bump go-tss
  go.mod
  go.sum
  zetaclient/tss/config.go
  zetaclient/tss/crypto.go
  zetaclient/tss/service.go
  zetaclient/tss/service_test.go
  zetaclient/tss/setup.go
Labels: no-changelog, UPGRADE_LIGHT_TESTS, PERFORMANCE_TESTS, MERGE_FAILED

#3752 fix: revert Bitcoin inbound if there no memo provided by user
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Labels: no-changelog

#3754 fix: cherry pick mainnet bitcoin fix to be able to revert missed inbound w…
  changelog.md
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/runner/bitcoin.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/witness.go
  zetaclient/chains/bitcoin/observer/witness_test.go
Labels: bug, zetaclient, chain:bitcoin, mainnet

#3751 chore(e2e): print stack trace on nil dereference
  e2e/runner/run.go
Labels: no-changelog, MERGE_FAILED

#3753 refactor(e2e): sign bitcoin transactions locally
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/run.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/helpers.go
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_other_address.go
  e2e/e2etests/test_bitcoin_std_memo_inscribed_deposit_and_call.go
  e2e/e2etests/test_bitcoin_withdraw_segwit.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/e2etests/test_stress_btc_withdraw.go
  e2e/runner/balances.go
  e2e/runner/bitcoin.go
  e2e/runner/runner.go
  e2e/runner/setup_bitcoin.go
  zetaclient/chains/bitcoin/client/commands.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/testutils/mocks/bitcoin_client.go
Labels: breaking:cli, no-changelog

#3771 fix: set updated zrc20 name and symbol in the foreign coin object
  e2e/e2etests/test_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name.go
  x/fungible/keeper/msg_server_update_zrc20_name_test.go
Labels: no-changelog, ADMIN_TESTS, CONSENSUS_BREAKING_ACK

#3772 chore: upgrade mockery
  scripts/mocks-generate.sh
  testutil/keeper/mocks/crosschain/account.go
  testutil/keeper/mocks/crosschain/bank.go
  testutil/keeper/mocks/crosschain/fungible.go
  testutil/keeper/mocks/crosschain/ibccrosschain.go
  testutil/keeper/mocks/crosschain/lightclient.go
  testutil/keeper/mocks/crosschain/observer.go
  testutil/keeper/mocks/crosschain/staking.go
  testutil/keeper/mocks/emissions/account.go
  testutil/keeper/mocks/emissions/bank.go
  testutil/keeper/mocks/emissions/observer.go
  testutil/keeper/mocks/emissions/staking.go
  testutil/keeper/mocks/fungible/account.go
  testutil/keeper/mocks/fungible/bank.go
  testutil/keeper/mocks/fungible/evm.go
  testutil/keeper/mocks/fungible/observer.go
  testutil/keeper/mocks/ibccrosschain/crosschain.go
  testutil/keeper/mocks/ibccrosschain/transfer.go
  testutil/keeper/mocks/observer/lightclient.go
  testutil/keeper/mocks/observer/slashing.go
  testutil/keeper/mocks/observer/staking.go
  zetaclient/testutils/mocks/evm_rpc.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/ton_liteclient.go
  zetaclient/testutils/mocks/ton_signerliteclient.go
  zetaclient/testutils/mocks/zetacore_client.go
Labels: no-changelog

#3780 fix(v29): force max val number
  app/app.go
  changelog.md
  testutil/keeper/mocks/crosschain/staking.go
  x/crosschain/module.go
  x/crosschain/types/expected_keepers.go
Labels: UPGRADE_LIGHT_TESTS
