Repository zeta-chain/node, pull requests merged in 2025-04, with the labels that each got.

#3783 chore: fix function name in comment
  zetaclient/types/ethish.go
Labels: no-changelog

#3785 test: add btc inbound logs to find root cause of Testnet4 missed txs
  cmd/zetatool/config/config.go
  zetaclient/chains/bitcoin/observer/inbound.go
Labels: breaking:cli, no-changelog

#3765 feat: cancel Sui rejected withdrawal
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_withdraw.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/runner/sui.go
  e2e/txserver/zrc20.go
  pkg/contracts/sui/cancel_tx.go
  pkg/contracts/sui/cancel_tx_test.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/errors_test.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/withdrawal.go
  pkg/contracts/sui/withdrawal_test.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Labels: zetaclient, breaking:cli, nosec, chain:sui, SUI_TESTS

#3766 feat: check withdrawAndCall objects are shared
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/client/client_test.go
Labels: no-changelog, MERGE_FAILED

#3792 feat: implement sui compliance check
  changelog.md
  cmd/zetae2e/local/local.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_deposit_restricted_address.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  testutil/sample/zetaclient.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/solana/signer/signer.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_test.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/compliance/compliance.go
  zetaclient/compliance/compliance_test.go
Labels: zetaclient, breaking:cli, nosec, chain:sui, SUI_TESTS

#3767 feat(tss): bump go-tss
  go.mod
  go.sum
Labels: no-changelog, UPGRADE_LIGHT_TESTS, PERFORMANCE_TESTS

#3801 fix: prevent invalid Sui withdraw address from blocking the outbound
  changelog.md
  e2e/e2etests/test_sui_withdraw.go
  pkg/contracts/sui/crypto.go
  pkg/contracts/sui/crypto_test.go
  zetaclient/chains/sui/signer/signer_tx.go
Labels: SUI_TESTS

#3786 fix: modify end blocker order to avoid panic when reducing MaxValidators
  app/app.go
  app/modules.go
  changelog.md
  cmd/zetacored/parse_genesis.go
  contrib/localnet/orchestrator/proposals_e2e_end/reduce_max_validators.json
Labels: breaking:cli, UPGRADE_TESTS, ADMIN_TESTS, CONSENSUS_BREAKING_ACK, MERGE_FAILED

#3774 refactor(e2e): allow using all UTXOs for deposits
  e2e/e2etests/test_bitcoin_deposit.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert.go
  e2e/e2etests/test_bitcoin_deposit_and_call_revert_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_and_withdraw_with_dust.go
  e2e/e2etests/test_bitcoin_deposit_call.go
  e2e/e2etests/test_bitcoin_deposit_invalid_memo_revert.go
  e2e/e2etests/test_bitcoin_donation.go
  e2e/e2etests/test_crosschain_swap.go
  e2e/runner/bitcoin.go
Labels: no-changelog, MERGE_FAILED

#3812 feat(e2e): add populate-addresses command
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config_test.go
  cmd/zetae2e/local/config.go
  cmd/zetae2e/populate_addresses.go
  cmd/zetae2e/root.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  e2e/config/config.go
  e2e/runner/legacy_setup_evm.go
Labels: breaking:cli, no-changelog

#3802 fix: prevent withdraw with invalid Sui address
  changelog.md
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_withdraw_restricted_address.go
  pkg/chains/chain.go
  pkg/chains/chain_test.go
  pkg/contracts/sui/address.go
  pkg/contracts/sui/address_test.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/evm_hooks_test.go
Labels: CONSENSUS_BREAKING_ACK, SUI_TESTS, MERGE_FAILED

#3813 refactor: set zeta protocol fee to zero
  changelog.md
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/keys.go
Labels: LEGACY_TESTS

#3820 fix: set retry gas limit if outbound is successful
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/zetacore/constant.go
Labels: no-changelog, CONSENSUS_BREAKING_ACK

#3827 fix(e2e): ensure ton deposits to self
  e2e/e2etests/test_ton_deposit.go
Labels: no-changelog, TON_TESTS

#3828 fix: improve vote added log line
  x/observer/keeper/voting.go
Labels: no-changelog

#3628 feat(e2e): add iterations parameter to performance tests
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_eth_deposit.go
  e2e/e2etests/test_eth_deposit_fast_confirmation.go
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_inbound_trackers.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/runner/evm.go
Labels: ci, breaking:cli, no-changelog, PERFORMANCE_TESTS, PERFORMANCE_TESTS_1K

#3810 chore: fix self-assignment problem
  x/lightclient/keeper/block_header_test.go
Labels: no-changelog

#3793 feat(zetaclient): PTB building for Sui withdrawAndCall transaction
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/connected.mv
  e2e/contracts/sui/example/.gitignore
  e2e/contracts/sui/example/Makefile
  e2e/contracts/sui/example/Move.lock
  e2e/contracts/sui/example/Move.toml
  e2e/contracts/sui/example/README.md
  e2e/contracts/sui/example/connected.mv
  e2e/contracts/sui/example/sources/example.move
  e2e/contracts/sui/example/sources/token.move
  e2e/contracts/sui/example/token.mv
  e2e/contracts/sui/token.mv
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_withdraw_and_call.go
  e2e/e2etests/test_sui_withdraw_and_call_revert_with_call.go
  e2e/e2etests/test_sui_withdraw_revert_with_call.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/sui.go
  go.mod
  go.sum
  pkg/contracts/sui/coin.go
  pkg/contracts/sui/coin_test.go
  pkg/contracts/sui/errors.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/ptb_argument.go
  pkg/contracts/sui/ptb_argument_test.go
  pkg/contracts/sui/withdraw_and_call.go
  pkg/contracts/sui/withdraw_and_call_test.go
  testutil/sample/crypto.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_test.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/observer/outbound.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/signer/signer_tracker.go
  zetaclient/chains/sui/signer/signer_tx.go
  zetaclient/chains/sui/signer/withdraw_and_call.go
  zetaclient/chains/sui/signer/withdraw_and_call_test.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
Labels: zetaclient, breaking:cli, nosec, SOLANA_TESTS, chain:sui
