Repository zeta-chain/node, pull requests merged in 2025-02, with the labels that each got.

#3433 feat(zetaclient): process first solana transaction faster
  zetaclient/chains/solana/solana.go
Labels: no-changelog, PERFORMANCE_TESTS, CONSENSUS_BREAKING_ACK

#3452 chore: bump cometbft version to v0.38.17
  .github/workflows/sast-linters.yml
  go.mod
  go.sum
Labels: ci, no-changelog, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3454 chore: use v26 as reference for upgrade test
  Makefile
Labels: no-changelog, UPGRADE_TESTS

#3456 fix: upgrade cometbft (v26)
  changelog.md
  cmd/zetae2e/balances.go
  cmd/zetae2e/bitcoin_address.go
  cmd/zetae2e/config/config.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/monitor_block_production.go
  cmd/zetae2e/run.go
  cmd/zetae2e/setup_bitcoin.go
  cmd/zetae2e/show_tss.go
  cmd/zetae2e/stress.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  e2e/e2etests/e2etests.go
  e2e/runner/e2etest.go
  e2e/runner/run.go
  e2e/runner/runner.go
  go.mod
  go.sum
Labels: breaking:cli, UPGRADE_TESTS, UPGRADE_LIGHT_TESTS, ADMIN_TESTS, PERFORMANCE_TESTS, SIM_TESTS, ADMIN_UPGRADE_TESTS

#3460 fix: register the group module sdk.tx interface to the cosmos `InterfaceRegistry`
  app/encoding.go
  changelog.md
Labels: UPGRADE_TESTS

#3381 refactor: (BitcoinRBF-Step2): some minimum code refactoring for Bitcoin RBF adoption
  changelog.md
  testutil/sample/crypto.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/revert_options_test.go
  zetaclient/chains/bitcoin/client/client.go
  zetaclient/chains/bitcoin/client/client_test.go
  zetaclient/chains/bitcoin/client/helpers.go
  zetaclient/chains/bitcoin/client/mockgen.go
  zetaclient/chains/bitcoin/common/fee.go
  zetaclient/chains/bitcoin/common/fee_test.go
  zetaclient/chains/bitcoin/observer/db.go
  zetaclient/chains/bitcoin/observer/db_test.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/gas_price.go
  zetaclient/chains/bitcoin/observer/inbound_test.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/bitcoin/observer/outbound_test.go
  zetaclient/chains/bitcoin/observer/utxos.go
  zetaclient/chains/bitcoin/observer/utxos_test.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
  zetaclient/chains/bitcoin/signer/outbound_data_test.go
  zetaclient/chains/bitcoin/signer/sign.go
  zetaclient/chains/bitcoin/signer/sign_test.go
  zetaclient/chains/bitcoin/signer/signer.go
  zetaclient/chains/bitcoin/signer/signer_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/signer/signer.go
  zetaclient/logs/fields.go
  zetaclient/metrics/telemetry.go
  zetaclient/testdata/btc/chain_8332_msgtx_030cd813443f7b70cc6d8a544d320c6d8465e4528fc0f3410b599dc0b26753a0.json
  zetaclient/testdata/btc/chain_8332_tx_030cd813443f7b70cc6d8a544d320c6d8465e4528fc0f3410b599dc0b26753a0.json
  zetaclient/testutils/mocks/bitcoin_client.go
  zetaclient/testutils/mocks/zetacore_client_opts.go
  zetaclient/testutils/testdata.go
  zetaclient/testutils/testdata_naming.go
  zetaclient/tss/crypto.go
  zetaclient/tss/crypto_test.go
  zetaclient/zetacore/broadcast.go
  zetaclient/zetacore/broadcast_test.go
Labels: zetaclient, refactor, nosec, chain:bitcoin

#3465 chore: add sui localnet container
  contrib/localnet/docker-compose.yml
Labels: no-changelog

#3468 fix: register the group module sdk.tx interface to the cosmos `InterfaceRegistry`
  app/encoding.go
Labels: no-changelog

#3480 fix: backport cmd fix
  cmd/zetacored/root.go
  docs/cli/zetacored/cli.md
Labels: breaking:cli, no-changelog

#3481 fix(zetatool): use correct testnet rpc url
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
Labels: breaking:cli, no-changelog

#3461 feat: enable multiple confirmation count values in chain params
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/observer/confirmation_params.proto
  proto/zetachain/zetacore/observer/params.proto
  testutil/sample/observer.go
  typescript/zetachain/zetacore/observer/confirmation_params_pb.d.ts
  typescript/zetachain/zetacore/observer/index.d.ts
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  x/observer/keeper/migrator.go
  x/observer/migrations/v10/migrate.go
  x/observer/migrations/v10/migrate_test.go
  x/observer/module.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/confirmation_params.pb.go
  x/observer/types/params.pb.go
  zetaclient/testutils/mocks/chain_params.go
Labels: zetacore, breaking:proto, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3484 fix(zetaclient): use chain name in metrics
  pkg/rpc/clients_crosschain.go
  zetaclient/chains/bitcoin/bitcoin.go
  zetaclient/chains/evm/evm.go
  zetaclient/chains/interfaces/interfaces.go
  zetaclient/chains/solana/solana.go
  zetaclient/chains/ton/ton.go
  zetaclient/testutils/mocks/zetacore_client.go
  zetaclient/zetacore/client_crosschain.go
Labels: no-changelog, SOLANA_TESTS, TON_TESTS

#3489 feat: add Sui chain info
  changelog.md
  docs/openapi/openapi.swagger.yaml
  pkg/chains/chain_test.go
  pkg/chains/chains.go
  pkg/chains/chains.pb.go
  pkg/chains/chains_test.go
  proto/zetachain/zetacore/pkg/chains/chains.proto
  typescript/zetachain/zetacore/pkg/chains/chains_pb.d.ts
Labels: breaking:proto

#3455 feat: `zetatools` cctx tracker
  changelog.md
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  cmd/zetatool/cctx/cctx_details.go
  cmd/zetatool/cctx/cctx_status.go
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/inbound_test.go
  cmd/zetatool/cctx/outbound.go
  cmd/zetatool/chains/bitcoin.go
  cmd/zetatool/chains/evm.go
  cmd/zetatool/chains/solana.go
  cmd/zetatool/cli/cctx_tracker.go
  cmd/zetatool/cli/inbound_ballot.go
  cmd/zetatool/config/config.go
  cmd/zetatool/config/config_test.go
  cmd/zetatool/context/context.go
  cmd/zetatool/inbound/bitcoin.go
  cmd/zetatool/inbound/inbound.go
  cmd/zetatool/inbound/solana.go
  cmd/zetatool/main.go
  docs/cli/zetatool/get_ballot.md
  docs/cli/zetatool/readme.md
  docs/cli/zetatool/track_cctx.md
  zetaclient/zetacore/tx.go
Labels: breaking:cli, nosec

#3485 feat(e2e): setup sui
  .github/workflows/e2e.yml
  Makefile
  cmd/zetae2e/config/clients.go
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  e2e/config/config.go
  e2e/runner/clients.go
  e2e/runner/setup_sui.go
  e2e/utils/sui/gateway.go
  e2e/utils/sui/gateway.mv
  e2e/utils/sui/signer.go
  e2e/utils/sui/signer_test.go
  go.mod
  go.sum
Labels: ci, breaking:cli, no-changelog, SUI_TESTS

#3505 fix: add back bitcoin TSS keysign interval
  zetaclient/chains/bitcoin/bitcoin.go
Labels: nosec, no-changelog

#3509 fix: backport mainnet hotfix to Bitcoin TSS keysign failure
  changelog.md
  zetaclient/chains/bitcoin/bitcoin.go
Labels: zetaclient, nosec, chain:bitcoin, mainnet

#3503 test: add check in e2e test to ensure deletion of stale ballots
  changelog.md
  cmd/zetae2e/local/local.go
  docs/cli/zetacored/cli.md
  e2e/runner/require.go
  x/observer/client/cli/query_ballot.go
  x/observer/keeper/grpc_query_ballot.go
  x/observer/keeper/grpc_query_ballot_test.go
Labels: breaking:cli, UPGRADE_TESTS

#3496 refactor: switch `zetaclient` to confirmation params; unify inbound observation as block range based
  changelog.md
  cmd/zetatool/cctx/inbound.go
  cmd/zetatool/cctx/outbound.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  zetaclient/chains/base/confirmation.go
  zetaclient/chains/base/confirmation_test.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/base/observer_test.go
  zetaclient/chains/bitcoin/observer/inbound.go
  zetaclient/chains/bitcoin/observer/inbound_tracker.go
  zetaclient/chains/bitcoin/observer/observer.go
  zetaclient/chains/bitcoin/observer/observer_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
  zetaclient/config/config_chain.go
  zetaclient/metrics/metrics.go
  zetaclient/testutils/mocks/chain_params.go
Labels: zetaclient, refactor, breaking:cli, nosec

#3517 fix: avoid false positive on multiple events in same tx
  changelog.md
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/logs/fields.go
Labels: bug, zetaclient

#3506 feat: add confirmation mode SAFE or FAST to vote messages and cctx struct
  changelog.md
  cmd/zetatool/chains/bitcoin.go
  cmd/zetatool/chains/evm.go
  cmd/zetatool/chains/solana.go
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  proto/zetachain/zetacore/crosschain/tx.proto
  testutil/sample/crosschain.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/client/cli/tx_vote_outbound.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/keeper/msg_server_vote_inbound_tx_test.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/simulation/operation_vote_outbound.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cmd_cctxs.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  x/crosschain/types/message_vote_inbound_test.go
  x/crosschain/types/message_vote_outbound.go
  x/crosschain/types/message_vote_outbound_test.go
  x/crosschain/types/tx.pb.go
  zetaclient/chains/bitcoin/observer/event.go
  zetaclient/chains/bitcoin/observer/event_test.go
  zetaclient/chains/bitcoin/observer/outbound.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/solana/observer/inbound.go
  zetaclient/chains/solana/observer/outbound.go
  zetaclient/chains/ton/observer/outbound.go
  zetaclient/zetacore/tx.go
  zetaclient/zetacore/tx_test.go
Labels: zetaclient, zetacore, breaking:proto, breaking:cli, nosec, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3487 docs(readme): add link to sui contract and change ZetaChain localnet ID
  readme.md
Labels: no-changelog

#3519 chore: use ubuntu 22.04 in workflows
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/semgrep.yml
  .github/workflows/sim.yaml
Labels: ci, no-changelog

#3500 feat: initialize `pkg/contracts/sui`
  changelog.md
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/inbound.go
  pkg/contracts/sui/inbound_test.go
  pkg/contracts/sui/mocks/mocks.go
  pkg/contracts/sui/mocks/sui_client.go
Labels: no-changelog, SUI_TESTS

#3516 feat(zetaclient): SUI observer–signer setup
  contrib/localnet/docker-compose.yml
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/gateway.mv
  e2e/runner/setup_sui.go
  e2e/utils/sui/gateway.mv
  pkg/chains/chain.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/inbound.go
  pkg/contracts/sui/inbound_test.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/signer/signer.go
  zetaclient/chains/sui/sui.go
  zetaclient/config/config_chain.go
  zetaclient/config/types.go
  zetaclient/context/chain.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/orchestrator/v2_bootstrap_test.go
  zetaclient/orchestrator/v2_orchestrator.go
  zetaclient/orchestrator/v2_orchestrator_test.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
  zetaclient/testutils/testrpc/rpc_sui.go
Labels: no-changelog, chain:sui, SUI_TESTS

#3524 chore: upgrade release workflow
  .github/workflows/publish-release.yml
  .github/workflows/publish-typescript.yml
  .github/workflows/sim.yml
Labels: ci, no-changelog

#3469 feat: add new a new msg to remove inbound trackers
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/crosschain/messages.md
  proto/zetachain/zetacore/crosschain/tx.proto
  typescript/zetachain/zetacore/crosschain/tx_pb.d.ts
  x/authority/keeper/migrator.go
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/module.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/crosschain/client/cli/tx.go
  x/crosschain/client/cli/tx_inbound_tracker.go
  x/crosschain/keeper/msg_server_add_inbound_tracker_test.go
  x/crosschain/keeper/msg_server_remove_inbound_tracker.go
  x/crosschain/keeper/msg_server_remove_inbound_tracker_test.go
  x/crosschain/simulation/operations.go
  x/crosschain/types/codec.go
  x/crosschain/types/message_remove_inbound_tracker.go
  x/crosschain/types/message_remove_inbound_tracker_test.go
  x/crosschain/types/tx.pb.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK

#3512 refactor(e2e): load EVM addresses dynamically
  cmd/zetae2e/balances.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/run.go
  cmd/zetae2e/zrc20_addresses.go
  e2e/runner/balances.go
Labels: breaking:cli, no-changelog, SOLANA_TESTS

#3434 chore(e2e): enable solana persistence and use volume labels
  Makefile
  contrib/localnet/docker-compose-persistent.yml
Labels: no-changelog

#3414 feat: support advanced abort workflow (onAbort)
  changelog.md
  cmd/zetae2e/local/evm.go
  docs/openapi/openapi.swagger.yaml
  e2e/contracts/testabort/TestAbort.abi
  e2e/contracts/testabort/TestAbort.bin
  e2e/contracts/testabort/TestAbort.go
  e2e/contracts/testabort/TestAbort.json
  e2e/contracts/testabort/TestAbort.sol
  e2e/contracts/testabort/bindings.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_erc20_withdraw_revert_and_abort.go
  e2e/e2etests/test_eth_deposit_and_call_no_message.go
  e2e/e2etests/test_eth_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
  go.mod
  go.sum
  pkg/contracts/testdappv2/TestDAppV2.bin
  pkg/contracts/testdappv2/TestDAppV2.go
  pkg/contracts/testdappv2/TestDAppV2.json
  pkg/contracts/testdappv2/TestDAppV2.sol
  proto/zetachain/zetacore/crosschain/cross_chain_tx.proto
  testutil/keeper/crosschain.go
  testutil/keeper/mocks/crosschain/fungible.go
  typescript/zetachain/zetacore/crosschain/cross_chain_tx_pb.d.ts
  x/crosschain/keeper/abort.go
  x/crosschain/keeper/abort_test.go
  x/crosschain/keeper/cctx_gateway_observers.go
  x/crosschain/keeper/cctx_gateway_zevm.go
  x/crosschain/keeper/cctx_gateways.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound.go
  x/crosschain/keeper/cctx_orchestrator_validate_outbound_test.go
  x/crosschain/keeper/evm_deposit.go
  x/crosschain/keeper/msg_server_abort_stuck_cctx.go
  x/crosschain/keeper/msg_server_refund_aborted_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx.go
  x/crosschain/keeper/msg_server_vote_outbound_tx_test.go
  x/crosschain/keeper/refund.go
  x/crosschain/types/cctx.go
  x/crosschain/types/cctx_test.go
  x/crosschain/types/cross_chain_tx.pb.go
  x/crosschain/types/expected_keepers.go
  x/crosschain/types/status.go
  x/crosschain/types/status_test.go
  x/fungible/keeper/deposits.go
  x/fungible/keeper/deposits_test.go
  x/fungible/keeper/evm.go
  x/fungible/keeper/evm_gateway.go
  x/fungible/keeper/evm_test.go
  x/fungible/keeper/v2_deposits.go
  x/fungible/keeper/v2_deposits_test.go
Labels: breaking:proto, breaking:cli, nosec, UPGRADE_TESTS, SOLANA_TESTS, CONSENSUS_BREAKING_ACK, LEGACY_TESTS

#3534 feat(zetaclient): SUI deposits
  changelog.md
  cmd/zetatool/chains/evm.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  pkg/contracts/sui/inbound.go
  pkg/contracts/sui/inbound_test.go
  x/crosschain/client/cli/tx_vote_inbound.go
  x/crosschain/keeper/evm_hooks.go
  x/crosschain/types/inbound_parsing.go
  x/crosschain/types/message_vote_inbound.go
  zetaclient/chains/base/observer.go
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/client/client_live_test.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/observer/observer_test.go
  zetaclient/chains/sui/sui.go
  zetaclient/orchestrator/v2_bootstrap.go
  zetaclient/testutils/constant.go
  zetaclient/testutils/mocks/sui_client.go
  zetaclient/testutils/mocks/sui_gen.go
  zetaclient/zetacore/tx.go
Labels: breaking:cli, chain:sui

#3542 refactor: use a more straightforward return value
  rpc/backend/node_info.go
Labels: no-changelog

#3528 chore(zetaclient): reduce default scheduler interval to 10 seconds
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: no-changelog

#3538 feat(observer): implement `MsgUpdateOperationalChainParams`
  changelog.md
  cmd/zetae2e/local/local.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_update_operational_chain_params.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/setup_solana.go
  e2e/runner/setup_ton.go
  e2e/runner/setup_zevm.go
  e2e/txserver/zeta_tx_server.go
  proto/zetachain/zetacore/observer/tx.proto
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/observer/keeper/msg_server_update_chain_params_test.go
  x/observer/keeper/msg_server_update_operational_chain_params.go
  x/observer/keeper/msg_server_update_operational_chain_params_test.go
  x/observer/simulation/operation_update_chain_params.go
  x/observer/types/chain_params.go
  x/observer/types/chain_params_test.go
  x/observer/types/codec.go
  x/observer/types/message_update_chain_params.go
  x/observer/types/message_update_operational_chain_params.go
  x/observer/types/message_update_operational_chain_params_test.go
  x/observer/types/tx.pb.go
  zetaclient/context/app.go
  zetaclient/orchestrator/contextupdater.go
Labels: breaking:proto, breaking:cli, nosec, UPGRADE_TESTS, ADMIN_TESTS

#3439 refactor: use protocol contracts V2 with TON deposits
  changelog.md
  e2e/runner/ton.go
  pkg/contracts/ton/gateway_msg.go
  testutil/sample/ton_test.go
  zetaclient/chains/ton/observer/inbound.go
  zetaclient/chains/ton/observer/inbound_test.go
Labels: UPGRADE_TESTS, UPGRADE_LIGHT_TESTS, TON_TESTS, CONSENSUS_BREAKING_ACK

#3522 feat: add tx disable FAST confirmation
  changelog.md
  docs/cli/zetacored/cli.md
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  proto/zetachain/zetacore/observer/tx.proto
  testutil/sample/observer.go
  testutil/sample/sample.go
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/authority/migrations/v3/migrate.go
  x/authority/migrations/v3/migrate_test.go
  x/authority/types/authorization_list.go
  x/authority/types/authorization_list_test.go
  x/observer/client/cli/tx.go
  x/observer/client/cli/tx_disable_fast_confirmation.go
  x/observer/keeper/msg_server_disable_fast_confirmation.go
  x/observer/keeper/msg_server_disable_fast_confirmation_test.go
  x/observer/simulation/operation_disable_fast_confirmation.go
  x/observer/simulation/operations.go
  x/observer/types/codec.go
  x/observer/types/message_disable_fast_confirmation.go
  x/observer/types/message_disable_fast_confirmation_test.go
  x/observer/types/tx.pb.go
Labels: zetacore, breaking:proto, breaking:cli, nosec, UPGRADE_LIGHT_TESTS, CONSENSUS_BREAKING_ACK

#3552 feat: support Bitcoin for onAbort and add e2e test cases for no asset calls
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/evm.go
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_bitcoin_std_deposit_and_call_revert_and_abort.go
  e2e/e2etests/test_evm_to_zevm_call_abort.go
  e2e/e2etests/test_zevm_to_evm_call_revert.go
  e2e/e2etests/test_zevm_to_evm_call_revert_and_abort.go
  zetaclient/chains/bitcoin/observer/event.go
Labels: breaking:cli, no-changelog

#3543 test(`e2e`): add more test cases for onAbort workflow
  e2e/contracts/testabort/TestAbort.bin
  e2e/contracts/testabort/TestAbort.go
  e2e/contracts/testabort/TestAbort.json
  e2e/contracts/testabort/TestAbort.sol
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_erc20_deposit_revert_and_abort.go
  e2e/e2etests/test_eth_deposit_and_call_revert_with_call.go
  e2e/e2etests/test_eth_withdraw_revert_and_abort.go
Labels: no-changelog

#3563 chore: upgrade cosmos-sdk
  go.mod
  go.sum
Labels: no-changelog

#3564 chore: fix upgrade tests (v28)
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
Labels: no-changelog, UPGRADE_LIGHT_TESTS

#3567 chore: use v28 as upgrade test base
  Makefile
  changelog.md
  contrib/localnet/docker-compose-upgrade.yml
  contrib/localnet/scripts/start-upgrade-orchestrator.sh
  contrib/localnet/scripts/start-zetacored.sh
  contrib/localnet/ssh_config
  e2e/e2etests/e2etests.go
Labels: no-changelog, UPGRADE_TESTS, UPGRADE_IMPORT_MAINNET_TESTS

#3566 chore: add triage comment
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/syncing.yaml
Labels: ci, no-changelog

#3571 chore: bump to latest ethermint
  go.mod
  go.sum
Labels: no-changelog

#3548 feat(zetacore)!: ensure cctx list is sorted by creation time
  changelog.md
  docs/openapi/openapi.swagger.yaml
  proto/zetachain/zetacore/crosschain/genesis.proto
  proto/zetachain/zetacore/crosschain/query.proto
  typescript/zetachain/zetacore/crosschain/genesis_pb.d.ts
  typescript/zetachain/zetacore/crosschain/query_pb.d.ts
  x/crosschain/genesis.go
  x/crosschain/genesis_test.go
  x/crosschain/keeper/cctx.go
  x/crosschain/keeper/cctx_counter.go
  x/crosschain/keeper/cctx_counter_test.go
  x/crosschain/keeper/cctx_test.go
  x/crosschain/keeper/export_private_functions_test.go
  x/crosschain/keeper/grpc_query_cctx.go
  x/crosschain/keeper/grpc_query_cctx_test.go
  x/crosschain/types/cctx.go
  x/crosschain/types/genesis.pb.go
  x/crosschain/types/keys.go
  x/crosschain/types/query.pb.go
Labels: breaking:proto, CONSENSUS_BREAKING_ACK

#3570 refactor(zetaclient): make EVM getLogs call once
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/v2_inbound.go
Labels: no-changelog, LEGACY_TESTS

#3575 chore: upgrade cosmovisor
  Dockerfile-localnet
Labels: no-changelog

#3574 fix(testlog): fix panics after test finished
  zetaclient/testutils/testlog/log.go
Labels: no-changelog

#3536 test(`e2e`): solana upgrade contract e2e test
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/docker-compose.yml
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/gateway-upgrade.so
  contrib/localnet/solana/Dockerfile
  contrib/localnet/solana/gateway.so
  contrib/localnet/solana/gateway_upgrade.so
  contrib/localnet/solana/start-solana.sh
  e2e/runner/contract_upgrade_solana.go
  e2e/runner/verify.go
  pkg/contracts/solana/pda.go
Labels: breaking:cli, SOLANA_TESTS

#3588 fix(zetaclient): TON config resolution [backport]
  zetaclient/chains/ton/config/config.go
  zetaclient/chains/ton/config/config_test.go
Labels: TON_TESTS

#3586 fix(zetaclient): TON config resolution
  zetaclient/chains/ton/config/config.go
  zetaclient/chains/ton/config/config_test.go
Labels: no-changelog

#3577 fix(e2e): only write address book once
  contrib/localnet/scripts/start-zetaclientd.sh
Labels: no-changelog

#3587 refactor(zetaclient): unexport internal evm observer methods
  zetaclient/chains/evm/observer/inbound.go
  zetaclient/chains/evm/observer/inbound_test.go
  zetaclient/chains/evm/observer/observer.go
  zetaclient/chains/evm/observer/observer_gas_test.go
  zetaclient/chains/evm/observer/observer_test.go
  zetaclient/chains/evm/observer/outbound.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/evm/observer/v2_inbound.go
  zetaclient/chains/evm/observer/v2_inbound_tracker.go
Labels: no-changelog

#3597 test: update tss address on gateway for TSS migration test
  cmd/zetae2e/local/tss_migration.go
  e2e/e2etests/test_migrate_tss.go
  e2e/runner/admin_evm.go
  e2e/runner/setup_zevm.go
  zetaclient/chains/bitcoin/signer/outbound_data.go
Labels: breaking:cli, no-changelog, TSS_MIGRATION_TESTS

#3560 test(e2e): sui deposits
  changelog.md
  cmd/zetae2e/config/config.go
  cmd/zetae2e/config/contracts.go
  cmd/zetae2e/config/local.yml
  cmd/zetae2e/config/localnet.yml
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/sui.go
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/config/config.go
  e2e/contracts/sui/bin.go
  e2e/contracts/sui/fake_usdc.mv
  e2e/e2etests/e2etests.go
  e2e/e2etests/test_sui_deposit.go
  e2e/e2etests/test_sui_deposit_and_call.go
  e2e/e2etests/test_sui_token_deposit.go
  e2e/e2etests/test_sui_token_deposit_and_call.go
  e2e/runner/logger.go
  e2e/runner/runner.go
  e2e/runner/setup_sui.go
  e2e/runner/setup_zevm.go
  e2e/runner/solana.go
  e2e/runner/sui.go
  e2e/txserver/authority.go
  pkg/chains/chain.go
  pkg/coin/coin_test.go
  pkg/contracts/sui/gateway.go
  pkg/contracts/sui/gateway_test.go
  testutil/keeper/crosschain.go
  x/crosschain/keeper/cctx_orchestrator_validate_inbound.go
  x/crosschain/keeper/evm_deposit_test.go
  x/crosschain/keeper/msg_server_vote_inbound_tx.go
  x/crosschain/types/cctx.go
  x/crosschain/types/inbound_parsing_test.go
  x/fungible/keeper/deposits.go
  zetaclient/chains/evm/observer/outbound_test.go
  zetaclient/chains/sui/client/client.go
  zetaclient/chains/sui/observer/inbound.go
  zetaclient/chains/sui/observer/observer.go
  zetaclient/chains/sui/observer/observer_test.go
Labels: breaking:cli, nosec, UPGRADE_TESTS, CONSENSUS_BREAKING_ACK, SUI_TESTS

#3594 refactor(crosschain): set outbound hash in cctx when adding outbound tracker
  changelog.md
  testutil/keeper/crosschain.go
  x/crosschain/keeper/msg_server_add_outbound_tracker.go
  x/crosschain/keeper/msg_server_add_outbound_tracker_test.go
Labels: CONSENSUS_BREAKING_ACK

#3591 test(e2e): add a runner for gov proposals in the e2e test
  changelog.md
  cmd/zetae2e/local/local.go
  contrib/localnet/orchestrator/Dockerfile.fastbuild
  contrib/localnet/orchestrator/proposals_e2e_end/max_gas.json
  contrib/localnet/orchestrator/proposals_e2e_start/emissions_params.json
  contrib/localnet/orchestrator/start-zetae2e.sh
  contrib/localnet/scripts/start-zetacored.sh
  e2e/TESTING_GUIDE.md
  e2e/runner/gov_proposals.go
  e2e/txserver/authority.go
  e2e/txserver/zeta_tx_server.go
Labels: breaking:cli, nosec

#3610 chore: fix some function names in comment
  testutil/sample/crypto.go
  testutil/sample/sample.go
Labels: no-changelog

#3607 fix(ci): only run sec checks once on PRs
  .github/workflows/zetachain-sec-checks.yml
Labels: ci, no-changelog

#3578 feat: add disable_tss_block_scan parameter
  changelog.md
  cmd/zetae2e/local/admin.go
  cmd/zetae2e/local/bitcoin.go
  cmd/zetae2e/local/local.go
  cmd/zetae2e/local/performance.go
  cmd/zetae2e/stress.go
  docs/openapi/openapi.swagger.yaml
  docs/spec/observer/messages.md
  e2e/e2etests/test_eth_deposit_liquidity_cap.go
  e2e/e2etests/test_migrate_chain_support.go
  e2e/e2etests/test_pause_zrc20.go
  e2e/e2etests/test_stress_eth_deposit.go
  e2e/runner/evm.go
  e2e/runner/legacy_setup_evm.go
  e2e/runner/run.go
  e2e/runner/runner.go
  e2e/utils/zetacore.go
  proto/zetachain/zetacore/observer/params.proto
  proto/zetachain/zetacore/observer/tx.proto
  typescript/zetachain/zetacore/observer/params_pb.d.ts
  typescript/zetachain/zetacore/observer/tx_pb.d.ts
  x/observer/keeper/migrator.go
  x/observer/keeper/msg_server_update_operational_chain_params.go
  x/observer/keeper/msg_server_update_operational_chain_params_test.go
  x/observer/migrations/v11/migrate.go
  x/observer/migrations/v11/migrate_test.go
  x/observer/module.go
  x/observer/types/chain_params.go
  x/observer/types/params.pb.go
  x/observer/types/tx.pb.go
  zetaclient/chains/evm/observer/inbound.go
Labels: breaking:proto, breaking:cli, UPGRADE_TESTS, ADMIN_TESTS, PERFORMANCE_TESTS, CONSENSUS_BREAKING_ACK, LEGACY_TESTS
